<div class="content" id="compareSection" style="display: none;">
    <div class="row">
        <div class="col-sm-4  relative text-center" style="max-height: 40vw;" id="cPProductPreview"></div>
        <div class="col-sm  relative text-center" style="max-height: 40vw;" id="cPProductPreview">
            <div></div>
            <div>
                <h4 class="text-center" style="text-align: center;border-bottom: 1px solid #333;line-height: 0;padding: 0; margin:1vw 0vw;">
                    <span class="bg-white padding-2v all-caps ">Similar products with better prices</span>
                </h4>
                <ol class=""></ol></div>
        </div>
    </div>
</div>