<section class="p-b-75 p-t-1v xs-p-b-20 relative b-t " style="background: linear-gradient(to top, rgba(255,255,255,0.98) 30%, rgba(255,255,255,0.9), rgba(255,255,255,0.85), rgba(255,255,255,0.75)); z-index:100;" id="footer">
    <div class="container">
    <div class="row b-b bg-image relative "  style="background-image:url('/images/footer/blimedlem2.jpg'); ">

            <div class="col-xs p-t-30 p-b-30 text-center " >
                <h2 class="medium text-spaced-medium">BLI MEDLEM</h2>
                <div id="BLI MEDLEM">
                    <h4 class=" text-spaced all-caps">få de senaste <font class="text-velvet">s</font>tylesen till det bästa <font class="text-velvet">p</font>riset</h4>
                    <!--<form id="newsletterSignupForm" action="/newsletter-signup">
                        <input name="email" type="email" id="newsletterSignupEmail"/>
                    </form>-->
                    <btn class="btn btn-info p-r-50 p-l-50"  id="footerSignUPButton"> gå med</btn>
                </div>
            </div>
    </div>

    <div class="row p-b-1v relative hidden-xs" id="informationFooterSection" >
        <div class="col-xs text-center padding-5">
            <h4 class=" text-spaced  bold capitalize">Brantu | bringing brands to you</h4>
            <h5 class=" " >
                Vi är en prisjämförelsesajt som samlar alla modebutiker på en plats.<br/>Med oss hittar du relaterade produkter och <font class="text-velvet">stilar</font> till det bästa <font class="text-velvet">priset</font>.
                <font class="hidden">Jämför priser | det bästa pris | hitta produkter till rät pris | </font>
                <!-- Brantu is a clothing search engine with aim to provide best price <br/>through comparing thousands of products from multiple online shops.-->
            </h5>
        </div>
    </div>

    <div class="no-padding full-width" id="siteMapFooterSection" >
        <div class=" p-xs-b-50">
            <div class="row no-margin no-padding center-xs">
                <div class="text-center col-sm col-xs-5 no-margin no-padding no-overflow-text">
                   <h5 class=" text-uppercase text-black text-spaced p-b-10 sbold">Brantu </h5>
                   <ul class="no-style no-overflow-text no-margin no-padding">
                       <li class="m-b-5  m-xs-b-0 no-padding "><a class="dark " href="/">Hem</a></li>
                       <li class="m-b-5  m-xs-b-0  no-padding "><a class="dark " href="/jobs">Karriär på Brantu</a></li>
                       <li class="m-b-5  m-xs-b-0  no-padding "><a class="dark " href="/about-us">Om Brantu</a></li>
                       <li class="m-b-5  m-xs-b-0 no-padding "><a class="dark " href="/contact-us">Kontakta oss</a></li>
                       <li class="m-b-5  m-xs-b-0 no-padding "><a class="dark " href="/privacy-policy">Integritetspolicy</a></li>
                       <li class="m-b-5  m-xs-b-0  no-padding "><a class="dark " href="/terms-and-conditions">Terms of Use</a></li>
                   </ul>
               </div>
            {{#each categoryTree}}
                {{#if (compareStrings this.department.name ../selectedDepartment)}}
                <div class="text-center col-sm col-xs-5 no-margin no-padding no-overflow-text">
                    <h5 class=" text-uppercase text-spaced text-black p-b-10 sbold">Kategorier </h5>
                    <ul class="no-style no-margin no-padding">
                        {{#each categories}}
                        <li class="m-b-5   m-xs-b-0  no-padding "><a class="dark" data-department-explore = "{{this.department.name}}"  href="{{category.url}}">{{andfixer this.category.name}}</a></li>
                        {{/each}}
                    </ul>
                </div>
                    {{/if}}
            {{/each}}

            {{#if (compareStrings 'kvinna' selectedDepartment)}}
                <div class="text-center col-sm col-xs-5">
                    <h5 class="font-GothamBold text-uppercase text-spaced no-overflow-text text-black p-b-10 sbold hidden-xs">Populära Styles </h5>
                    <h5 class="hiidden font-GothamBold text-uppercase text-spaced no-overflow-text text-black p-b-10 sbold visible-xs">Styles </h5>
                    <ul class="no-style no-margin no-padding">
                        <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize"  href="/kvinna/kläder/jackor/?&style=bomber_jackets">Bomber Jackets</a></li>
                        <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize"  href="/kvinna/kläder/klänningar-jumpsuits/">Party Jumpsuits</a></li>
                        <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize"  href="/kvinna/kläder/badmode/?&style=beach_playsuits">Beach Playsuits</a></li>
                        <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize" href="/kvinna/skor/sandaler_˜_sandaletter/">SANDALER & SANDALETTER</a></li>
                        <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize"  href="/kvinna/accessoarer/solglasögon/?&style=round">runda solglasögon</a></li>

                    </ul>
                </div>
            {{else}}
                    <div class="text-center col-sm col-xs-5">
                        <h5 class="font-GothamBold text-uppercase text-spaced no-overflow-text text-black p-b-10 sbold hidden-xs">Populära Styles </h5>
                        <h5 class="hiidden font-GothamBold text-uppercase text-spaced no-overflow-text text-black p-b-10 sbold visible-xs">Styles </h5>
                        <ul class="no-style no-margin no-padding">
                            <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize" href="/man/kläder/byxor_˜_shorts-chinos/">Chinos</a></li>
                            <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize" href="man/kläder/kostymer-kavajer/">Kavajer</a></li>
                            <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize" href="/man/skor/låga_skor-loafers/">Loafers</a></li>
                            <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize" href="/man/accessoarer/solglasögon/?&style=wayfarer_˜_square">Wayfarer Solglasögon</a></li>
                            <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize" href="/man/kläder/skjortor/?&style=jeans">Jeans Shirts</a></li>

                        </ul>
                    </div>
            {{/if}}


               <div class="text-center col-sm col-xs-5">
                   <h5 class="font-GothamBold text-uppercase text-spaced no-overflow-text text-black p-b-10 sbold hidden-xs">Populära Märken </h5>
                   <h5 class="font-GothamBold text-uppercase text-spaced no-overflow-text text-black p-b-10 sbold visible-xs">Märken </h5>
                   <ul class="no-style no-margin no-padding">
                       <li class="m-b-5  m-xs-b-0  "><a class="dark" href="/märken/nike">Nike</a></li>
                       <li class="m-b-5  m-xs-b-0  "><a class="dark" href="/märken/filippa_k">Fillipa K</a></li>
                       <li class="m-b-5  m-xs-b-0  "><a class="dark" href="/brand/tiger_of_sweden">Tiger of Sweden Jeans</a></li>
                       <li class="m-b-5  m-xs-b-0  "><a class="dark " href="/brand/diesel">Diesel</a></li>
                       <li class="m-b-5  m-xs-b-0  "><a class="dark" href="/brand/adidas_originals">Adidas Original</a></li>

                   </ul>
               </div>
        </div>
        </div>
   </div>
    <div class="container-fluid container-fixed-lg footer" id="footerFooterSection" style="background: rgba(51, 27, 43, 0.84)">

        <div class="copyright sm-text-center text-white">
            <p class="small no-margin pull-left sm-pull-reset">
                <span class="hint-text">Copyright © 2016 </span>
                <span class="font-montserrat">BRANTU</span>.
                <span class="hint-text">All rights reserved. </span>
                <span class="sm-block"><a href="/terms-and-conditions" class="m-l-10 m-r-10 text-pink">Terms of use</a> | <a href="/privacy-policy" class="m-l-10 text-pink">Integritetspolicy</a></span>
            </p>
            <p class="small no-margin text-pink pull-right sm-pull-reset">
                <a class="text-pink" href="/about-us">Hand-crafted</a> <span class="">&amp; Made with Love ®</span>
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</section>


<div class="hidden" id="tutorialPopup" style=" position: fixed; top:0; bottom:0; right:0; left:0; z-index:1200; background: rgba(0,0,0,0.8);">
    <style>
        @font-face {
            font-family: 'Sharp Sans Bold';
            src: url('/fonts/sharp/Sharp-Bold.eot?#iefix') format('embedded-opentype'),
            url('/fonts/sharp/Sharp-Bold.woff') format('woff'),
            url('/fonts/sharp/Sharp-Bold.ttf') format('truetype'),
            url('/fonts/sharp/Sharp-Bold.svg#Sharp-Bold') format('svg');
        }
        @font-face {
            font-family: 'Sharp Sans Light';
            src: url('/fonts/sharp/Sharp-Light.eot?#iefix') format('embedded-opentype'),
            url('/fonts/sharp/Sharp-Light.woff') format('woff'),
            url('/fonts/sharp/Sharp-Light.ttf') format('truetype'),
            url('/fonts/sharp/Sharp-Light.svg#SharpSansLight') format('svg');
        }
        @font-face {
            font-family: 'Sharp Sans Bold';
            src: url('/fonts/sharp/Sharp-Bold.eot?#iefix') format('embedded-opentype'),
            url('/fonts/sharp/Sharp-Bold.woff') format('woff'),
            url('/fonts/sharp/Sharp-Bold.ttf') format('truetype'),
            url('/fonts/sharp/Sharp-Bold.svg#SharpSansBold') format('svg');
        }
        @font-face {
            font-family: 'Sharp Sans Book';
            src: url('/fonts/sharp/Sharp-Book.eot?#iefix') format('embedded-opentype'),
            url('/fonts/sharp/Sharp-Book.woff') format('woff'),
            url('/fonts/sharp/Sharp-Book.ttf') format('truetype'),
            url('/fonts/sharp/Sharp-Book.svg#SharpSansBook') format('svg');
        }

        .tutorialPopupWrapper{
            padding-top:80px;
        }

        @media (max-width: 480px){
            .tutorialPopupWrapper{
                padding-top:20px;
            }
        }
    </style>
    <div class="full-width full-height relative">
        <div class="close hidden-xs top-right text-white p-r-40 p-t-40"><i class="pg-close fa-2x"></i></div>
        <div class="close visible-xs top-right text-black p-r-30 p-t-20" style="z-index:1000;"><i class="pg-close fa-2x"></i></div>

        <div class=" tutorialPopupWrapper">
            <div id="brantu_hype_container" style="margin:auto;position:relative;width:320px;height:568px;overflow:hidden;" aria-live="polite">
                <script type="text/javascript">
                    function downloadJSAtOnload() {
                        var element = document.createElement("script");
                        element.src = "/Brantu.hyperesources/brantu_hype_generated_script.js?83662";
                        document.body.appendChild(element);
                    }
                    if (window.addEventListener)
                        window.addEventListener("load", downloadJSAtOnload, false);
                    else if (window.attachEvent)
                        window.attachEvent("onload", downloadJSAtOnload);
                    else window.onload = downloadJSAtOnload;
                </script>
            </div>
        </div>
    </div>
</div>
