<section class="p-b-75 p-t-1v xs-p-b-20 content relative b-t" style="background: linear-gradient(to top, rgba(255,255,255,0.98) 30%, rgba(255,255,255,0.9), rgba(255,255,255,0.85), rgba(255,255,255,0.75)); z-index:100;" id="footer">

    <div class="row b-b bg-image relative" style="background-image:url('/images/footer/blimedlem2.jpg'); background-position:0px -80px; ">

        <div class="col-xs p-t-30 p-b-30 text-center" style="background: rgba(51,51,51,0.4);">
            <h1 class="medium text-white text-spaced-medium">BLI MEDLEM</h1>
            <div id="BLI MEDLEM">
                <h4 class="text-white text-spaced all-caps">få de senaste <font class="text-velvet">s</font>tylesen till det bästa <font class="text-velvet">p</font>riset</h4>
                <!--<form id="newsletterSignupForm" action="/newsletter-signup">
                    <input name="email" type="email" id="newsletterSignupEmail"/>
                </form>-->
                <btn class="btn btn-default p-r-50 p-l-50"  id="footerSignUPButton"> gå med</btn>
            </div>
        </div>
    </div>

    <div class="row p-b-1v relative hidden-xs" id="informationFooterSection" >
        <div class="col-xs text-center padding-5">
            <h2 class=" text-spaced  all-caps"> bringing brands to you</h2>
            <h5 class=" " >
                Vi är en prisjämförelsesajt som samlar alla modebutiker på en plats.<br/>Med oss hittar du relaterade produkter och <font class="text-velvet">stilar</font> till det bästa <font class="text-velvet">priset</font>.
                <!-- Brantu is a clothing search engine with aim to provide best price <br/>through comparing thousands of products from multiple online shops.-->
            </h5>
            <div class="b-b hidden-xs bg-white"style="">
                <div class="row p-t-10">
                    <div class="col-xs-4 ">
                        <div class="row">
                            <div class="col-xs  text-right hidden-sm hidden-xs"><img  src="/images/nav/lookbook_black.png"   width="44"/></div>
                            <div class="col-xs pull-xs-left text-center visible-sm visible-xs"><img  src="/images/nav/lookbook_black.png"   width="44"/></div>
                            <div class="col-md-8 hidden-sm hidden-xs text-left"><p class="bold text-black">Jämför och hitta det <br/>bästa priset inom mode</p></div >
                        </div>
                    </div>
                    <div class="col-xs-4 ">
                        <div class="row">
                            <div class="col-xs text-right hidden-sm hidden-xs"><img  src="/images/nav/explore_black.png"   width="44"/></div>
                            <div class="col-xs text-center visible-sm visible-xs"><img  src="/images/nav/explore_black.png"   width="44"/></div>
                            <div class="col-md-8 hidden-sm hidden-xs text-left"><p class="bold text-black ">+100 000 styles <br/>+3000 märken</p></div >
                        </div>
                    </div>
                    <div class="col-xs ">
                        <div class="row">
                            <div class="col-xs text-right hidden-sm hidden-xs" style="padding-top: 7px;"><img  src="/images/nav/search_filled.png"   width="60"/></div>
                            <div class="col-xs text-center visible-sm visible-xs"><img  src="/images/nav/search_filled.png"   width="40"/></div>
                            <div class="col-md-8 hidden-sm hidden-xs text-left"><p class="bold text-black ">Blixtsnabb <br/>sökning</p></div >
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="no-padding full-width" id="siteMapFooterSection" >
        <div class=" p-xs-b-50">
            <div class="row no-margin no-padding center-xs">
                <div class="text-center col-sm col-xs-5 no-margin no-padding no-overflow-text">
                   <h5 class=" text-uppercase text-black text-spaced p-b-10 sbold">Brantu </h5>
                   <ul class="no-style no-overflow-text no-margin no-padding">
                       <li class="m-b-5  m-xs-b-0 no-padding "><a class="dark " href="/">Hem</a></li>
                       <li class="m-b-5  m-xs-b-0  no-padding "><a class="dark " href="/join-shop">För annonsörer</a></li>
                       <li class="m-b-5  m-xs-b-0  no-padding "><a class="dark " href="/about-us">Om oss</a></li>
                       <li class="m-b-5  m-xs-b-0 no-padding "><a class="dark " href="/contact-us">Kontakta oss</a></li>
                       <li class="m-b-5  m-xs-b-0 no-padding "><a class="dark " href="/privacy-policy">Integritetspolicy</a></li>
                       <li class="m-b-5  m-xs-b-0  no-padding "><a class="dark " href="/terms-and-conditions">Terms of Use</a></li>
                   </ul>
               </div>
            {{#each categoryTree}}
                {{#if (compareStrings this.department.name ../selectedDepartment)}}
                <div class="text-center col-sm col-xs-5 no-margin no-padding no-overflow-text">
                    <h5 class=" text-uppercase text-spaced text-black p-b-10 sbold">Kategorier </h5>
                    <ul class="no-style no-margin no-padding">
                        {{#each categories}}
                        <li class="m-b-5   m-xs-b-0  no-padding "><a class="dark" data-department-explore = "{{this.department.name}}"  href="{{category.url}}">{{andfixer this.category.name}}</a></li>
                        {{/each}}
                    </ul>
                </div>
                    {{/if}}
            {{/each}}

            {{#if (compareStrings 'kvinna' selectedDepartment)}}
                <div class="text-center col-sm col-xs-5">
                    <h5 class="font-GothamBold text-uppercase text-spaced no-overflow-text text-black p-b-10 sbold hidden-xs">Populära Styles </h5>
                    <h5 class="hiidden font-GothamBold text-uppercase text-spaced no-overflow-text text-black p-b-10 sbold visible-xs">Styles </h5>
                    <ul class="no-style no-margin no-padding">
                        <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize"  href="/kvinna/kläder/jackor/?&style=bomber_jackets">Bomber Jackets</a></li>
                        <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize"  href="/kvinna/kläder/klänningar-jumpsuits/">Party Jumpsuits</a></li>
                        <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize"  href="/kvinna/kläder/badmode/?&style=beach_playsuits">Beach Playsuits</a></li>
                        <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize" href="/kvinna/skor/sandaler_˜_sandaletter/">SANDALER & SANDALETTER</a></li>
                        <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize"  href="/kvinna/accessoarer/solglasögon/?&style=round">runda solglasögon</a></li>

                    </ul>
                </div>
            {{else}}
                    <div class="text-center col-sm col-xs-5">
                        <h5 class="font-GothamBold text-uppercase text-spaced no-overflow-text text-black p-b-10 sbold hidden-xs">Populära Styles </h5>
                        <h5 class="hiidden font-GothamBold text-uppercase text-spaced no-overflow-text text-black p-b-10 sbold visible-xs">Styles </h5>
                        <ul class="no-style no-margin no-padding">
                            <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize" href="/man/kläder/byxor_˜_shorts-chinos/">Chinos</a></li>
                            <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize" href="man/kläder/kostymer-kavajer/">Kavajer</a></li>
                            <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize" href="/man/skor/låga_skor-loafers/">Loafers</a></li>
                            <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize" href="/man/accessoarer/solglasögon/?&style=wayfarer_˜_square">Wayfarer Solglasögon</a></li>
                            <li class="m-b-5  m-xs-b-0  "><a class="dark capitalize" href="/man/kläder/skjortor/?&style=jeans">Jeans Shirts</a></li>

                        </ul>
                    </div>
            {{/if}}


               <div class="text-center col-sm col-xs-5">
                   <h5 class="font-GothamBold text-uppercase text-spaced no-overflow-text text-black p-b-10 sbold hidden-xs">Populära Märken </h5>
                   <h5 class="font-GothamBold text-uppercase text-spaced no-overflow-text text-black p-b-10 sbold visible-xs">Märken </h5>
                   <ul class="no-style no-margin no-padding">
                       <li class="m-b-5  m-xs-b-0  "><a class="dark" href="/märken/nike">Nike</a></li>
                       <li class="m-b-5  m-xs-b-0  "><a class="dark" href="/märken/filippa_k">Fillipa K</a></li>
                       <li class="m-b-5  m-xs-b-0  "><a class="dark" href="/brand/tiger_of_sweden">Tiger of Sweden Jeans</a></li>
                       <li class="m-b-5  m-xs-b-0  "><a class="dark " href="/brand/diesel">Diesel</a></li>
                       <li class="m-b-5  m-xs-b-0  "><a class="dark" href="/brand/adidas_originals">Adidas Original</a></li>

                   </ul>
               </div>
        </div>
        </div>
   </div>
    <div class="container-fluid container-fixed-lg footer" id="footerFooterSection" style="background: rgba(51, 27, 43, 0.84)">

        <div class="copyright sm-text-center text-white">
            <p class="small no-margin pull-left sm-pull-reset">
                <span class="hint-text">Copyright © 2016 </span>
                <span class="font-montserrat">BRANTU</span>.
                <span class="hint-text">All rights reserved. </span>
                <span class="sm-block"><a href="/terms-and-conditions" class="m-l-10 m-r-10 text-pink">Terms of use</a> | <a href="/privacy-policy" class="m-l-10 text-pink">Integritetspolicy</a></span>
            </p>
            <p class="small no-margin text-pink pull-right sm-pull-reset">
                <a class="text-pink" href="/about-us">Hand-crafted</a> <span class="">&amp; Made with Love ®</span>
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
