<section class="p-b-55 p-t-1v xs-p-b-20 content" style="background: linear-gradient(to top,  #757F9A , #000); z-index:100; position: relative;" id="footer">

    <div class="container no-padding full-width ">
        <div class="row">
               <div class="col-xs-2 col-xs-offset-3 text-center">

                   <div class="inline">
                       <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="30px" height="30px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                        <g>
                            <path fill="none" stroke="#FFFFFF" stroke-width="2.0748" stroke-miterlimit="10" d="M22.213,25.179L1.73,35.89
                                c-1.17,0.612-0.735,2.382,0.585,2.382h45.19c1.32,0,1.755-1.77,0.585-2.382L27.607,25.179
                                C25.918,24.295,23.903,24.295,22.213,25.179z"/>
                            <path fill="none" stroke="#FFFFFF" stroke-width="2.0748" stroke-miterlimit="10" d="M20.773,16.788
                                c0-2.285,1.852-4.137,4.137-4.137c2.285,0,4.137,1.852,4.137,4.137c0,2.285-1.852,4.137-4.137,4.137v3.591"/>
                        </g>
                        </svg>
                   </div>
                    <div class="text-white bold">Shop</div>
               </div>
               <div class="col-xs-2 text-center text-white"  style="font-size:32px;"> &amp;</div>
               <div class="col-xs-2 text-center">
                    <div class="inline">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="30px" height="30px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                        <g>
                            <path fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                M20.021,24.759H3.75c-1.1,0-2-0.9-2-2v-6.282c0-1.1,0.9-2,2-2h42.5c1.1,0,2,0.9,2,2v6.282c0,1.1-0.9,2-2,2H29.934"/>
                            <path fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                M29.602,24.759h13.4c1.1,0,2,0.9,2,2V46.25c0,1.1-0.9,2-2,2H6.998c-1.1,0-2-0.9-2-2V26.759c0-1.1,0.9-2,2-2h13.4"/>
                            <g>
                                <path fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                    M25.345,13.423c0.841-3.656,2.195-6.757,4.771-9.496c1.418-1.507,5.221-3.466,6.775-1.016c1.294,2.039,0.905,5.515,0.075,7.672
                                    c-1.029,2.674-5.752,1.58-8.156,2.388c-0.596,0.2-3.385,1.909-3.465,0.83"/>
                                <path fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                    M24.655,13.423c-0.841-3.656-2.195-6.757-4.771-9.496c-1.418-1.507-5.221-3.466-6.775-1.016c-1.294,2.039-0.905,5.515-0.075,7.672
                                    c1.029,2.674,5.752,1.58,8.156,2.388c0.596,0.2,3.385,1.909,3.465,0.83"/>
                            </g>
                            <g>

                                    <line fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="20.399" y1="14.477" x2="20.399" y2="47.747"/>

                                    <line fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="29.602" y1="14.477" x2="29.602" y2="47.747"/>
                            </g>
                        </g>
                        </svg>
                    </div>
                    <div class="text-white bold">Give</div>
                </div>
        </div>
        <div class="block auto-margin padding-2v">
            <div class="row ">
                   <!--
                    <div style="position: absolute; z-index: 0; top: 0; bottom: 0; left: 38%; opacity:0.3;">
                        <img src="/images/heart.svg" style="width:23vw"/>
                    </div>-->
                <div class="text-center col-xs">
                   <h6 class=" text-uppercase fs-14 text-white text-spaced p-b-10 sbold">Brantu </h6>
                   <ul class="no-style">
                       <li class="m-b-5 no-padding bold"><a class="link text-pink-darker" href="/">Hem</a></li>
                       <li class="m-b-5 no-padding bold"><a class="link text-pink-darker " href="/cashback-to-society">om Cash Back to Society</a></li>
                       <li class="m-b-5 no-padding bold"><a class="link text-pink-darker" href="join-shop">För annonsörer</a></li>
                       <li class="m-b-5 no-padding bold"><a class="link text-pink-darker" href="join-charity">För välgörenhetsorganisationer</a></li>
                       <li class="m-b-5 no-padding bold"><a class="link text-pink-darker" href="#">Privacy</a></li>
                       <li class="m-b-5 no-padding bold"><a class="link text-pink-darker" href="#">Legal</a></li>
                       <li class="m-b-5 no-padding bold"><a class="link text-pink-darker" href="#">Jobb</a></li>
                   </ul>
               </div>
            {{#each categoryTree}}
                <div class="text-center col-xs">
                    <h6 class=" text-uppercase fs-14 text-spaced text-white p-b-10 sbold">{{this.department.name}} </h6>
                    <ul class="no-style">
                        {{#each categories}}
                        <li class="m-b-5 no-padding bold"><a class="link text-pink-darker " href="/shop/{{this.category.key}}">{{andfixer this.category.name}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            {{/each}}

               <div class="text-center col-xs">
                   <h6 class="font-GothamBold text-uppercase fs-14 text-spaced text-white p-b-10 sbold">Märke </h6>
                   <ul class="no-style">
                       <li class="m-b-5 no-padding bold"><a class="link  text-pink-darker" href="/brand/Nike%20Performance">Nike</a></li>
                       <li class="m-b-5 no-padding bold"><a class="link text-pink-darker" href="/brand/adidas%20Performance">Adidas</a></li>
                       <li class="m-b-5 no-padding bold"><a class="link text-pink-darker" href="/brand/J.LINDEBERG">J.Lindberg</a></li>
                       <li class="m-b-5 no-padding bold"><a class="link text-pink-darker" href="/brand/Diesel">Diesel</a></li>
                       <li class="m-b-5 no-padding bold"><a class="link text-pink-darker" href="/brand/Scotch%20Shrunk">Scotch Shrunk</a></li>

                   </ul>
               </div>

                <div class="col-sm-12 text-center padding-1v ">
                    <h6 class="bold text-pink-dark">BRANTU är en platform för nätshopping inom mode, där en del av inköpspriset alltid går till valfri välgörenhetsorganisation.</h6>

                </div>

                <div class="col-sm-12 b-t b-b b-grey" >
                    <a href="/join-shop"><div class="col-md-6" style="margin: 1vw 0;">
                        <div class="bg-image" style="background-image:url('/images/footer/affiliate.jpg'); height:14vw; background-position: center;">
                            <div class=" top-right  all-caps" style=" right:4vw; top:4vw;">
                                <svg id="circle" style="width: 14vw; height:14vw;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                    <image x="0" y="0" style="width: 14vw; height: 14vw;"  xlink:href="/images/footer/affiliates-stroke.svg" />
                                </svg>
                            </div>

                            <div class=" col-md-8 full-height" style="background:linear-gradient(to right,rgba(238,211,211,0.99), rgba(238,211,211,0));">
                                <div class="col-md-6 m-t-1v">
                                    <h5 class="text-spaced bold fs-15"> Affiliation Program  </h5>
                                    <p class="font-sharp text-black bold fs-11">Kontakta oss om ni vill exponera era produkter mot våra modemedvetna medlemmar & besökare.</p>
                                </div>
                            </div>
                        </div>
                    </div></a>


                    <a href="/join-charity">
                        <div class="col-md-6" style="margin: 1vw 0;">
                        <div class="bg-image" style="background-image:url('/images/footer/charity.jpg'); height:14vw; background-position: 10% 10%;">
                            <div class="top-left  all-caps" style="font-size: 5vw; top:1vw; left:3vw; ">
                                <svg id="circle" style="width: 8vw; height:10vw;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                    <image x="0" y="0" style="width: 8vw; height: 10vw;"  xlink:href="/images/footer/charity-stroke.svg" />
                                </svg>
                            </div>

                            <div class="col-md-8 col-md-offset-4 full-height" style="background:linear-gradient(to left,rgba(98,98,98,0.99), rgba(98,98,98,0));">
                                <div class="col-sm-7 col-sm-offset-5 m-t-1v">
                                    <h5 class="text-spaced text-white bold fs-15"> Bli samarbetspartner</h5>
                                    <p class="font-sharp text-white bold fs-11">Söker er välgörenhetsorganisation extra stöd?</p>

                                </div>
                            </div>
                        </div>
                    </div></a>
                </div>


        </div>
        </div>





   <div class="container-fluid container-fixed-lg footer " style="background: rgba(51,21,21,0.44)">

       <div class="copyright sm-text-center text-white">
           <p class="small no-margin pull-left sm-pull-reset">
               <span class="hint-text">Copyright © 2016 </span>
               <span class="font-montserrat">BRANTU</span>.
               <span class="hint-text">All rights reserved. </span>
               <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
           </p>
           <p class="small no-margin pull-right sm-pull-reset">
               <a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love ®</span>
           </p>
           <div class="clearfix"></div>
       </div>
   </div>



   </div>



</section>
