<section class="p-b-55 p-t-1v xs-p-b-20 content relative b-t" style="background: linear-gradient( to top,rgba(117,127,154,0.7) , #FAEBD7, #fff); z-index:100;" id="footer">


        <div class="top-left bottom-right" style="top:10%; ">
            <div class="row">
            <div class=" col-sm-4 text-center">
            </div>
            <div class=" col-sm-4 text-center">
                <img src="/images/heart.svg" class="full-width" style="opacity: 0.5;"/>
            </div>
            <div class=" col-sm-4 text-center">
            </div>
            </div>
        </div>

        <div class="row p-b-1v">
            <div class="col-sm-1"></div>
            <div class="col-sm text-center">
                <h2 class=" text-spaced  all-caps" style="padding-bottom: 1%;"> bringing brands to you</h2>
                <p class=" p-t-1v p-b-1v b-b b-t" style="padding-left: 1vw; padding-right: 1vw;">
                    Vi på Brantu.com  samlar alla nätbutiker som brinner för mode.
                    På vår hemsida kan du söka bland de senaste trenderna och inspireras av våra nätbutikers enorma utbud.
                    Med vår blixtsnabba sökning gör vi det enkelt och bekvämt att shoppa kläder online.
                    Oavsett om du söker klänningar, skjortor, accessoarer eller sportartiklar så finner du det du söker hos oss.
                    Vi har allt som fulländar din stil! Självklart ser vi till att du kan jämföra priser för att få det bästa priset på plagget söker.
                    Maximera din shopping upplevelse med BRANTU.com.
                    För varje produkt du handlar genom oss, går en del av inköpspriset alltid till välgörenhet.
                    Vi satsar på det största utbudet som passar den modemedvetna personen.
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="container no-padding full-width ">
        <div class="block auto-margin padding-2v">
            <div class="row ">
                <div class="text-center col-xs">
                   <h6 class=" text-uppercase fs-14 text-black text-spaced p-b-10 sbold">Brantu </h6>
                   <ul class="no-style">
                       <li class="m-b-5 no-padding bold"><a class="dark" href="/">Hem</a></li>
                       <li class="m-b-5 no-padding bold"><a class="dark" href="/cashback-to-society">om Cash Back to Society</a></li>
                       <li class="m-b-5 no-padding bold"><a class="dark" href="join-shop">För annonsörer</a></li>
                       <li class="m-b-5 no-padding bold"><a class="dark" href="join-charity">För välgörenhetsorganisationer</a></li>
                       <li class="m-b-5 no-padding bold"><a class="dark" href="#">Privacy</a></li>
                       <li class="m-b-5 no-padding bold"><a class="dark" href="#">Legal</a></li>
                       <li class="m-b-5 no-padding bold"><a class="dark" href="#">Jobb</a></li>
                   </ul>
               </div>
            {{#each categoryTree}}
                <div class="text-center col-xs">
                    <h6 class=" text-uppercase fs-14 text-spaced text-black p-b-10 sbold">{{this.department.name}} </h6>
                    <ul class="no-style">
                        {{#each categories}}
                        <li class="m-b-5 no-padding bold"><a class="dark" href="/shop/{{this.category.key}}">{{andfixer this.category.name}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            {{/each}}

               <div class="text-center col-xs">
                   <h6 class="font-GothamBold text-uppercase fs-14 text-spaced text-black p-b-10 sbold">Märke </h6>
                   <ul class="no-style">
                       <li class="m-b-5 no-padding bold"><a class="dark" href="/brand/Nike%20Performance">Nike</a></li>
                       <li class="m-b-5 no-padding bold"><a class="dark" href="/brand/adidas%20Performance">Adidas</a></li>
                       <li class="m-b-5 no-padding bold"><a class="dark" href="/brand/J.LINDEBERG">J.Lindberg</a></li>
                       <li class="m-b-5 no-padding bold"><a class="dark" href="/brand/Diesel">Diesel</a></li>
                       <li class="m-b-5 no-padding bold"><a class="dark" href="/brand/Scotch%20Shrunk">Scotch Shrunk</a></li>

                   </ul>
               </div>

                <div class="col-sm-12 text-center padding-1v ">
                    <h6 class="bold text-info">BRANTU är en platform för nätshopping inom mode, där en del av inköpspriset alltid går till valfri välgörenhetsorganisation.</h6>

                </div>

                <div class="col-sm-12 b-t b-b b-grey" >
                    <a href="/join-shop"><div class="col-md-6" style="margin: 1vw 0;">
                        <div class="bg-image" style="background-image:url('/images/footer/affiliate.jpg'); height:14vw; background-position: center;">
                            <div class=" top-right  all-caps" style=" right:4vw; top:4vw;">
                                <svg id="circle" style="width: 14vw; height:14vw;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                    <image x="0" y="0" style="width: 14vw; height: 14vw;"  xlink:href="/images/footer/affiliates-stroke.svg" />
                                </svg>
                            </div>

                            <div class=" col-md-8 full-height" style="background:linear-gradient(to right,rgba(238,211,211,0.99), rgba(238,211,211,0));">
                                <div class="col-md-6 m-t-1v">
                                    <h5 class="text-spaced bold fs-15"> Affiliation Program  </h5>
                                    <p class="font-sharp text-black bold fs-11">Kontakta oss om ni vill exponera era produkter mot våra modemedvetna medlemmar & besökare.</p>
                                </div>
                            </div>
                        </div>
                    </div></a>


                   <!-- <a href="/join-charity">
                        <div class="col-md-6" style="margin: 1vw 0;">
                        <div class="bg-image" style="background-image:url('/images/footer/charity.jpg'); height:14vw; background-position: 10% 10%;">
                            <div class="top-left  all-caps" style="font-size: 5vw; top:1vw; left:3vw; ">
                                <svg id="circle" style="width: 8vw; height:10vw;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                    <image x="0" y="0" style="width: 8vw; height: 10vw;"  xlink:href="/images/footer/charity-stroke.svg" />
                                </svg>
                            </div>

                            <div class="col-md-8 col-md-offset-4 full-height" style="background:linear-gradient(to left,rgba(98,98,98,0.99), rgba(98,98,98,0));">
                                <div class="col-sm-7 col-sm-offset-5 m-t-1v">
                                    <h5 class="text-spaced text-white bold fs-15"> Bli samarbetspartner</h5>
                                    <p class="font-sharp text-white bold fs-11">Söker er välgörenhetsorganisation extra stöd?</p>

                                </div>
                            </div>
                        </div>
                    </div></a>-->
                </div>


        </div>
        </div>





   <div class="container-fluid container-fixed-lg footer " style="background: rgba(51,21,21,0.44)">

       <div class="copyright sm-text-center text-white">
           <p class="small no-margin pull-left sm-pull-reset">
               <span class="hint-text">Copyright © 2016 </span>
               <span class="font-montserrat">BRANTU</span>.
               <span class="hint-text">All rights reserved. </span>
               <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
           </p>
           <p class="small no-margin pull-right sm-pull-reset">
               <a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love ®</span>
           </p>
           <div class="clearfix"></div>
       </div>
   </div>



   </div>



</section>
