<div class="loading full-height" style="display: none;">
    <div class="fixed bgBlurEffect" style="z-index:200; top:0; bottom:0;  right: 0; left: 0; background: rgba(238,211,211,0.5);">
        <div class="text-center" style="padding-top: 30vw;" >
            <div class=" text-center ">
                <img src="/images/progress/progress-circle-master.svg" style="width:9vw; height: 9vw">
            </div>
        </div>
    </div>
</div>

<div class="searchMainPageOverlay full-height"  style="display: none;" >
    <div class="fixed bgBlurEffect" style="z-index:200; top:0; bottom:0;  right: 0; left: 0; background: rgba(151,151,151,0.3);">
    </div>
</div>