<div class="loading content" style="display: none">
    <div class="full-width " style="height: 60vw;">
        <div class="text-center" style="padding-top: 30vw;">
            <div class=" text-center ">
                <img src="/images/progress/progress-circle-lg-master.svg" style="width:9vw; height: 9vw">
            </div>
        </div>
    </div>
</div>