<div class="loading" style="display: none;">
    <div class="fixed bgBlurEffect" style="z-index:1200; top:0; bottom:0;  right: 0; left: 0; background: rgba(246,246,246,1);">
        <div class="text-center" style="padding-top: 25vw;" >
            <div class=" text-center ">
                <img src="/images/progress/progress-circle-danger.svg" style="width:120px; height: 120px;">
            </div>
        </div>
    </div>
</div>

<div class="searchMainPageOverlay"  style="display: none;" >
    <div class="fixed bgBlurEffect ">
    </div>
</div>