<div class="loading">
<div class="full-width">
    <div class="text-center ">
        <div class=" text-center ">
            <h5 class="bold" style="color:#ddd;">Loading</h5>
            <img src="/images/loading.svg" style="width:4vw;">
            </div>
        </div>
    </div>
</div>