
<div class="resultContainer">
    <div class="facetPane " id="mainFacetPane">
        <div class="facetContainer" id="mainFacetContainer">
            <div class="facetWrapper padding-1v" style="">
                <div class="facet-header">

                </div>

                <div class="facets" id="primaryFacets">

                    <div class="category"></div>
                    <div>
                        <h5>
                            <span class="bg-white text-left all-caps ">Pris</span>
                        </h5>
                        <div id="pricerange"></div>
                        <div class="sale"></div>
                        <div class="discounts"></div>
                    </div>
                    <div class="sizes refinement" ></div>
                    <div class="brands refinement" ></div>
                    <div class="colors refinement" ></div>
                    <div class="shops refinement" ></div>
                </div>

            </div>
        </div>
    </div>
    <div class="productPane">
        <div class="productPreview">
            <div class="filterTags"></div>
            <!--<input class="filtertags"/>-->
            <ol class="itemList vertical">



            </ol>

        </div>

        <div class="jawBoneContent" id="jawbone">
            <div class="jawBoneOpenContainer">
                <div class="jawBoneFadeInPlaceContainer">
                    <div class="jawBoneContainer">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="/javascripts/templates.js"></script>




