<div id="AuthenticationPopUp" class="hidden authenticationPopUp" style=" ">
    <div class="registerContainer " style="margin-top: 50px;">
        <div class="registerCard">
            <h1 class="title text-center">
                <div class="">
                    <img src="/images/brantublacklogo.svg" alt="logo" class="authenticateLogo" />
                </div>
                Login
                <div class="close close-AuthenticationPopUp"></div>
            </h1>
           <!-- <div class="button-container padding-1v">
                <a  href="/auth/facebook">
                    <button id="facebookAccess" style="background-color: #3b5998;">
                        <span> <i class="fa fa-facebook" style="color:#fff;"></i></span>
                    </button>
                </a>
            </div>-->
            <div style="margin-top: 30px;">
                <form id="loginForm" role="form" action="/loginUser" method="post">
                    <div class="input-container">
                        <input type="email"  name="email"  id="loginEmail" required="required"/>
                        <label for="Email1">Email</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="password" name="password" id="loginPassword" required="required"/>
                        <label for="Password">Password</label>
                        <div class="bar"></div>
                    </div>
                    <div id="loginError" class="col-sm-12" style="display: none;">
                        <p  class="text-red text-center" > Your email or password are not correct</p>
                    </div>
                    <div class="button-container" id="submitLogin">
                        <button type="submit"><span>Login</span></button>
                    </div>
                    <div class="footer"><a href="#">Forgot your Password</a></div>
                </form>
            </div>
        </div>
        <div class="registerCard alt">
            <div class="toggle"></div>

            <h1 class="title text-center">
                <div class="">
                    <img src="/images/brantuwhitelogo.svg" alt="logo" class="authenticateLogo"/>
                </div>
                Sign Up
                <div class="close close-AuthenticationPopUp"></div>
            </h1>
            <!--<div class="button-container padding-1v" style="margin-bottom: 30px;">
                <a href="/auth/facebook">
                    <button id="facebookAccess" style="background-color: #3b5998;">
                        <span> <i class="fa fa-facebook" style="color:#fff;"></i></span>
                    </button>
                </a>
            </div>-->

            <form id="signupForm"  role="form" action="/signupUser" method="post">
                <div class="input-container">
                    <input type="text" id="nameSignUp" name="name" required="required"/>
                    <label for="nameSignUp">Din Namn</label>
                    <div class="bar"></div>
                </div>

                <div class="input-container">
                    <input type="email" name="email" id="emailSignUp" required="required"/>
                    <label for="emailSignUp">Din e-postadress</label>
                    <div class="bar"></div>
                </div>

                <div class="input-container" style="margin-bottom: 20px;">
                    <input type="password" name="password" id="passwordSignUp" required="required"/>
                    <label for="PasswordSignUp">Lösenord</label>
                    <div class="bar"></div>
                </div>

                <div class="input-radio row">
                    <div class="col-xs">
                        <div class="radio radio-pink  block text-center" id="genderSelection">

                            <input type="radio" class="registration"  value="female" data-for="registration" required="required" name="gender" id="femaleRegistrationPopUp" />
                            <label for="femaleRegistrationPopUp"  class="text-pink bold relative">Kvinna</label>
                            <input type="radio" class="registration"   value="male" data-for="registration" required="required"  name="gender" id="maleRegistrationPopUp" />
                            <label for="maleRegistrationPopUp"  class=" text-pink bold relative">Man</label>
                        </div>
                    </div>
                    <div class="col-sm-10 text-center col-sm-offset-1">
                        <h6 class="text-white">By clicking Sign Up, you agree to our  <a target="_blank" href="http://www.brantu.com/terms-and-conditions"> Terms &amp; Conditions</a> and that you have read our <a target="_blank" href="http://www.brantu.com/privacy-policy">Privacy Policy</a></h6>
                    </div>
                </div>
                <div id="registerError" class="col-sm-12" style="display:none;">
                    <p  class="text-pink text-center" > It seems that this account is already in use</p>
                </div>

                <div class="button-container">
                    <button type="submit" id="submitRegistration"><span>Välkommen In</span></button>
                </div>
            </form>
            <div class="full-width text-center" id="fromSignUpToLogin"><button class=" no-border bold btn btn-rounded btn-default"><u>Logga In</u></button></div>
        </div>
    </div>
</div>
