<style>

</style>
<div id="AuthenticationPopUp" class="hidden authenticationPopUp bg-Image registerGradient relative glassViolet" style="overflow-y: scroll;" >
    <div class="registerContainer " style="margin-top: 50px;padding-bottom: 500px; overflow: scroll;">
        <div class="registerCard">
            <h2 class="title text-center all-caps text-spaced-medium bold">
                <div class="">
                    <img src="/dist/images/logo_white.svg" alt="logo" class="authenticateLogo" />
                </div>
                Logga in
                <div class="close close-AuthenticationPopUp"></div>
            </h2>
           <!-- <div class="button-container padding-1v">
                <a  href="/auth/facebook">
                    <button id="facebookAccess" style="background-color: #3b5998;">
                        <span> <i class="fa fa-facebook" style="color:#fff;"></i></span>
                    </button>
                </a>
            </div>-->
            <div style="margin-top: 30px;">
                <form id="loginForm" role="form" action="/loginUser" method="post">
                    <div class="input-container">
                        <input type="email"  name="email"  id="loginEmail" required="required"/>
                        <label data-field for="Email1">Email</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="password" name="password" id="loginPassword" required="required"/>
                        <label data-field for="Password">Lösenord</label>
                        <div class="bar"></div>
                    </div>
                    <div id="loginError" class="col-sm-12" style="display: none;">
                        <p  class="text-red text-center" > fel lösenord <a href="/forget">har du glömt ditt lösenord?</a></p>
                    </div>
                    <div class="button-container" id="submitLogin">
                        <button type="submit"><span>Logga in</span></button>
                    </div>
                    <div class="footer"><a class="text-white sbold" href="/forget"><u>har du glömt ditt lösenord?</u></a></div>
                </form>
            </div>
        </div>
        <div class="registerCard alt">
            <div class="toggle"></div>
            <div class="fs-12 title text-center relative">
                <img src="/dist/images/logo_white.svg" alt="logo" class="authenticateLogo"/>
                <div class="close close-AuthenticationPopUp"></div>
                <h5 class=" bold text-spaced-medium all-caps text-center text-white">
                    Stay updated with price drops on your favourite items and brands BRANTU!
                </h5>
            </div>
            <form id="signupForm"  role="form" action="/signupUser" method="post">
                <div class="input-container">
                    <input type="email" name="email" id="emailSignUp" required="required"/>
                    <label data-field for="emailSignUp">Din e-postadress</label>
                    <div class="bar"></div>

                </div>

                <div class="input-container">
                    <input type="password" name="password" id="passwordSignUp" required="required"/>
                    <label data-field for="PasswordSignUp">Lösenord</label>
                    <div class="bar"></div>
                </div>

                <div class="input-container" style="margin-bottom: 20px;">
                    <input type="password" id="passwordSignUpConfirm" required="required"/>
                    <label data-field for="passwordSignUpConfirm">Upprepa lösenord</label>
                    <div class="bar"></div>
                </div>



                <div class="input-radio row">
                    <div class="col-xs-12">
                        <div class="radio radio-danger block text-center" id="genderSelection">
                            <input type="radio" class="registration"  value="female"  required name="gender" id="femaleRegistrationPopUp" />
                            <label for="femaleRegistrationPopUp"  class="text-velvet bold relative">Kvinna</label>
                            <input type="radio" class="registration"   value="male" required  name="gender" id="maleRegistrationPopUp" />
                            <label for="maleRegistrationPopUp"  class=" text-velvet bold relative">Man</label>
                        </div>
                    </div>
                </div>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="row">
                            <div class="col-xs-1">
                                <div class="full-width">
                                    <input class="pull-right" type="checkbox" name="concent" id="concent" required/>
                                </div>
                            </div>
                            <div class="col-xs-11">
                                <label  for="concent" class="text-white fs-11">Jag godkänner medlemsvillkoren och att mina personuppgifter behandlas enligt ovan, medlemsvillkoren samt Brantus <a class="text-velvet" target="_blank" href="/privacy-policy">Integritetspolicy</a>.</label>
                            </div>
                        </div>
                    </div>

                <div id="registerError" class="col-sm-12" style="display:none;">
                    <p  class="text-red all-caps text-center" > du är redan medlem<a href="/login" class="p-l-10 bold all-caps">Logga in</a></p>
                </div>
                <div id="registerPasswrodError" class="col-sm-12" style="display:none;">
                    <p  class="text-red text-center all-caps" >Dina lösenord matchar inte</p>
                </div>

                <div class="button-container">
                    <button type="submit" id="submitRegistration"><span class="text-velvet">Välkommen In</span></button>
                </div>
            </form>
            <div class="full-width text-center" id="fromSignUpToLogin"><button class=" no-border bold btn  btn-default"><u>Logga In</u></button></div>
        </div>
    </div>
    <div class="registerLoading fixed" style="display: none; top:0; bottom:0; right:0; left:0; z-index:1500;">
        <div class="loading full-height full-width gradient-velvet-opacity" >
            <div class="">
                <div class="text-center" style="padding-top: 100px;" >
                    <div class=" text-center ">
                        <h3 class="text-white">Vi jämför och hittar dina stilar till det bästa priset</h3>
                        <img src="/dist/images/progress/progress-circle-lg-white.svg" style="width:40px; height:40px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
