
<div id="AuthenticationPopUp" class="authenticationPopUp bg-Image registerGradient relative glassViolet" style="overflow-y: scroll;" >
    <div class="registerContainer active" style="margin-top: 50px;padding-bottom: 500px; overflow: scroll;">
        <div class="registerCard">
            <h2 class="title text-center all-caps text-spaced-medium bold">
                <div class="">
                    <img src="/dist/images/logo_white.svg" alt="logo" class="authenticateLogo" />
                </div>
                Logga in
            </h2>
           <!-- <div class="button-container padding-1v">
                <a  href="/auth/facebook">
                    <button id="facebookAccess" style="background-color: #3b5998;">
                        <span> <i class="fa fa-facebook" style="color:#fff;"></i></span>
                    </button>
                </a>
            </div>-->
            <div style="margin-top: 30px;">
                <form id="loginForm" role="form" action="/loginUser" method="post">
                    <div class="input-container">
                        <input type="email"  name="email"  id="loginEmail" required="required"/>
                        <label data-field for="Email1">Email</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="password" name="password" id="loginPassword" required="required"/>
                        <label data-field for="Password">Lösenord</label>
                        <div class="bar"></div>
                    </div>
                    <div id="loginError" class="col-sm-12" style="display: none;">
                        <p  class="text-red text-center" > fel lösenord <a href="/forget">har du glömt ditt lösenord?</a></p>
                    </div>
                    <div class="button-container" id="submitLogin">
                        <button type="submit"><span>Logga in</span></button>
                    </div>
                    <div class="footer"><a class="text-white sbold" href="/forget"><u>har du glömt ditt lösenord?</u></a></div>
                </form>
            </div>
        </div>
        <div class="registerCard alt">

            <div class="fs-12 title text-center relative">
                <img src="/dist/images/logo_white.svg" width="190" alt="logo"/>
                <h3 class=" bold text-spaced-medium all-caps text-center text-white">
                    <font class="text-pink"> REMEMBER REMEMBER THE <font style="font-size:40px;">7TH</font> OF DECEMBER</font>
                    <br/>
                </h3>

            </div>
            <h5 class="text-white text-center">
                Our website is under construnction. Registrer now and find out about our revolutionary product that will save you time and money while shopping
            </h5>
            <form id="launchForm"  role="form" class="p-t-10" action="/launchUser" method="post">
                <div class="input-container">
                    <input type="email" name="email" id="emailSignUp" required="required"/>
                    <label data-field for="emailSignUp">Email</label>
                    <div class="bar"></div>
                </div>


                <div id="registerError" class="col-sm-12" style="display:none;">
                    <p  class="text-red all-caps text-center" > du är redan medlem<a href="/login" class="p-l-10 bold all-caps">Logga in</a></p>
                </div>
                <div id="registerPasswrodError" class="col-sm-12" style="display:none;">
                    <p  class="text-red text-center all-caps" >Dina lösenord matchar inte</p>
                </div>

                <div class="button-container">
                    <button type="submit" id="submitRegistration"><span class="text-velvet">Notify me</span></button>
                </div>
            </form>
            <div id="launchFormThankyou" style="display: none;">
                <h4 class="text-white">Thank you and you will here from us soon!</h4>
            </div>
        </div>
    </div>
    <div class="registerLoading fixed" style="display: none; top:0; bottom:0; right:0; left:0; z-index:1500;">
        <div class="loading full-height full-width gradient-velvet-opacity" >
            <div class="">
                <div class="text-center" style="padding-top: 100px;" >
                    <div class=" text-center ">
                        <h3 class="text-white">Vi jämför och hittar dina stilar till det bästa priset</h3>
                        <img src="/dist/images/progress/progress-circle-lg-white.svg" style="width:40px; height:40px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
