
<section id="searchSection" style="display: none">
    <div class="content" id="searchPane" style="">
        <div class="searchWelcome relative">
            <h2 class="capitalize text-spaced text-center"> Search Result</h2>
            <div class="text-center p-b-1v top-right">
                <div style="font-size: 24px; " class="cursor padding-1v" id="closeSearch"><i class="pg-close_line"></i> </div>
            </div>
        </div>
        <div id="searchLoading">
            <div class="row">
                <div class="col-md-12">
                    <div class="fetching text-center">
                        <h5 class="text-center bold" style="color:#f1f2f2;">Loading</h5>
                        <img src="/images/loading.svg" style="width:4vw;">
                    </div>
                </div>
            </div>
        </div>
        {{>productView}}
    </div>
</section>