<nav class="page-sidebar hidden-md hidden-xlg hidden-lg" >
    <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
    <div class="sidebar-overlay-slide from-top" id="departmentMenu">
        <h1 class="text-white">Select Department</h1>
        <div class="row">
            <div class="col-xs-12 p-t-20 ">
                <a href="#" class="p-l-10 sbold" style="font-size: 24px;" data-department="Kvinna">
                    Kvinna
                </a>
            </div>
            <div class="col-xs-12 p-t-20">
                <a href="#" class="p-l-10  sbold" style="font-size: 24px;" data-department="Man">
                    Mann
                </a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <div class="sidebar-header">
        <div  class="inline text-white medium sidebar-header-title" style="font-size: 24px;">Kvinna</div>
        <div class="sidebar-header-controls">
            <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20 p-t-5" data-pages-toggle="#appMenu">
                <i class="fa fa-angle-down  text-white" style="font-size: 16px;"></i>
            </button>
        </div>
    </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu bg-Image" style="background-position: top; background-image:url('/images/home/women/main4.jpg');"  data-department-toggle="Kvinna">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <div class="scroll-wrapper glassLight menu-items bgBlurEffectLight" style="position: relative; overflow-x: hidden;">
            <ul class="menu-items scroll-content" style="margin-bottom: 0px; margin-right: 0px; height: 676px;">
            <li class="m-t-30">
                <a href="#" class="detailed">
                    <span class="title text-black" style="line-height: 20px;">Get <br/>Inspired</span>
                    <!--<span class="details">234 New Updates</span>-->
                </a>
                 <span class="icon-thumbnail">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="30px" height="30px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <g>
                        <path fill="none" stroke="#fff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="M35.328,35.9
                            c0,5.618-4.56,7.86-10.185,7.86s-10.185-2.242-10.185-7.86c0-1.482,0.318-2.428,0.889-3.699c0.376-0.836,1.278,2.981,1.889,2.312
                            c1.505-1.647-1.666-5.406,4.167-8.259c-1.042,2.913-0.207,4.069,0.926,4.069c2.46,0,2.498-3.672,2.228-8.323
                            c7.523,5.808,3.37,8.045,4.224,8.756c4.196,0.462,1.393-8.724,5.122,0.058C35.078,32.406,35.328,34.046,35.328,35.9z"/>
                    </g>
                    </svg>
                 </span>
            </li>

        <li class="m-t-30">
            <a href="#" class="detailed">
                <span class="title  text-black" style="line-height: 20px;">Wardrobe <br/>Finder</span>
                <span class="arrow"></span>
            </a>
                <span class="icon-thumbnail ">
                   <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="30px" height="30px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <g>
                        <path fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="M21.059,26.172
                            c0-1.761,1.428-3.189,3.189-3.189c1.761,0,3.189,1.428,3.189,3.189c0,1.761-3.178,2.474-3.178,4.267l-16,8.556
                            c0,0.607,0.454,1.1,1.013,1.1h31.039c0.559,0,1.013-0.492,1.013-1.1L25.325,30.45"/>
                    </g>
                    </svg>
                </span>
            {{#if ../selectedDepartmentName}}{{/if}}


            {{#each categoryTree}}
                {{#if (compareStrings this.department.name "Kvinna")}}
                    <ul class="sub-menu">
                        {{#each categories}}
                            <li class="">
                                <a href="javascript:;"><span class="title">{{andfixer category.name}}</span>
                                    <span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    {{#each subCategory}}
                                        <li>
                                            <a href="#">{{andfixer this.name}}</a>
                                        </li>
                                    {{/each }}
                                </ul>
                            </li>
                        {{/each }}
                    </ul>
                </li>
                {{/if}}
            {{/each}}



            <li class="m-t-30">
                <a href="#">
                    <span class="title  text-black" style="line-height: 20px;">Compare <br/> Prices</span>
                </a>
                    <span class="icon-thumbnail ">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="30px" height="30px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <g display="none">
                        <path display="inline" fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="
                            M35.328,35.9c0,5.618-4.56,7.86-10.185,7.86s-10.185-2.242-10.185-7.86c0-1.482,0.318-2.428,0.889-3.699
                            c0.376-0.836,1.278,2.981,1.889,2.312c1.505-1.647-1.666-5.406,4.167-8.259c-1.042,2.913-0.207,4.069,0.926,4.069
                            c2.46,0,2.498-3.672,2.228-8.323c7.523,5.808,3.37,8.045,4.224,8.756c4.196,0.462,1.393-8.724,5.122,0.058
                            C35.078,32.406,35.328,34.046,35.328,35.9z"/>
                    </g>
                    <g>
                        <g>
                            <path fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M28.96,44.879
                                c-0.277,0.277-0.726,0.277-1.003,0l-9.075-9.075c-1.004-1.004-2.76-7.778-0.753-9.785c2.007-2.007,8.782-0.251,9.785,0.753
                                l9.075,9.075c0.277,0.277,0.277,0.727,0,1.003L28.96,44.879z"/>
                            <circle fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" cx="20.402" cy="28.292" r="1.419"/>
                            <path fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M16.862,26.745
                                c-0.158-0.148-0.323-0.309-0.496-0.482c-2.46-2.46-0.509-2.516-0.509-2.516s0.027-1.981,2.516,0.509
                                c2.356,2.356,2.311,3.209,1.756,3.763"/>
                        </g>
                        <path fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="M27.18,37.718
                            c0.63,0.63,1.658,0.623,2.296-0.015c0.638-0.638,0.644-1.666,0.015-2.296c-0.926-0.926-2.524-0.213-2.524-0.213
                            s-1.612,0.699-2.524-0.213c-0.629-0.63-0.623-1.658,0.015-2.296c0.638-0.638,1.666-0.644,2.295-0.015"/>

                            <line fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="23.24" y1="31.426" x2="30.752" y2="38.937"/>
                    </g>
                    </svg>
                </span>
            </li>
        </ul><div class="scroll-element scroll-x"><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_track"></div>    <div class="scroll-bar" style="width: 96px;">

        </div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar" style="height: 96px; top: 0px;">
            </div></div></div></div>
        <div class="clearfix"></div>
    </div>
    <div class="sidebar-menu bg-Image" style="background-image: url('/images/home/men/main2.jpg');" data-department-toggle="Man">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <div class="scroll-wrapper menu-items glassLight bgBlurEffectLight" style="position: relative; overflow-x: hidden;"><ul class="menu-items scroll-content" style="margin-bottom: 0px; margin-right: 0px; height: 676px;">
            <li class="m-t-30">
                <a href="#" class="detailed">
                    <span class="title text-black" style="line-height: 20px;"">Get <br/>Inspired</span>
                    <!--<span class="details">234 New Updates</span>-->
                </a>
                 <span class="icon-thumbnail">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="30px" height="30px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <g>
                        <path fill="none" stroke="#fff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="M35.328,35.9
                            c0,5.618-4.56,7.86-10.185,7.86s-10.185-2.242-10.185-7.86c0-1.482,0.318-2.428,0.889-3.699c0.376-0.836,1.278,2.981,1.889,2.312
                            c1.505-1.647-1.666-5.406,4.167-8.259c-1.042,2.913-0.207,4.069,0.926,4.069c2.46,0,2.498-3.672,2.228-8.323
                            c7.523,5.808,3.37,8.045,4.224,8.756c4.196,0.462,1.393-8.724,5.122,0.058C35.078,32.406,35.328,34.046,35.328,35.9z"/>
                    </g>
                    </svg>
                 </span>
            </li>

        <li class="m-t-30">
            <a href="#" class="detailed">
                <span class="title text-black " style="line-height: 20px;">Wardrobe <br/>Finder</span>
                <span class="arrow"></span>
            </a>
                <span class="icon-thumbnail ">
                   <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="30px" height="30px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <g>
                        <path fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="M21.059,26.172
                            c0-1.761,1.428-3.189,3.189-3.189c1.761,0,3.189,1.428,3.189,3.189c0,1.761-3.178,2.474-3.178,4.267l-16,8.556
                            c0,0.607,0.454,1.1,1.013,1.1h31.039c0.559,0,1.013-0.492,1.013-1.1L25.325,30.45"/>
                    </g>
                    </svg>
                </span>
            {{#if ../selectedDepartmentName}}{{/if}}


            {{#each categoryTree}}
                {{#if (compareStrings this.department.name "Man")}}
                    <ul class="sub-menu">
                        {{#each categories}}
                            <li class="">
                                <a href="javascript:;"><span class="title">{{andfixer category.name}}</span>
                                    <span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    {{#each subCategory}}
                                        <li>
                                            <a href="#">{{andfixer this.name}}</a>
                                        </li>
                                    {{/each }}
                                </ul>
                            </li>
                        {{/each }}
                    </ul>
                </li>
                {{/if}}
            {{/each}}



            <li class="m-t-30">
                <a href="#">
                    <span class="title text-black" style="line-height: 20px;">Compare <br/> Prices</span>
                </a>
                    <span class="icon-thumbnail ">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="30px" height="30px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <g display="none">
                        <path display="inline" fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="
                            M35.328,35.9c0,5.618-4.56,7.86-10.185,7.86s-10.185-2.242-10.185-7.86c0-1.482,0.318-2.428,0.889-3.699
                            c0.376-0.836,1.278,2.981,1.889,2.312c1.505-1.647-1.666-5.406,4.167-8.259c-1.042,2.913-0.207,4.069,0.926,4.069
                            c2.46,0,2.498-3.672,2.228-8.323c7.523,5.808,3.37,8.045,4.224,8.756c4.196,0.462,1.393-8.724,5.122,0.058
                            C35.078,32.406,35.328,34.046,35.328,35.9z"/>
                    </g>
                    <g>
                        <g>
                            <path fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M28.96,44.879
                                c-0.277,0.277-0.726,0.277-1.003,0l-9.075-9.075c-1.004-1.004-2.76-7.778-0.753-9.785c2.007-2.007,8.782-0.251,9.785,0.753
                                l9.075,9.075c0.277,0.277,0.277,0.727,0,1.003L28.96,44.879z"/>
                            <circle fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" cx="20.402" cy="28.292" r="1.419"/>
                            <path fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M16.862,26.745
                                c-0.158-0.148-0.323-0.309-0.496-0.482c-2.46-2.46-0.509-2.516-0.509-2.516s0.027-1.981,2.516,0.509
                                c2.356,2.356,2.311,3.209,1.756,3.763"/>
                        </g>
                        <path fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="M27.18,37.718
                            c0.63,0.63,1.658,0.623,2.296-0.015c0.638-0.638,0.644-1.666,0.015-2.296c-0.926-0.926-2.524-0.213-2.524-0.213
                            s-1.612,0.699-2.524-0.213c-0.629-0.63-0.623-1.658,0.015-2.296c0.638-0.638,1.666-0.644,2.295-0.015"/>

                            <line fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="23.24" y1="31.426" x2="30.752" y2="38.937"/>
                    </g>
                    </svg>
                </span>
            </li>
        </ul><div class="scroll-element scroll-x"><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_track"></div>    <div class="scroll-bar" style="width: 96px;">

        </div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar" style="height: 96px; top: 0px;">
            </div></div></div></div>

    </div>

    <!-- END SIDEBAR MENU -->
</nav>

<div class="page-sidebar-cover hidden"></div>