<html lang="sv">
    {{>head}}
    <body class="fixed-header registerGradient relative glassViolet">
        <div class="page-container bg-transparent">
            {{{ body }}}
            <div>
            </div>
            {{>loading}}

        </div>
      </body>

    <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="/plugins/jquery-bez/jquery.bez.min.js"></script>

   <script type="text/javascript" src="/plugins/ion.rangeSlider/js/ion.rangeSlider.js"></script>
    <script type="text/javascript" src="/plugins/swiper/swiper.min.js"></script>

   <script type="text/javascript" src="/plugins/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/plugins/modernizr.custom.js"></script>
   <script  src="/plugins/algolia/algoliasearch.min.js"></script>
   <script  src="/plugins/algolia/algoliasearch.helper.min.js"></script>
   <script  src="/plugins/algolia/autocomplete.min.js"></script>

   <script type="text/javascript" src="/javascripts/hb-helper.js"></script>
   <script type="text/javascript" src="/javascripts/helper.js"> </script>
   <script type="text/javascript" src="/javascripts/navbar.js"> </script>
   <script type="text/javascript" src="/javascripts/register.js"> </script>
    <!--<script type="text/javascript" src="/dist/scripts.min.js"></script>-->

 </html>
