<html lang="sv">
    {{>head}}
    <body class="fixed-header">
          {{>side-menu}}
        <div class="page-container bg-master-lightest">
            {{>register2}}
            {{>nav}}
            {{{ body }}}
        </div>
      </body>
    <script type="text/javascript" src="/javascripts/shared-helper.js"> </script>
    <script type="text/javascript" src="/javascripts/main.js"> </script>
    <script type="text/javascript" src="/javascripts/navbar.js"> </script>
    <script type="text/javascript" src="/javascripts/register.js"> </script>

</html>
