
<style>
    .banner{
        height:480px;
        border:5px solid #000;
    }
    .banner h2{
        padding-top: 220px;;
    }
    .MEN{
        background-image: url('/images/blog/men.jpg');
    }
    .WOMEN{
        background-image: url('/images/blog/women.jpg');
    }
</style>
<div class="page-content-wrapper">
    <section class="general" id="mainSection">
        <div class="container">
            <h1 class="text-center light p-t-20">OUTFIT <font class="text-purple sbold">BLOG</font></h1>
            <h5 class="text-center">
                Content is here, something like
                Get to inspired by amazing outfits <br/>and buy them at the lowest price
            </h5>
            <div class="row p-t-20 " id="genericBlog">
                <div class="col-xs-6 no-padding padding-10" >
                    <a href="/blog/kvinna">
                        <div class="bg-image banner WOMEN no-background-image">
                            <h2 class="text-center sbold text-black">KVINNA</h2>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 no-padding  padding-10">
                    <a href="/blog/man">
                        <div class="bg-image banner MEN no-background-image">
                            <h2 class="text-center sbold text-black">MAN</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>


