
<div class="overlay" role="nav-down-container" style="height:20vw"></div>

    <div class="page-content-wrapper " style="background-color:#fff;">
        <div class="content " id="mainSection">
                <div class="row" >
                    <div class="col-md-6 bg-image full-height" style="background-image:url('/images/join-shop/itemsAboutUs.jpg'); background-position: center;">
                         <ul class="text-center no-style p-t-10">
                             <li><a><h3 class="sbold text-velvet">ABOUT US</h3></a></li>
                             <li><a><h3 class="">FAQ</h3></a></li>
                             <li><a><h3 class="">Privacy Policy</h3></a></li>
                             <li><a><h3 class="">Terms of Use</h3></a></li>

                         </ul>
                    </div>
                    <div class="col-md padding-30">
                        <h1 class="text-spaced "> ABOUT BRANTU</h1>
                        <h5 class="text-spaced p-t-20"> Brantu är en modebaserad sökmotor med visionen att erbjuda det bästa priset genom att jämföra och hitta det bästa priset från tusentals produkter som våra modenätbutiker.</h5>
                        <p class="p-t-20">
                            Vi på Brantu.com sätter pris och stil i fokus. På vår hemsida kan du söka bland de senaste trenderna och inspireras av våra nätbutikers enorma utbud. Med vår blixtsnabba sökning gör vi det enkelt och bekvämt att shoppa kläder online. Vi ser till att du kan jämföra priser för att få det bästa priset på plagget du söker. Oavsett om du söker klänningar, skjortor, accessoarer eller sportartiklar så finner du det du söker hos oss. Vi har allt som fulländar din stil! Maximera din shoppingupplevelse med oss. Vi på BRANTU.com satsar på ett lågt pris för de modemedvetna.
                        </p>
                    </div>
                </div>


            <div class="row">
                <div class=" col-xs-12 padding-2v m-b-1v bg-master-light" >
                    <h2 class="text-center bold">Kontakta oss</h2>
                    <div class="container-fixed-lg text-center">
                        <h5>Kontakta oss om ni vll exponera era produkter mot våra modemedvetna besökare</h5>
                        <div class="row">
                            <div class="col-sm-8 col-md-offset-2 text-center bg-master-lightest">
                                <h4 class="bold">Fredrik Granström</h4>
                                <h5>Brantu</h5>
                                <h5>Scheelevägen 15 <br/>22730, Lund Sweden</h5>
                                <h5>Email: Granstrom@Brantu.com</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        {{>loading}}
        {{>footer}}
    </div>


