
<div class="overlay" role="nav-down-container" style="height:20vw"></div>
<script>
    var TYPE ={};
    TYPE.name  = {{{json exposeName}}}
    TYPE.value = {{{json exposeValue}}}
</script>

<div class="page-container ">
  <!-- START PAGE CONTENT WRAPPER -->
  <div class="page-content-wrapper">
      <section id="mainSection">
        <!-- START PAGE CONTENT -->
         <div class="content">
                <div class="welcome">
                    <h1 class="all-caps text-spaced text-center font-GothamMedium"> {{andfixer brand.name}}</h1>
                </div>

             <div class="resultContainer">
                 <div class="facetPane " id="mainFacetPane">
                     <div class="facetContainer" id="mainFacetContainer">
                         <div class="facetWrapper padding-1v " style="border:2px solid #000;">
                             <div class="facet-header">

                             </div>
                             <div class="facets">
                                 <div class="brands b-b b-white" >
                                     <h5>
                                         <span class="bg-white text-left all-caps ">Brands</span>
                                     </h5>
                                     <div id="brandList">
                                         <!--<input class="search" placeholder="Search" />-->
                                         <ul class="list " style="max-height: 100px; overflow: scroll;">

                                         </ul>
                                     </div>
                                 </div>
                                 <div class="prices b-b b-white" >
                                     <h5 style="">
                                         <span class=" bg-white all-caps ">Prices</span>
                                     </h5>
                                     <div id="priceBar">
                                         <input type="text" id="pricerange" name="example_name" value="" />
                                     </div>
                                     <div id="saleBox">

                                     </div>
                                     <div class="discounts">
                                         <h6 class="bold">% Percentage Sale </h6>
                                         <div id="discountList">
                                             <ul class="list bg-master-lightest" style="max-height: 100px; overflow: scroll;">

                                             </ul>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="sizes b-b b-white" >
                                     <h5 >
                                         <span class=" bg-white all-caps ">Sizes</span>
                                     </h5>
                                     <div id="sizeList">
                                         <ul class="list bg-master-lightest" style="max-height: 100px; overflow: scroll;">

                                         </ul>
                                     </div>
                                 </div>
                                 <div class="colors b-b b-white" >
                                     <h5>
                                         <span class=" bg-white all-caps ">Colors</span>
                                     </h5>
                                     <div id="colorList">

                                     </div>

                                 </div>
                                 <div class="shops b-b b-white" >
                                     <h5 >
                                         <span class=" bg-white all-caps ">Shops</span>
                                     </h5>
                                     <div id="shopList">

                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="productPane">
                     <div class="productPreview">
                         <!--<input class="filtertags"/>-->
                         <ol class="itemList vertical">
                         </ol>
                     </div>

                     <div class="jawBoneContent" id="jawbone">
                         <div class="jawBoneOpenContainer">
                             <div class="jawBoneFadeInPlaceContainer">
                                 <div class="jawBoneContainer">
                                 </div>
                             </div>
                         </div>
                     </div>

                 </div>
             </div>
            </div>
      </section>
      {{>search}}
      {{>footer}}
    <!-- END PAGE CONTENT -->
    </div>
  <!-- END PAGE CONTENT WRAPPER -->

</div>


<script type="text/javascript" src="/javascripts/search.js"> </script>
<script type="text/javascript" src="/javascripts/navbar.js"> </script>
<script type="text/javascript" src="/javascripts/register.js"> </script>
<script type="text/javascript" src="/javascripts/generic.js"> </script>



