
<div class="page-content-wrapper">
    <section class="general content" id="mainSection">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class=" ">
                    <h1 class="b-b b-grey all-caps bold text-spaced-medium" style="font-size: 33px;">Careers</h1>
                    <h2 class=" medium" style="font-size: 28px;">About Brantu</h2>
                    <h5>
                        Brantu is a growing fashion price comparison startup with the vision to create the excitement of getting a bargain everyday. Our business idea supports the vision by offering a search engine that compares prices from all online fashion shops enabling users to shop simple and smart, saving them money. We strive to provide the highest quality service for our users, and we’re striving to create a business model that reflects that.
                    </h5>

                </div>
                <div class=" m-t-50 b-t b-grey">
                    <h2 class=" medium ">Openings</h2>
                    <p>We are looking for great talents to join our vision</p>
                    <div class="row">
                        {{#each jobList}}
                                <div class="col-md-3 text-center padding-20 ">
                                    <a class="text-purple" href="/jobs/{{urlFriendly name}}-{{_id}}">
                                        <p class="b-b b-t b-l b-r p-t-20 p-b-20 bold">
                                            {{name}} <br/> <span class="hint-text ">{{location}}</span>
                                        </p>
                                    </a>
                                </div>
                        {{/each}}
                    </div>
                </div>

            </div>
        </div>


    </section>
    {{>loading}}
    {{>footer}}
</div>


