
<div class="overlay" role="nav-down-container" style="height:20vw"></div>
<div class="page-container">
    <div class="row">
        <div class="page-container ">
            <div class="page-content-wrapper " style="background-color:#fff;">
                <div class="content ">
                    <section  style=" overflow: hidden; margin-top: 55px;">
                        <div class="row">
                            <div class="col-md-12 bg-image" style="background-image:url('/images/home/charity.jpg');">

                                    <div class="padding-2v col-md-12 text-center " style="background:linear-gradient(to top, rgba(238,211,211,0.6), rgba(101,101,138,0.7))">
                                        <?xml version="1.0" encoding="utf-8"?>
                                        <h1 class=" text-spaced text-white bold"> <font class="font-milestone">#</font>CashBackTo</h1>
                                        <svg id="circle" style="width: 25vw; height: 6vw;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                            <image x="0" y="0" style="width: 25vw; height: 6vw;"  xlink:href="/images/home/society-stroke.svg" />
                                        </svg>
                                        <h1 class="text-spaced bold" style="margin-top: 3vw;"> Shopping with a Purpose</h1>

                                    </div>
                                </div>

                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center padding-2v "><h2 class="bold text-spaced">Our story</h2>
                                <p>We embarked to open an e-commerce business. We thought of it as a huge shopping web and mobile app. Integrating all stores under one roof. To make it easier for consumers to find items
                                    they want, from their favourite brands and at the best price. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container bg-master-lightest" style="border: 1px solid black;">
                                <div class="col-md-6 text-center padding-2v">
                                    <h2 class="bold text-spaced">Så här funkar casbbacksidor</h2>
                                    <p>When we heard about <font class="bold">CASH BACK REWARDS</font>. Which are websites that returns a small percentage, out of there commission, to you
                                     "Averagely 3%". <br/> <br/> After a simple math calculation, we realized that, if you buy an expensive shoe you get back a <q>starbucks latte</q> as a reward.</p>
                                </div>
                                <div class="col-md-6 bg-white">
                                    <div class="padding-1v">
                                        <img src=""/>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class=" container bg-master-lightest" style="margin-top: 5vw; border: 1px solid black;">
                                  <div class="col-sm-7 padding-2v bg-white" >
                                      <svg id="circle" style="width: 100%; height:40vw;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                          <image x="0" y="0" style="width: 100%; height: 40vw;" xlink:href="/images/cashback-to-society/different.svg" />
                                      </svg>
                                  </div>
                                <div class="col-sm-5 text-center padding-2v" style="height: 40vw;">
                                    <h2 class="bold text-spaced">Brantu doing it differently</h2>
                                    <p>We believe that this small amount "equivalent to a starbucks latte" can be used in a different direction were it is crucial. We decided to Rethink the traditional approach and bring a higher purpose every time you shop from us.
                                        <br/><br/>When you purchase from us we share part of our commission with you. Then you choose the charity partner representing your cause to contribute to.
                                        <br/><br/>
                                        We are working on diversifying our charity organization to serve different causes. From human rights, animal rescue, environmental responsibilities...etc.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container padding-4v ">
                                <h1 class="text-center bold">Some of Our Causes</h1>
                                <h5 class="bold text-center padding-2v"> We partner with most of the well established charity organizations all over the world in different charity areas. </h5>
                                <div class="row" style="padding-top: 2vw;">
                                    <div class="col-md-4 bg-Image " style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/JKLSYFUQ9E.jpg'); height: 15vw; border: 3px solid white;">
                                        <div class="overlayer bottom-left full-width">
                                            <div class="overlayer-wrapper item-info more-content">
                                                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                                    <div class="">
                                                        <h3 class="pull-left bold text-white no-margin ">Enviroment</h3>
                                                        <div class="clearfix"></div>
                                                        <span class="hint-text pull-left text-white">Hand and mind crafted</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 bg-Image" style="background-image: url('https://sorenbosteendahl.files.wordpress.com/2009/11/happy-smiling-kids-sierra-leone-masanga-3.jpg'); height: 15vw; border: 3px solid white;">
                                        <div class="overlayer bottom-left full-width">
                                            <div class="overlayer-wrapper item-info more-content">
                                                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                                    <div class="">
                                                        <h3 class="pull-left bold text-white no-margin ">Disaster Relief & Humanitarian</h3>
                                                        <div class="clearfix"></div>
                                                        <span class="hint-text pull-left text-white">Hand and mind crafted</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 bg-Image" style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/623FCA67C5.jpg'); height: 15vw; border: 3px solid white;">
                                        <div class="overlayer bottom-left full-width">
                                            <div class="overlayer-wrapper item-info more-content">
                                                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                                    <div class="">
                                                        <h3 class="pull-left bold text-white no-margin ">Animal</h3>
                                                        <div class="clearfix"></div>
                                                        <span class="hint-text pull-left text-white">Hand and mind crafted</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 bg-Image" style="background-image: url('https://wnninterviewsociety.files.wordpress.com/2013/07/516-africa_child-immunization-imagerodcurtiswho.jpg'); height: 15vw; border: 3px solid white;">
                                        <div class="overlayer bottom-left full-width">
                                            <div class="overlayer-wrapper item-info more-content">
                                                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                                    <div class="">
                                                        <h3 class="pull-left bold text-white no-margin ">Health</h3>
                                                        <div class="clearfix"></div>
                                                        <span class="hint-text pull-left text-white">Hand and mind crafted</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 bg-Image" style="background-image: url('http://assets.nydailynews.com/polopoly_fs/1.115089.1313949679!/img/httpImage/image.jpg_gen/derivatives/article_970/alg-classroom-kids-jpg.jpg'); height: 15vw; border: 3px solid white;">
                                        <div class="overlayer bottom-left full-width">
                                            <div class="overlayer-wrapper item-info more-content">
                                                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                                    <div class="">
                                                        <h3 class="pull-left bold text-white no-margin">Education</h3>
                                                        <div class="clearfix"></div>
                                                        <span class="hint-text pull-left text-white">Hand and mind crafted</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 bg-Image" style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/3418LC6EKW.jpg'); height: 15vw; border: 3px solid white;">
                                        <div class="overlayer bottom-left full-width">
                                            <div class="overlayer-wrapper item-info more-content">
                                                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                                    <div class="">
                                                        <h3 class="pull-left bold text-white no-margin">Arts & Culture</h3>
                                                        <div class="clearfix"></div>
                                                        <span class="hint-text pull-left text-white">Hand and mind crafted</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </section>



                </div>

                {{>footer}}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src='/plugins/jquery/jquery-1.11.1.min.js'></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>



<script type="text/javascript" src="/javascripts/search.js"> </script>
<script type="text/javascript" src="/javascripts/navbar.js"> </script>
<script type="text/javascript" src="/javascripts/register.js"> </script>