
<div class="page-container">
        <div class="page-container ">
            <div class="page-content-wrapper " style="background-color:#fff;">
                <section  style=" overflow: hidden; margin-top: 55px;" id="mainSection">
                    <div class="content ">
                        <div class="row no-padding">
                            <div class="col-md-12 bg-image" style="background-image:url('/images/home/charity.jpg');">
                                    <div class="padding-2v col-md-12 text-center " style="background:linear-gradient(to top, rgba(238,211,211,0.6), rgba(101,101,138,0.7))">
                                        <?xml version="1.0" encoding="utf-8"?>
                                        <h1 class=" text-spaced text-white bold"> <font class="font-milestone">#</font>CashBackTo</h1>
                                        <svg id="circle" style="width: 25vw; height: 6vw;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                            <image x="0" y="0" style="width: 25vw; height: 6vw;"  xlink:href="/images/home/society-stroke.svg" />
                                        </svg>
                                    </div>
                                </div>

                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center padding-2v "><h1 class="bold text-spaced p-b-1v">Our story</h1>
                                <p>We embarked to open an e-commerce business. We thought of it as a huge shopping web and mobile app. Integrating all stores under one roof. To make it easier for consumers to find items
                                    they want, from their favourite brands and at the best price. </p>
                            </div>
                        </div>
                        <div class="row" style="border: 1px solid #eed3d3;">
                            <div class="container " >
                                <div class="col-xs-8 col-xs-offset-2 text-center padding-2v">
                                    <h1 class="light text-spaced p-b-1v">Hur fungerar Cashbacksidor?</h1>
                                    <p>Cashbacksidor ger dig en liten återbäring på ca. 3% när du handlar som vanligt i någon av dina butiker på nätet. Genom att besöka nätbutiken via en cashbacksidas länkar så registreras din återbäring. Din lilla återbäring får du sen utbetalt till ditt bankkonto.</p>
                                </div>
                                <div class="col-xs-12 text-center ">

                                        <div class="padding-1v col-xs-6">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 344.1 335.4" style="enable-background:new 0 0 344.1 335.4;" xml:space="preserve">
                                            <style type="text/css">
                                                .st0{fill:none;stroke:#020202;stroke-width:8;stroke-miterlimit:10;}
                                                .st1{fill:#000333;}
                                                .st2{fill:none;}
                                                .st3{stroke:#000000;stroke-miterlimit:10;}
                                                .st4{font-family:'SharpSansNo1-Light';}
                                                .st5{font-size:15.668px;}
                                                .st6{letter-spacing:4.9;}
                                                .st7{font-size:31.336px;}
                                                .st8{font-family:'SharpSansNo1-Bold';}
                                                .st9{fill:#EED3D3;}
                                                .st10{fill:none;}
                                                .st11{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                                            </style>
                                            <g>
                                                <ellipse class="st0" cx="172" cy="167.7" rx="168" ry="163.7"/>
                                                <g>
                                                    <path class="st1" d="M50.2,224.2h16.4v-29.7c-2.1,2.9-6.4,4.7-10.6,4.7h-1v-15.6h0.5c9,0,11.7-6.4,11.7-11.1h15.7v51.6h15.7v14.8
                                                        H50.2V224.2z"/>
                                                    <path class="st1" d="M106.1,217.5v-23c0-13.1,9.7-22.8,24.2-22.8c14.6,0,24.2,9.9,24.2,22.7v23.1c0,13.3-9.3,22.5-24.3,22.5
                                                        C115.1,240,106.1,230.5,106.1,217.5z M138.1,217.1v-22.4c0-4.8-2.7-8.1-7.8-8.1c-5.1,0-8,3.5-8,8.1v22.4c0,4.5,2.7,7.8,7.8,7.8
                                                        C135.3,225,138.1,221.6,138.1,217.1z"/>
                                                    <path class="st1" d="M161.9,217.5v-23c0-13.1,9.7-22.8,24.2-22.8c14.6,0,24.2,9.9,24.2,22.7v23.1c0,13.3-9.3,22.5-24.3,22.5
                                                        C171,240,161.9,230.5,161.9,217.5z M194,217.1v-22.4c0-4.8-2.7-8.1-7.8-8.1c-5.1,0-8,3.5-8,8.1v22.4c0,4.5,2.7,7.8,7.8,7.8
                                                        S194,221.6,194,217.1z"/>

                                                </g>
                                                <path class="st1" d="M218.1,217.5v-23c0-13.1,9.7-22.8,24.2-22.8c14.6,0,24.2,9.9,24.2,22.7v23.1c0,13.3-9.3,22.5-24.3,22.5
                                                    C227.1,240,218.1,230.5,218.1,217.5z M250.1,217.1v-22.4c0-4.8-2.7-8.1-7.8-8.1c-5.1,0-8,3.5-8,8.1v22.4c0,4.5,2.7,7.8,7.8,7.8
                                                    S250.1,221.6,250.1,217.1z"/>
                                                <g>
                                                    <path d="M319.1,225.6h-35.6c-1.8,0-3.2-1.4-3.2-3.2v-25.2c0-1.7,1.4-3.2,3.2-3.2h35.6c1.8,0,3.2,1.4,3.2,3.2v25.2
                                                        C322.3,224.2,320.9,225.6,319.1,225.6z M319.1,198.8c0-0.9-0.7-1.6-1.6-1.6h-32.4c-0.9,0-1.6,0.7-1.6,1.6v22.1
                                                        c0,0.9,0.7,1.6,1.6,1.6h32.4c0.9,0,1.6-0.7,1.6-1.6V198.8z">

                                                        </path>
                                                    <rect x="286.9" y="204.4" class="st2" width="35.8" height="19.8"/>
                                                    <text transform="matrix(1.0267 0 0 1 286.8914 215.7887)"><tspan x="0" y="0" class="st3 st4 st5">SEK</tspan><tspan x="28.2" y="0" class="st3 st4 st5 st6">	</tspan>

                                                    </text>
                                                </g>
                                                <rect x="59.3" y="55.3" class="st2" width="222.4" height="130.5"/>
                                                <text transform="matrix(1.0267 0 0 1 59.2523 78.1749)"><tspan x="0" y="0" class="st1 st4 st7">NÄR </tspan><tspan x="71.4" y="0" class="st1 st8 st7">DU </tspan><tspan x="0" y="37.6" class="st9 st8 st7">HANDLAR </tspan><tspan x="0" y="75.2" class="st1 st4 st7">EN </tspan><tspan x="49.9" y="75.2" class="st1 st8 st7">VARA </tspan><tspan x="139.1" y="75.2" class="st1 st4 st7">FÖR:</tspan>

                                                </text>

                                            </g>
                                             <animateColor attributeName="fill" from="rgb(100%,0%,0%)" to="orange" begin="0s" dur="5s" repeatCount="indefinite"/>

                                            </svg>
                                        </div>

                                        <div class="padding-1v col-xs-6">
                                            <svg id="circle" style="width: 100%; height:20vw; stroke: #f1f2f2 !important;"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                                <image x="0" y="0" style="width: 95%; height: 20vw;" xlink:href="/images/cashback-to-society/oldtwo-02.svg" />
                                            </svg>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5vw; border:1px solid black;">
                            <div class=" container" >

                                <div class="col-xs-8 col-xs-offset-2 text-center padding-2v" >
                                    <h1 class="light text-spaced">Brantu doing it differently</h1>
                                    <h4>Donera Istället!</h4>
                                    <p>För varje produkt du handlar genom oss, går återbäringen till den välgörenhetsorganisationen som du väljer. Du behöver bara att besöka nätbutiken via BRANTUS länkar så registreras din återbäring. Hur mycket pengar du samlar in beror på hur mycket du shoppar!</p>

                                </div>

                                <div class="row text-center" style="margin-bottom: 2vw;">
                                    <div class="col-xs-4">
                                            <image style="width: 40vw; height: 40vw;" src="/images/cashback-to-society/differentone-01.svg" />
                                    </div>
                                    <div class="col-xs-4">
                                            <image style="width: 15vw; height: 15vw;" src="/images/cashback-to-society/differentTWO-02.svg" />

                                    </div>
                                    <div class="col-xs-4">
                                        <svg id="circle" style="width: 100%; height:20vw;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                            <image x="0" y="0" style="width: 100%; height: 20vw;" xlink:href="/images/cashback-to-society/differentthree-06.svg" />
                                        </svg>

                                        <image style="width: 100%; height: 15vw;" src="/images/cashback-to-society/cashbacktosociety.svg" />


                                    </div>
                                </div>
                                </div>


                            </div>
                        <div class="row">
                            <div class="container padding-4v ">
                                <h1 class="text-center bold">Some of Our Causes</h1>
                                <h5 class="bold text-center padding-2v"> We partner with most of the well established charity organizations all over the world in different charity areas. </h5>
                                <div class="row" style="padding-top: 2vw;">
                                    <div class="col-md-4 bg-Image " style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/JKLSYFUQ9E.jpg'); height: 15vw; border: 3px solid white;">
                                        <div class="overlayer bottom-left full-width">
                                            <div class="overlayer-wrapper item-info more-content">
                                                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                                    <div class="">
                                                        <h3 class="pull-left bold text-white no-margin ">Enviroment</h3>
                                                        <div class="clearfix"></div>
                                                        <span class="hint-text pull-left text-white">Hand and mind crafted</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 bg-Image" style="background-image: url('https://sorenbosteendahl.files.wordpress.com/2009/11/happy-smiling-kids-sierra-leone-masanga-3.jpg'); height: 15vw; border: 3px solid white;">
                                        <div class="overlayer bottom-left full-width">
                                            <div class="overlayer-wrapper item-info more-content">
                                                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                                    <div class="">
                                                        <h3 class="pull-left bold text-white no-margin ">Disaster Relief & Humanitarian</h3>
                                                        <div class="clearfix"></div>
                                                        <span class="hint-text pull-left text-white">Hand and mind crafted</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 bg-Image" style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/623FCA67C5.jpg'); height: 15vw; border: 3px solid white;">
                                        <div class="overlayer bottom-left full-width">
                                            <div class="overlayer-wrapper item-info more-content">
                                                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                                    <div class="">
                                                        <h3 class="pull-left bold text-white no-margin ">Animal</h3>
                                                        <div class="clearfix"></div>
                                                        <span class="hint-text pull-left text-white">Hand and mind crafted</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 bg-Image" style="background-image: url('https://wnninterviewsociety.files.wordpress.com/2013/07/516-africa_child-immunization-imagerodcurtiswho.jpg'); height: 15vw; border: 3px solid white;">
                                        <div class="overlayer bottom-left full-width">
                                            <div class="overlayer-wrapper item-info more-content">
                                                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                                    <div class="">
                                                        <h3 class="pull-left bold text-white no-margin ">Health</h3>
                                                        <div class="clearfix"></div>
                                                        <span class="hint-text pull-left text-white">Hand and mind crafted</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 bg-Image" style="background-image: url('http://assets.nydailynews.com/polopoly_fs/1.115089.1313949679!/img/httpImage/image.jpg_gen/derivatives/article_970/alg-classroom-kids-jpg.jpg'); height: 15vw; border: 3px solid white;">
                                        <div class="overlayer bottom-left full-width">
                                            <div class="overlayer-wrapper item-info more-content">
                                                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                                    <div class="">
                                                        <h3 class="pull-left bold text-white no-margin">Education</h3>
                                                        <div class="clearfix"></div>
                                                        <span class="hint-text pull-left text-white">Hand and mind crafted</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 bg-Image" style="background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/3418LC6EKW.jpg'); height: 15vw; border: 3px solid white;">
                                        <div class="overlayer bottom-left full-width">
                                            <div class="overlayer-wrapper item-info more-content">
                                                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                                    <div class="">
                                                        <h3 class="pull-left bold text-white no-margin">Arts & Culture</h3>
                                                        <div class="clearfix"></div>
                                                        <span class="hint-text pull-left text-white">Hand and mind crafted</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </section>
§               {{>search}}
                {{>footer}}
            </div>
        </div>
    </div>
</div>
