
<div class="overlay" role="nav-down-container" style="height:20vw"></div>

    <div class="page-content-wrapper " style="background-color:#fff;">
        <div class="content " id="mainSection">
            <div class="container"  style=" overflow: hidden; margin-top: 150px;">
                <div class="row" >
                    <div class="col-md-12 bg-image " style="background-image:url('/images/join-shop/main.jpg'); background-position: center;">
                            <div class="col-md-5  padding-5v" style="background: rgba(98,98,98,0.8)">
                                    <h1 class="text-spaced text-white" style="margin-top: 5vw;"> Bli partner och få fler besökare till din nätbutik!</h1>
                            </div>
                        </div>

                </div>
                <div class="padding-2v" >
                    <h2 class="bold text-center padding-2v">Bra anledningar att bli partner</h2>
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <svg  style="width: 100%; height: 3vw;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                <image x="0" y="0" style="width: 100%; height: 3vw;"  xlink:href="/images/join-shop/traffic.svg" />
                            </svg>
                            <h3 >Högkvalitativ trafik</h3>
                        </div>
                        <div class="col-sm-3 text-center">
                            <svg  style="width: 100%; height: 3vw;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                <image x="0" y="0" style="width: 100%; height: 3vw;"  xlink:href="/images/join-shop/globe.svg" />
                            </svg>
                            <h3 >En bättre värld</h3>
                        </div>
                        <div class="col-sm-3 text-center">
                            <svg  style="width: 100%; height: 3vw;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                <image x="0" y="0" style="width: 100%; height: 3vw;"  xlink:href="/images/join-shop/setup.svg" />
                            </svg>
                            <h3>Inga startavgifter</h3>
                        </div>
                        <div class="col-sm-3 text-center">
                            <svg  style="width: 100%; height: 3vw;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                <image x="0" y="0" style="width: 100%; height: 3vw;"  xlink:href="/images/join-shop/direct.svg" />
                            </svg>
                            <h3 >Betala antingen per klick eller provision på köp</h3>
                        </div>
                    </div>

                </div>
                <div class="padding-2v m-b-1v bg-master-light" >
                    <h2 class="text-center bold">Kontakta oss</h2>
                    <div class="container-fixed-lg text-center">
                        <h5>Kontakta oss om ni vll exponera era produkter mot våra modemedvetna besökare</h5>
                        <div class="row">
                            <div class="col-sm-8 col-md-offset-2 text-center bg-master-lightest">
                                <h4 class="bold">Fredrik Granström</h4>
                                <h5>Brantu</h5>
                                <h5>Scheelevägen 15 <br/>22730, Lund Sweden</h5>
                                <h5>Email: Granstrom@Brantu.com</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        {{>loading}}
        {{>footer}}
    </div>

