
<div class="overlay" role="nav-down-container" style="height:20vw"></div>

<div class="page-content-wrapper " style="background-color:#fff;">
    <div class="content " id="mainSection">
        <div class="row p-t-30" >
            <div class="col-md-4 bg-image no-margin no-padding full-height " style="background-image:url('/images/join-shop/about.jpg'); background-position: center;">
                <div class="padding-30  gradient-velvet-opacity" style="height: 100%">
                    <h6 class="text-center text-white medium b-t b-b b-grey p-t-5 p-b-5">Brantu är en modebaserad sökmotor med visionen att erbjuda det bästa priset genom att jämföra och hitta det bästa priset från över 100 000 produkter.</h6>
                    <ul class="text-center text-white no-style p-t-20">
                        <li><a href="/about-us"><h3  class="text-white">ABOUT US</h3></a></li>
                        <li><a href="/faq"><h3 class="text-white">FAQ</h3></a></li>
                        <li><a href="/privacy-policy"><h3 class=" text-white">Privacy Policy</h3></a></li>
                        <li><a href="/terms-and-conditions"><h3 class="text-white ">Terms of Use</h3></a></li>
                        <li><a href="/cookie-policy"><h3 class="sbold text-pink-darker">Cookie policy</h3></a></li>
                    </ul>
                    <div class=" text-center m-t-30 b-t b-b b-grey" >
                        <h2 class="all-caps text-white hidden-xs">Kom ihåg</h2>
                        <p class="text-white">BRANTU.com säljer inte kläderna som visas på sidan, alla frågor som rör produkter, leverans & betalning bör därför ställas direkt till butiken som säljer plagget.</p>
                    </div>
                </div>
            </div>
            <div class="col-md col-xs-12 faq padding-30">
                <h1 class="text-spaced-medium b-b all-caps">Cookie policy</h1>
                <h4>Information om cookies på Brantus webbplats</h4>
                <p>Brantu använder cookies för att underlätta användningen och förbättra upplevelsen av webbplatsen och personalisera delar av innehållet. Om Brantus användare (” Användare”) inte godkänner att Brantu tillämpar cookies enligt denna policy bör Användare antingen ändra sin webbläsares inställningar så att den inte accepterar cookies eller undvika att använda Brantus webbplats.</p>

                <h5 class="p-t-10 bold" >Vad är en Cookie?</h5>
                <p>Cookies är små textfiler som skickas från Brantus webbserver till och lagras på Användarens dator. Cookies registrerar Användarens beteende på webbplatsen, vilka sidor Användaren besöker och vad Användaren gör.  </p>

                <p>Det finns två huvudtyper av cookies; </p>
                <ul>
                    <li>Låta systemet känna igen återkommande Användare för att anpassa webbplatsen till Användarens tidigare preferenser,</li>
                    <li>Beräkna och föra statistik över användarantal och trafik,</li>
                    <li>Underlätta för Användare att röra sig på webbplatsen,</li>
                    <li>Bygga segment och målgrupper i marknadsföringssyfte och för att kunna rikta annonser,</li>
                    <li>Minska reklam som Användaren historiskt inte visat intresse för,</li>
                    <li>Utveckla och förbättra webbplatsen genom att förstå hur den används, och</li>
                    <li>profilering av Användare. </li>
                </ul>

                <h5 class="p-t-10 bold">Vad använder Brantu cookies till?</h5>
                <p>Cookies hjälper Brantu att följa vad Användare gör på webbplatsen och vilken typ av innehåll och vilka annonser som besökts på webbplatsen. Information som sparas kan vara uppgifter om hur Användare nyttjat webbplatsen, vilka webbläsare som används, vilka annonser Användaren klickat på och hur Användare surfat mellan olika varor och tjänster. Brantu använder cookies för att förbättra webbplatsen för Användaren (t.ex. genom att anpassa den efter val och intressen, hålla reda på vilka varor som lagts i shoppingbag och hantera köp). Tack vare den minneshantering som cookies möjliggör anpassas webbplatsen så att Användare får reklam som kan vara av intresse och relevant.</p>
                <p>Det finns två huvudtyper av cookies: 1) En permanent coockie ligger kvar på användarens dator under en bestämd tid. 2) En sessionscookie lagras tillfälligt i datorn minne under tiden en användare är inne på en webbsida. Sessionscookies försvinner när du stänger din webbläsare.</p>
                <p>Brantu använder permanenta cookies för att bl.a. lagra eventuella personliga inställningar i Cashback to Society samt anpassa och göra information och marknadsföring så relevant som möjligt för Användaren. Permanenta cookies är exempelvis en förutsättning för att Användare ska kunna utnyttja medlemsprogrammet Brantu.</p>
                <p>Brantu använder bland annat sessioncookies i syfte att kunna registrera statistik i samlad/aggregerad form om Användare, trafik och trafikleverantörer. Sådan statistik innehåller dock aldrig några personuppgifter, allt är anonymt. IP-adresser sparas inte i Brantus databas som lagrar beteende på webbplatsen och informationen kommer därför aldrig kopplas samman med identitet. IP-adressen sparas endast i de fall då Användare själv aktivt registrerar sig på webbplatsen (t.ex. vid medlemskap i Brantu). </p>

                <h5 class="p-t-10 bold">Tredjepartscookies</h5>
                <p>Brantus partners kan i vissa fall installera och lagra cookies på Användares datorer. Brantu tar inte ansvar för sådan installation, lagring eller behandling av uppgifter. </p>

                <h5 class="p-t-10 bold">Så förhindrar Användare att cookies lagras</h5>
                <p>Som Användare kan du på olika vis förhindra att cookies används.</p>
                <ul>
                    <li>Genom att radera cookies från Användarens dator. Även tidigare lagrade cookies kan raderas.</li>
                    <li>Ändra inställningarna i webbläsaren så att inte cookies sparas på datorn. Se webbläsarens hjälpsidor för mer information.</li>
                    <li>Mer information om hur du kan förhindra cookies kan du läsa på http://www.minacookies.se. </li>

                </ul>
                <p>
                    Om Användare inte tillåter cookies kan funktionaliteten i vissa delar av Brantus webbplats begränsas. Funktionaliteten på vissa webbsidor kan försämras, tillgång till medlemssidor begränsas och visst innehåll bli otillgängligt (ett köp genom Cashback to Society kan exempelvis inte genomföras). Vid frågor om Brantus Cookie Policy är du välkommen att kontakta <b>info@brantu.com</b>
                </p>
            </div>
        </div>


        <div class="row">
            <div class=" col-xs-12 padding-2v m-b-1v bg-master-light" >
                <h2 class="text-center bold">Kontakta oss</h2>
                <div class="container-fixed-lg text-center">
                    <h5>Kontakta oss om ni vll exponera era produkter mot våra modemedvetna besökare</h5>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-2 text-center bg-master-lightest">
                            <h4 class="bold">Mohamed Rizk</h4>
                            <h5>Brantu</h5>
                            <h5>Scheelevägen 15 <br/>22730, Lund Sweden</h5>
                            <h5> Rizk@Brantu.com</h5>
                        </div>
                        <div class="col-xs-4 text-center bg-master-lightest">
                            <h4 class="bold">Fredrik Granström</h4>
                            <h5>Brantu</h5>
                            <h5>Scheelevägen 15 <br/>22730, Lund Sweden</h5>
                            <h5>Granstrom@Brantu.com</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    {{>loading}}
    {{>footer}}
</div>