<div class="page-container ">
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
            <!-- START PAGE CONTENT -->
            <div class="content" id="mainSection">
                <div class="container">
                    <div class="container-xs-height ">
                      <div class="row-xs-height">
                        <div class="col-xs-height col-middle">
                          <div class="error-container text-center">
                            <h1 class="error-number">404</h1>
                            <h2 class="semi-bold">Sorry but we couldnt find this page</h2>
                              <img src="/images/icons/Error.svg" style="width: 25vw;"/>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
    </div>
</div>
