
  <div class="page-content-wrapper">
      <section class="general" id="mainSection">
          <div class="container">
              <div class="text-center">
                  <h1 class="all-caps bg-black text-purple p-t-20 p-b-20" id="how-it-works-title">Hur fungerar det?</h1>
                  <h3>Vi är en prisjämförelsesajt som samlar alla modebutiker på en plats. </h3>
              </div>

              {{> how-it-works}}
          </div>
      </section>
  </div>






