

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <section id="mainSection" class="no-overflow bg-Image relative" style="background-image: url('/images/home/authenticate.jpg');">
            <!-- START PAGE CONTENT -->
            <div class="content  ">
                <div class="registerContainer active" style="margin-top: 50px;">
                    <div class="registerCard" style=" ">
                        <div class="fs-12 title text-center relative">
                            <img src="/images/brantublacklogo.svg" alt="logo" class="authenticateLogo"/>
                            <h5 class=" bold text-spaced-medium all-caps text-center">
                                Forgot Password
                            </h5>
                            <p>We will send you an email with a link to change your password</p>
                        </div>
                        <form action="/forget" method="post">
                            <div class="input-container">
                                <input type="email" name="email" id="emailForgot" required="required"/>
                                <label for="emailForgot" >Din e-postadress</label>
                                <div class="bar"></div>
                            </div>
                            <div class="button-container p-t-10">
                                <button id="submitRegistration" ><span >Send Email</span></button>
                            </div>
                        </form>



                    </div>
                </div>

            </div>
        </section>
        {{>loading}}
        {{>footer}}
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTENT WRAPPER -->


