
<div class="overlay" role="nav-down-container" style="height:20vw"></div>


<div class="page-content-wrapper" style="background-color:#fff;">
        <section id="mainSection">
            <a href="/shop/man-klader-overdelar"><div class="bg-image relative" style="background-image:url('/images/home/men/main.jpg'); height:40vw; ">
                <div class="col-md-12  full-height"  style="background: linear-gradient(to left, rgba(111,111,111,0.0) 40%, rgba(176,224,230,0.9))">
                    <div class="padding-1v col-sm-4 col-sm-offset-1" style="margin-top: 10vw; ">
                        <div>
                            <h1 class="light all-caps" style="font-size: 7vw; line-height: 8vw;">
                                SOMMAREN Är  Här!
                            </h1>
                        </div>
                        <h4 class="text-pink-darker bold"><font class="text-white sbold all-caps">SHOPPA</font> SOMMARENS SNYGGASTE  <font class="text-white all-caps sbold"> BADLOOK!</font></h4>
                        <button class="btn btn-info pull-right" style="margin-top: 1vw;">Shoppa Nu</button>
                    </div>
                </div>
            </div></a>
            <div class="content">

            <div class=" m-t-10">
                <div style="margin-top: 5vw;">
                    <div style="margin-top: 5vw;">
                        <h1 class="text-center" style="text-align: center;border-bottom: 1px solid #333;line-height: 0;padding: 0; margin:1vw 0vw;">
                            <span class="bg-white padding-2v all-caps ">Sommaren "Must Haves"</span>
                        </h1>
                        <div class="row">
                            <div style=" height: 40vw;" class="col-xs-4">
                                <div class="bg-image full-width full-height" style="background-position: top; background-image:url('/images/home/men/main2.jpg');"></div>
                            </div>
                            <div  class="padding-1v row col-xs" style="height: 40vw; ">
                                <a href="/shop/man-klader-trojor" class="bg-image margin-1v hoverish col-xs-4" style="height:26vw;   background-position: center; background-image:url('/images/home/men/beach_sweater.jpg');"></a>
                                <a href="/shop/man-klader-byxor" class="bg-image margin-1v hoverish col-xs-3" style="height:30vw;  background-position: center; background-image:url('/images/home/men/beach_shorts.jpg');"></a>
                                <div class="full-height col-xs-3">
                                    <a href="/shop/man-accessoarer-vaskor"><div class="bg-image margin-1v hoverish half-height full-width" style="  background-position: center; background-image:url('/images/home/men/beach_bag.jpg');"></div></a>
                                    <a href="/shop/man-skor-lagaskor"><div class="bg-image margin-1v hoverish half-height full-width" style="  background-image:url('/images/home/men/beach_shoes.jpg');"></div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="sale" style="margin-top: 5vw;">
                    <h1 class="text-center" style="text-align: center;border-bottom: 1px solid #333;line-height: 0;padding: 0; margin:1vw 0vw;">
                        <span class="bg-white all-caps ">REA</span>
                    </h1>


                    <div class="row">
                        <a href="/shop/man-premium-klader" class="bg-image margin-1v padding-05v hoverish col-xs-3" style="background-image:url('/images/home/men/pants.jpg'); height: 34vw;">
                            <div class="full-height full-width" style="border: 2px solid white; "></div>
                        </a>
                        <div class="margin-1v col-xs-5">
                            <div style="display: flex; flex-direction: row;">
                                <a href="/shop/herrklader-rea" class="bg-image padding-05v hoverish" style="background-image:url('/images/home/men/sweater.jpg'); flex: 0 0 45%; height: 15.5vw;">
                                    <div class="full-height full-width" style="border: 2px solid white; "></div>
                                </a>
                                <a href="/shop/man-premium-klader" class="bg-image padding-05v hoverish" style="background-image:url('/images/home/men/blazer.jpg'); flex: 0 0 45%; height: 15.5vw; margin-left: auto;">
                                    <div class="full-height full-width" style="border: 2px solid white; "></div>
                                </a>
                            </div>

                            <div href="/shop/herrskor-rea" class="bg-image full-width padding-05v hoverish" style="background-image:url('/images/home/men/shoes.jpg'); height: 16.5vw; margin-top:2.02vw; " >
                                <a href=""><div class="full-height full-width" style="border: 2px solid white; "></div></a>
                            </div>
                        </div>

                        <a href="/shop/herrklader-rea" class="bg-image margin-1v padding-05v hoverish col-xs-3" style="background-image:url('/images/home/men/jeans.jpg'); height: 34vw;">
                            <div class="full-height full-width" style="border: 2px solid white; "></div>
                        </a>
                    </div>
                </div>

                <div style="margin-top:1vw; margin-bottom:4vw;">
                    <div>
                        <h1 class="text-center " style="text-align: center;border-bottom: 1px solid #333;line-height: 0;padding: 0; margin:1vw 0vw;">
                            <span class="bg-white  capitalize "></span>
                        </h1>
                    </div>
                    <div class="row " style="margin: 2vw 0;">
                        <div class=" col-sm text-center" style="margin-top: 6%;">
                            <h3 class="bold  text-spaced sbold" style="padding-bottom: 1%;">SHOPPA</h3>
                            <p class="bold" style="padding-left: 1vw; padding-right: 1vw;"> Istället för att ägna tid åt att kolla upp var dina favoritkläder finns, kan vi hjälpa dig med det. Genom att ställa in din personliga profil ser vi till att du snabbt kan få en överblick av vad du är intresserad av. I din butik samlas  produkterna från de varumärkena du gillar och det är även här du väljer om du vill gå vidare till klädbutiken som säljer produkterna.</p>
                        </div>


                        <div class=" col-sm text-center">
                            <img src="/images/home/cashbackheart.svg" class="full-width"/>
                        </div>

                        <div class="col-sm text-center" style="margin-top: 6%;">
                            <h3 class="bold text-spaced sbold" style="padding-bottom: 1%;">GE PENGAR</h3>
                            <p class="bold" style="padding-left: 1vw; padding-right: 1vw;">För varje produkt du handlar genom BRANTU, betalar klädbutikerna ut en slant där 25% går till den välgörenhetsorganisatione som du väljer. Hur mycket pengar du samlar in beror på hur mycket du shoppar.</p>
                            <div class="text-center">
                                <a href="/cashback-to-society"><button class="btn btn-info" style="margin-top: 1vw;">Läs Mer</button></a>

                            </div>
                        </div>
                    </div>


                </div>

            </div>



            </div>
        </section>
        {{>search}}
        {{>loading}}
        {{>footer}}
 </div>



  <script type="text/javascript" src="/plugins/sly.min.js"></script>

  <script type="text/javascript" src="/javascripts/search.js"> </script>
  <script type="text/javascript" src="/javascripts/navbar.js"> </script>
  <script type="text/javascript" src="/javascripts/register.js"> </script>
  <script type="text/javascript" src="/javascripts/home.js"> </script>
