
<div class="overlay" role="nav-down-container" style="height:20vw"></div>


<div class="page-content-wrapper bg-white ">
        <section id="mainSection" class=" bg-white ">
            <div id="owlLanding" class="" >

                <div class="mainJumbtron bg-image relative no-overflow relative" style="background-image:url('/images/home/men/jumbtron-men.jpg');">

                    <div class="col-md-12  full-height relative" >
                        <div class=" gradient-grey" style="top:-100px;  border-radius: 0%; position: absolute; bottom: -100px; right: 0%; left: 0%;"></div>
                        <div class=" text-section padding-1v col-xs-12 text-center visible-xs">
                            <h2 class="text-spaced-medium all-caps bold text-white ">Shoppa Smart</h2>
                            <h3 class="text-spaced all-caps bold text-white ">Jämför och hitta det bästa priset inom mode.</h3>
                        </div>
                        <div class="padding-1v col-xs-12 text-center hidden-xs text-section" >
                            <h1 class="text-spaced-medium all-caps sbold text-white ">Shoppa Smart</h1>
                            <h3 class="text-spaced all-caps bold text-white ">Jämför och hitta det bästa priset inom mode.</h3>

                            <div class="m-t-30 hidden-xs">
                                   <span class="relative" style="width: auto;">
                                    <input type="text" id="fakeDesktopSearch" class="text-center text-black all-caps bold  p-l-20" style="width:600px; height:40px; background-color: rgba(255,255,255,0.9); border: 0; border: 1px solid #ddd;  font-size: 16px;" placeholder="Sök"/>
                                    <button class="search-button bg-transparent no-border" style="position: absolute; left:92%;top: -7px;">
                                        <i class="fa text-master-light fa-search" style="font-size: 24px; "></i>
                                    </button>
                                   </span>
                            </div>
                            <!--<div class="m-t-40 hidden-sm hidden-xs">
                                <a class="text-velvet padding-10"  id="startFeed"><div class="relative" style="width: auto; height: auto;"><btn class="btn no-border btn-default bold text-black circle"><span class="top-left " style="padding-left: 25px; padding-top: 30px;"><i class=" pg-arrow_minimize_line" style="font-size:42px;"></i></span></btn><div></div></div></a>
                                 <a class="text-velvet padding-10"><div><u>Explore Products</u></div></a>
                            </div>-->

                        </div>
                    </div>
                </div>

                <!--<div>
                    <div id="sale">

                        <div class="row">
                            <a href="/shop/man-premium-klader" class="bg-image margin-1v padding-05v hoverish col-xs-3" style="background-image:url('/images/home/men/pants.jpg'); height: 34vw;">
                                <div class="full-height full-width" style="border: 2px solid white; "></div>
                            </a>
                            <div class="margin-1v col-xs-5">
                                <div style="display: flex; flex-direction: row;">
                                    <a href="/shop/herrklader-rea" class="bg-image padding-05v hoverish" style="background-image:url('/images/home/men/sweater.jpg'); flex: 0 0 45%; height: 15.5vw;">
                                        <div class="full-height full-width" style="border: 2px solid white; "></div>
                                    </a>
                                    <a href="/shop/man-premium-klader" class="bg-image padding-05v hoverish" style="background-image:url('/images/home/men/blazer.jpg'); flex: 0 0 45%; height: 15.5vw; margin-left: auto;">
                                        <div class="full-height full-width" style="border: 2px solid white; "></div>
                                    </a>
                                </div>

                                <div href="/shop/herrskor-rea" class="bg-image full-width padding-05v hoverish" style="background-image:url('/images/home/men/shoes.jpg'); height: 16.5vw; margin-top:2.02vw; " >
                                    <a href=""><div class="full-height full-width" style="border: 2px solid white; "></div></a>
                                </div>
                            </div>

                            <a href="/shop/herrklader-rea" class="bg-image margin-1v padding-05v hoverish col-xs-3" style="background-image:url('/images/home/men/jeans.jpg'); height: 34vw;">
                                <div class="full-height full-width" style="border: 2px solid white; "></div>
                            </a>
                        </div>
                    </div>
                </div>-->
            </div>

            <div class="content" style="">
                <div class="row m-t-20 m-xs-t-5" >
                    <div class="no-padding m-t-20 m-b-50 m-xs-t-0 full-width text-center hidden-xs">
                        <h2 class="text-center no-padding no-margin hidden-xs" style="border-bottom: 1px solid #333;line-height: 0;">
                            <span class="bg-white p-l-10 p-r-10 all-caps text-spaced-medium">Top picks</span>
                        </h2>
                    </div>
                    <div class="col-md-10 col-xs-12 col-sm-12">
                        <div>
                            <div class="feed" data-page="1" data-total-pages="{{feed.pages}}">
                                {{> feed_Back}}
                            </div>
                        {{#unless (compareNumber  1 feed.pages)}}
                            <div class="text-center p-t-20 p-b-20">
                                <btn id="loadMoreFeed" class="btn btn-velvet bold circle">
                                    Load More

                                </btn>
                                <div id="moreFeedLoader" class=" text-center" style="display: none;">
                                    <img src='/images/progress/progress-circle-danger.svg' style="width:60px; height: 60px;"/>
                                </div>
                            </div>
                        {{/unless}}
                        </div>
                    </div>
                    <div class="col-md hidden-sm hidden-xs relative">

                            <div id="sideBanner">
                                <!--<a href="http://ad.zanox.com/ppc/?38687697C951858620T" target="_blank"><img src="http://ad.zanox.com/ppv/?38687697C951858620" align="bottom" style="width:100%; height: auto; max-height: 930px; max-width: 240px;" border="0" hspace="1" alt="River Island Women"></a>-->
                                <a href="http://ad.zanox.com/ppc/?38687731C1832568951T" target="_blank"><img src="http://ad.zanox.com/ppv/?38687731C1832568951" align="bottom" width="160" height="600" border="0" hspace="1" alt="Summer Static Scan 160x600"></a>
                            </div>

                    </div>
                </div>
            </div>
        </section>
        {{>loading}}
        {{>footer}}
 </div>
<script type="text/javascript" src="/javascripts/home.js"> </script>

