
<div class="overlay" role="nav-down-container" style="height:20vw"></div>


<div class="page-content-wrapper bg-master-light ">
        <section id="mainSection" class=" bg-master-light ">
            <a href="/shop/man-klader-overdelar"><div class="bg-image relative" style="background-image:url('/images/home/men/mensalecover.jpg'); height:40vw; ">
                <div class="col-md-12  full-height" >
                    <div class="padding-1v col-sm-4 col-sm-offset-1" style="margin-top: 10vw; ">

                    </div>
                </div>
            </div></a>
            <div class="content">

            <div class=" m-t-10">
                <div style="margin-top: 5vw;">
                    <div style="margin-top: 5vw;">
                        <h1 class="text-center" style="text-align: center;border-bottom: 1px solid #333;line-height: 0;padding: 0; margin:50px 0vw;">
                            <span class="bg-master-light text-white bold padding-2v all-caps  text-spaced-medium">EDITORS Feed</span>
                        </h1>
                        <div class="feed" data-page="1">
                                {{> feed_Back}}
                        </div>
                        <div class="text-center p-t-20"><btn id="loadMoreFeed" class="btn btn-info">Load More</btn></div>
                    </div>
                </div>

                <div id="sale" style="margin-top: 5vw;">
                    <h1 class="text-center" style="text-align: center;border-bottom: 1px solid #333;line-height: 0;padding: 0; margin:1vw 0vw;">
                        <span class="bg-white all-caps ">REA</span>
                    </h1>


                    <div class="row">
                        <a href="/shop/man-premium-klader" class="bg-image margin-1v padding-05v hoverish col-xs-3" style="background-image:url('/images/home/men/pants.jpg'); height: 34vw;">
                            <div class="full-height full-width" style="border: 2px solid white; "></div>
                        </a>
                        <div class="margin-1v col-xs-5">
                            <div style="display: flex; flex-direction: row;">
                                <a href="/shop/herrklader-rea" class="bg-image padding-05v hoverish" style="background-image:url('/images/home/men/sweater.jpg'); flex: 0 0 45%; height: 15.5vw;">
                                    <div class="full-height full-width" style="border: 2px solid white; "></div>
                                </a>
                                <a href="/shop/man-premium-klader" class="bg-image padding-05v hoverish" style="background-image:url('/images/home/men/blazer.jpg'); flex: 0 0 45%; height: 15.5vw; margin-left: auto;">
                                    <div class="full-height full-width" style="border: 2px solid white; "></div>
                                </a>
                            </div>

                            <div href="/shop/herrskor-rea" class="bg-image full-width padding-05v hoverish" style="background-image:url('/images/home/men/shoes.jpg'); height: 16.5vw; margin-top:2.02vw; " >
                                <a href=""><div class="full-height full-width" style="border: 2px solid white; "></div></a>
                            </div>
                        </div>

                        <a href="/shop/herrklader-rea" class="bg-image margin-1v padding-05v hoverish col-xs-3" style="background-image:url('/images/home/men/jeans.jpg'); height: 34vw;">
                            <div class="full-height full-width" style="border: 2px solid white; "></div>
                        </a>
                    </div>
                </div>


            </div>



            </div>
        </section>
        {{>loading}}
        {{>footer}}
 </div>
<script type="text/javascript" src="/javascripts/home.js"> </script>
<script type="text/javascript" src="/javascripts/manage-feed.js"> </script>
