<div class="page-container ">
  <!-- START PAGE CONTENT WRAPPER -->
  <div class="page-content-wrapper">

    <!-- START PAGE CONTENT -->
     <div class="content">

        <div class="welcome"></div>

        <div class="preference-list-with-recommendations">


        <div class="main-categories" id="categories">
          <div class="result-pane">
           <ol class="preference-list">
           </ol>
          </div>

        </div>
        </div>
     </div>
    <!-- END PAGE CONTENT -->
    </div>
  <!-- END PAGE CONTENT WRAPPER -->

</div>
<script type="text/javascript" src='/plugins/jquery/jquery-1.11.1.min.js'></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/plugins/sly.min.js"></script>
<script type="text/javascript" src="/plugins/typeahead.bundle.js"></script>
<script type="text/javascript" src="/plugins/jquery-bez/jquery.bez.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-tag/bootstrap-tagsinput.js"></script>

<script type="text/javascript" src="/javascripts/generic.js"> </script>
<script type="text/javascript" src="/javascripts/offer.js"> </script>
<script type="text/javascript" src="/javascripts/navbar.js"> </script>
