<div class="page-content-wrapper">
    <section class="general content" id="mainSection">
    <div class="jawBoneContent open" id="jawbone">
    <div class="jawBoneOpenContainer"> 
        <div class="jawBoneFadeInPlaceContainer"> 
            <div class="jawBoneContainer">
                {{> productView_Back}}
                {{> productRelated_Back}}
            </div> 
        </div> 
    </div> 
</div>
    </section>
    {{>loading}}
    {{>footer}}
</div>