<div class="page-content-wrapper">
    <section class="general" id="mainSection">
                {{> productView_Back}}
    </section>
      <script>
              {{#if product}}
                var  getRelatedProductsID  = {{{json product._id}}};
              {{/if}}
      </script>
</div>