

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper bg-transparent">
        <section id="mainSection" class="no-header" >
            <div >
            <!-- START PAGE CONTENT -->
                <div class="content  ">
                <div class="registerContainer" style="margin-top: 50px;">
                    <div class="registerCard" style=" ">
                        <div class="fs-12 title text-center relative">
                            <div class="">
                                <a href="/">
                                    <img src="/dist/images/logo_white.svg" alt="logo"  width="180"/>
                                </a>
                            </div>
                            <h5 class=" bold text-spaced-medium all-caps text-center text-white">
                                <font class="text-pink"> välkommen till vår Betaversion</font>
                                <br/>
                                Vi lanserar inom kort
                            </h5>
                            <p>
                                Registrera dig och ta del utav det senaste inom mode så snart vi lanserar.
                            </p>
                            {{#if errorMessage}}
                                <div id="registerError" >
                                    <p  class="text-red all-caps text-center" >vänligen Försök igen eller<a href="/login" class="p-l-10 bold all-caps">Logga in</a></p>
                                </div>
                            {{/if}}
                        </div>

                        <!--<div class="button-container padding-1v" style="margin-bottom: 30px;">
                            <a href="/auth/facebook">
                                <button id="facebookAccess" style="background-color: #3b5998;">
                                    <span> <i class="fa fa-facebook" style="color:#fff;"></i></span>
                                </button>
                            </a>
                        </div>-->

                        <form id="signupFormPage"  role="form" action="/signupUser" method="post">

                            <div class="input-container">
                                <input type="email" name="email" id="emailSignupPage" required="required"/>
                                <label for="emailSignupPage" >Din e-postadress</label>
                                <div class="bar"></div>

                            </div>

                            <div class="input-container">
                                <input type="password" name="password" id="passwordSignupPage"  required="required"/>
                                <label for="passwordSignupPage" >Lösenord</label>
                                <div class="bar"></div>
                            </div>

                            <div class="input-container"  style="margin-bottom: 20px;">
                                <input type="password"  id="passwordSignupPageConfirm" required="required"/>
                                <label for="passwordSignupPageConfirm">Upprepa lösenord</label>
                                <div class="bar"></div>
                            </div>
                            <div id="registerPagePasswrodError" style="display:none;">
                                <p  class="text-red text-center all-caps" >Dina lösenord matchar inte</p>
                            </div>

                            <div class="input-radio">
                                <div class="col-xs text-center">
                                    <div class="radio radio-primary auto-margin block " id="genderSelectionSignupPage">
                                        <input type="radio"  value="female"  name="gender" id="femaleSignupPage" />
                                        <label for="femaleSignupPage"  class=" bold text-white">Kvinna</label>

                                        <input type="radio"  value="male"   name="gender" id="maleSignupPage" />
                                        <label for="maleSignupPage"  class=" bold text-white">Man</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-10 col-sm-offset-1 p-t-10">
                                <div class="row">
                                    <div class="col-xs-1">
                                        <div class="full-width">
                                            <input class="pull-right" type="checkbox" name="concent" id="concent" required/>
                                        </div>
                                    </div>
                                    <div class="col-xs-11">
                                        <label  for="concent"class=" fs-13 text-white">Jag godkänner medlemsvillkoren och att mina personuppgifter behandlas enligt ovan, medlemsvillkoren samt Brantus <a class="text-velvet" href="/privacy-policy">Integritetspolicy</a>.</label>
                                    </div>
                                </div>
                            </div>

                            <div class="button-container p-t-10">
                                <button id="submitRegistration" ><span >Välkommen In</span></button>
                            </div>

                        </form>
                        <div class="text-center">
                            <a class="text-white bold b-b" href="/login">LOGGA IN</a>
                            <div class="p-t-20">
                                <a class="all-caps  bold text-white" href="/">
                                    Go to Home
                                </a>
                            </div>
                        </div>




                    </div>
                </div>
                <div class="registerLoading fixed" style="display: none; top:0; bottom:0; right:0; left:0; z-index:500;">
                    <div class="loading full-height full-width gradient-velvet-opacity" >
                        <div class="">
                            <div class="text-center" style="padding-top: 100px;" >
                                <div class=" text-center ">
                                    <h3 class="text-white">Vi jämför och hittar dina stilar till det bästa priset</h3>
                                    <img src="/dist/images/progress/progress-circle-lg-white.svg" style="width:40px; height:40px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTENT WRAPPER -->


