
<div class="page-container ">
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <section class="no-overflow" id="mainSection">
            <!-- START PAGE CONTENT -->
            <div class="content">
                <div class="registerContainer active" style="margin-top: 50px;">
                    <div class="registerCard" style="background: linear-gradient(to top, rgb(117, 127, 154), rgb(0, 0, 0))">
                        <h1 class="title text-center text-pink" style="border-color:#eed3d3; ">
                            Sign Up
                        </h1>
                        <div class="button-container padding-1v" style="margin-bottom: 30px;">
                            <a href="/auth/facebook">
                                <button id="facebookAccess" style="background-color: #3b5998;">
                                    <span> <i class="fa fa-facebook" style="color:#fff;"></i></span>
                                </button>
                            </a>
                        </div>

                        <form id="signupFormPage"  role="form" action="/signupUser" method="post">
                            <div class="input-container">
                                <input type="text" name="name" id="nameSignupPage" class="text-white" required="required"/>
                                <label for="nameSignupPage" class="text-pink">Din Namn</label>
                                <div class="bar"></div>
                            </div>

                            <div class="input-container">
                                <input type="email" name="email" id="emailSignupPage" class="text-white" required="required"/>
                                <label for="emailSignupPage" class="text-pink">Din e-postadress</label>
                                <div class="bar"></div>
                            </div>

                            <div class="input-container"  style="margin-bottom: 20px;">
                                <input type="password" name="password" id="passwordSignupPage" class="text-white" required="required"/>
                                <label for="PasswordSignupPage" class="text-pink">Lösenord</label>
                                <div class="bar"></div>
                            </div>

                            <div class="input-radio">
                                <div class="col-xs-8 col-xs-offset-4">
                                    <div class="radio radio-default auto-margin block " id="genderSelectionSignupPage">
                                        <input type="radio"  value="female"  name="gender" id="femaleSignupPage" />
                                        <label for="femaleSignupPage"  class="text-pink bold ">Kvinna</label>

                                        <input type="radio"  value="male"   name="gender" id="maleSignupPage" />
                                        <label for="maleSignupPage"  class=" text-pink bold ">Man</label>
                                    </div>
                                </div>
                                <div class="col-sm-10 text-center col-sm-offset-1">
                                    <h6 class="text-white">By clicking Sign Up, you agree to our  <a target="_blank" href="http://www.brantu.com/terms-and-conditions"> Terms &amp; Conditions</a> and that you have read our <a target="_blank" href="http://www.brantu.com/privacy-policy">Privacy Policy</a></h6>
                                </div>
                            </div>

                            {{debug errorMessage}}
                            {{#if errorMessage}}
                                    <div id="registerError" class="col-sm-12">
                                        <p  class="text-red text-center" > Your account already exist<a href="/login">Login</a></p>
                                    </div>
                            {{/if}}
                            <div class="button-container">
                                <button id="submitRegistration" style="border-color: #eed3d3;"><span class="text-white">Välkommen In</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {{>search}}
        {{>footer}}
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTENT WRAPPER -->

</div>


<script type="text/javascript" src="/javascripts/search.js"> </script>
<script type="text/javascript" src="/javascripts/navbar.js"> </script>
<script type="text/javascript" src="/javascripts/register.js"> </script>
<script type="text/javascript" src="/javascripts/generic.js"> </script>



