
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <section id="mainSection">
            <!-- START PAGE CONTENT -->
            <div class="content">
                <div class="welcome">
                    <h1 class="text-center visible-xs">Preferences</h1>
                    <div class="row visible-xs ">
                        <div class="col-xs-6 text-center">
                               <a href="/settings/brands"><h4 class="{{#if (compareStrings (settingsPartial) 'settings-brands')}}sbold{{/if}}">Brands</h4></a>
                        </div>
                        <div class="col-xs text-center">
                               <a href="/settings/account/main"><h4 class="{{#if (compareStrings (settingsPartial) 'settings-account')}}sbold{{/if}}"> Account</h4></a>
                        </div>


                    </div>
                </div>
                <div class="addbody b-t">
                    <div class="row ">
                        <div class="col-sm-2 hidden-xs">
                            <div class="hidden-xs" id="menuWrapper" style="position: fixed;">
                                <div id="menu" class="">
                                    <h4 class="b-b">Preferences</h4>
                                    <ol class="no-style">
                                        <a {{#if (compareStrings (settingsPartial) 'settings-brands')}} class="sbold" {{/if}} href="/settings/brands"> <li value="brands " class="  padding-1v " style="font-size: 16px;">Brands <i class="pg-arrow_right"></i></li></a>
                                        <a class="{{#if (compareStrings (settingsPartial) 'settings-sizes')}} sbold{{/if}} hide" href="/settings/sizes"> <li value="sizes" class="  padding-1v" style="font-size: 16px;"> Sizes <i class="pg-arrow_right"></i></li></a>
                                        <a class="{{#if (compareStrings (settingsPartial) 'settings-notifications')}} sbold{{/if}} hide" href="/settings/notifications"><li value="notifications"  class="bold padding-1v" style="font-size: 16px;"> Notifications<i class="pg-arrow_right"></i></li></a>
                                        <a {{#if (compareStrings (settingsPartial) 'settings-account')}} class="sbold" {{/if}} href="/settings/account/main"><li value="account" class=" padding-1v" style="font-size: 16px;">Account<i class="pg-arrow_right"></i></li></a>
                                        <a href="/logout"><li value="logout" class=" padding-1v" style="font-size: 16px;"> Log out<i class="pg-arrow_right"></i></li></a>
                                    </ol>
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-10 col-xs-12 bg-master-lightest" id="main">
                            {{> (settingsPartial) }}
                        </div>
                    </div>
                </div>
        </div>
        </section>
        {{>loading}}
        {{#unless (compareStrings (settingsPartial) 'settings-brands')}} {{>footer}} {{/unless}}
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTENT WRAPPER -->


{{#if (compareStrings (settingsPartial) 'settings-brands')}}
    <script type="text/javascript" src="/javascripts/other/brandList.js"> </script>
{{/if}}

{{#if (compareStrings (settingsPartial) 'settings-account')}}
    <script type="text/javascript" src="/javascripts/other/settings.js"> </script>
{{/if}}



