
<div class="overlay" role="nav-down-container" style="height:20vw"></div>

<div class="page-container">
        <div class="page-container">
            <div class="page-content-wrapper" style="background-color:#fff;">
               <section id="mainSection">
                   <a href="/shop/damklader-blusar-skjortor">
                    <div class="bg-image relative" style="background-image:url('/images/home/women/main2.jpg'); height:40vw;"> <!--http://media.gettyimages.com/photos/beautiful-woman-on-the-background-of-bay-picture-id186557562-->
                        <div class="col-md-12  full-height"  style="background: linear-gradient(to left,rgba(176,224,230,0.4), rgba(111,111,111,0.0) 40%, rgba(176,224,230,0.7));">
                            <div class="padding-1v col-sm-4  col-sm-offset-1" style="margin-top: 6vw; ">
                                <div>
                                   <h1 class="light all-caps" style="font-size: 5vw; line-height: 6vw;">
                                       <font class="">SOMMAREN</font> Är  Här!
                                   </h1>
                                </div>
                                <h4 class="bold"><font class=" sbold all-caps">SHOPPA</font> SOMMARENS SNYGGASTE  <font class=" all-caps sbold"> BADLOOK!</font></h4>
                                <button class="btn btn-info pull-right" style="margin-top: 1vw;">Shoppa Nu</button>
                            </div>
                        </div>
                    </div>
                   </a>
                   <div class="content" >
                        <div>
                            <div style="margin-top: 5vw;">
                                <h1 class="text-center" style="text-align: center;border-bottom: 1px solid #333;line-height: 0;padding: 0; margin:1vw 0vw;">
                                    <span class="bg-white padding-2v all-caps ">Beach Must Haves</span>
                                </h1>
                                <div class="today row" style="margin-top: 3vw;">
                                    <div class="col-xs-5" style=" height: 40vw;">
                                       <div class="bg-image full-width full-height" style="background-position: top; background-image:url('/images/home/women/main4.jpg');"></div>
                                    </div>
                                    <div  class=" col-xs-7 row" style=" height: 40vw;">
                                        <a href="/shop/damklader-badmode" class="bg-image margin-1v full-height hoverish col-xs" style=" background-position: center; background-image:url('/images/home/women/beach_access.jpg');"></a>
                                        <a href="/shop/damklader-badmode" class="bg-image margin-1v hoverish col-xs" style="height:26vw;  background-position: center; background-image:url('/images/home/women/bikini.jpg');"></a>

                                        <div style="" class="full-height col-xs">
                                            <a href="/shop/accessoarer-dam-vaskor"><div  class="bg-image margin-1v hoverish half-height" style="  background-position: center; background-image:url('/images/home/women/beach_bag.jpg');"></div></a>
                                            <a href="/shop/damskor-sandaler"><div  class="bg-image margin-1v hoverish half-height" style="  background-image:url('/images/home/women/beach_sandal.jpg');"></div></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="m-t-100">
                                <h1 class="text-center" style="text-align: center;border-bottom: 1px solid #333;line-height: 0;padding: 0; margin:1vw 0vw;">
                                    <span class="bg-white padding-2v all-caps ">klä dig i blått</span>
                                </h1>
                                <div class=" row" style=" margin-top: 3vw; height: 40vw;">
                                    <div  class="col-xs-6">
                                        <div class="row">
                                            <a href="/shop/damklader-blusar-skjortor" class="bg-image margin-1v hoverish col-xs-5" style="height:18vw; background-position: center; background-image:url('/images/home/women/blue_blouse.jpg');"></a>
                                            <a href="/shop/premium-dam-vaskor" class="bg-image margin-1v hoverish col-xs-5" style="height:18vw; background-position: center; background-image:url('/images/home/women/blue_bag.jpg');"></a>
                                            <a href="/shop/damklader-byxor" class="bg-image margin-1v hoverish col-xs-5" style=" height:18vw; background-position: center; background-image:url('/images/home/women/blue_shorts.jpg');"></a>
                                            <a href="/shop/lagskor" class="bg-image margin-1v hoverish col-xs-5" style="height:18vw; background-position: center; background-image:url('/images/home/women/blue_shoes.jpg');"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs">
                                        <div class="bg-image full-width full-height" style="background-position: center; background-image:url('/images/home/women/main3.jpg');"></div>
                                    </div>
                                </div>
                            </div>

                            <div style="margin-top: 10vw;">
                                <div id="sale">
                                    <h1 class="text-center" style="text-align: center;border-bottom: 1px solid #333;line-height: 0;padding: 0; margin:1vw 0vw;">
                                        <span class="bg-white padding-2v all-caps ">REA</span>
                                    </h1>

                                    <div class="row" style="">
                                        <a href="/shop/damklader-rea" class="bg-image margin-1v padding-05v hoverish col-xs-3" style="background-image:url('/images/home/women/dress.jpg'); height: 34vw;  margin-right:auto;">
                                            <div class="full-height full-width" style="border: 1px solid white; "></div>
                                        </a>
                                        <div class="margin-1v col-xs-5">
                                            <div style="display: flex; flex-direction: row;">
                                                <a href="/shop/dam-accessoarer-rea" class="bg-image padding-05v hoverish" style="background-image:url('/images/home/women/bags.jpg'); flex: 0 0 45%; height: 15.5vw;">
                                                    <div class="full-height full-width" style="border: 1px solid white; "></div>
                                                </a>
                                                <a href="/shop/damklader-rea" class="bg-image padding-05v hoverish" style="background-image:url('/images/home/women/jackets.jpg'); flex: 0 0 45%; height: 15.5vw; margin-left: auto;">
                                                    <div class="full-height full-width" style="border: 1px solid white; "></div>
                                                </a>
                                            </div>

                                            <div  class="bg-image full-width padding-05v hoverish" style="background-image:url('/images/home/women/shoes.jpg'); height: 16.5vw; margin-top:2.02vw; " >
                                               <a href="/shop/premium-dam-skor"> <div class="full-height full-width" style="border: 1px solid white; "></div></a>
                                            </div>
                                        </div>

                                        <a href="/shop/damklader-rea" class="bg-image margin-1v padding-05v hoverish col-xs-3" style="background-image:url('/images/home/women/jeans.jpg');height: 34vw; margin-left:auto;">
                                            <div class="full-height full-width" style="border: 1px solid white; "></div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div style="margin-top:1vw; margin-bottom:4vw;">
                                    <div>
                                        <h1 class="text-center " style="text-align: center;border-bottom: 1px solid #333;line-height: 0;padding: 0; margin:1vw 0vw;">
                                            <span class="bg-white  capitalize "></span>
                                        </h1>
                                    </div>
                                   <div class="row " style="margin: 2vw 0;">
                                       <div class=" col-sm text-center" style="margin-top: 6%;">
                                           <h3 class="bold  text-spaced sbold" style="padding-bottom: 1%;">SHOPPA</h3>
                                           <p class="bold" style="padding-left: 1vw; padding-right: 1vw;"> Istället för att ägna tid åt att kolla upp var dina favoritkläder finns, kan vi hjälpa dig med det. Genom att ställa in din personliga profil ser vi till att du snabbt kan få en överblick av vad du är intresserad av. I din butik samlas  produkterna från de varumärkena du gillar och det är även här du väljer om du vill gå vidare till klädbutiken som säljer produkterna.</p>
                                       </div>


                                       <div class=" col-sm text-center">
                                               <img src="/images/home/cashbackheart.svg" class="full-width"/>
                                       </div>

                                       <div class="col-sm text-center" style="margin-top: 6%;">
                                           <h3 class="bold text-spaced sbold" style="padding-bottom: 1%;">GE PENGAR</h3>
                                           <p class="bold" style="padding-left: 1vw; padding-right: 1vw;">För varje produkt du handlar genom BRANTU, betalar klädbutikerna ut en slant där 25% går till den välgörenhetsorganisatione som du väljer. Hur mycket pengar du samlar in beror på hur mycket du shoppar.</p>
                                           <div class="text-center">
                                               <a href="/cashback-to-society"><button class="btn btn-info" style="margin-top: 1vw;">Läs Mer</button></a>

                                           </div>
                                       </div>
                                   </div>


                            </div>

                        </div>
                    </div>
                </section>
                {{>search}}
                {{>footer}}
         </div>
       </div>
     </div>
  </div>

  <script type="text/javascript" src="/plugins/sly.min.js"></script>

  <script type="text/javascript" src="/javascripts/search.js"> </script>
  <script type="text/javascript" src="/javascripts/navbar.js"> </script>
  <script type="text/javascript" src="/javascripts/register.js"> </script>
  <script type="text/javascript" src="/javascripts/home.js"> </script>
