


<div class="page-content-wrapper bg-master-lightest" >
   <section id="mainSection" >
       <div id="owlLanding" class="owl-carousel owl-theme">
           <div>
               <a href="/shop/damklader-blusar-skjortor" class="">
                    <div class="bg-image relative mainJumbtron" style="background-image:url('/images/home/women/wherestylemeetsprice.jpg');"> <!--http://media.gettyimages.com/photos/beautiful-woman-on-the-background-of-bay-picture-id186557562-->
                    <div class="col-md-12 hidden-xs  full-height"  style="">
                        <div class="padding-1v col-sm-4 col-xs-7  col-sm-offset-1" style="margin-top: 6vw; ">
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
               </a>
           </div>
           <div>
               <div class="today row">
                   <div class="col-sm-5 col-xs-12 mainJumbtron">
                       <div class="bg-image full-width full-height" style="background-position: top; background-image:url('/images/home/women/main4.jpg');">
                           <btn class="btn btn-info">EXPLORE STYLE VS. PRICE</btn>
                       </div>


                   </div>
                   <div  class=" col-xs-12 col-sm-7 row mainJumbtron">
                       <a href="/shop/damklader-badmode" class="bg-image margin-1v full-height hoverish col-xs" style=" background-position: center; background-image:url('/images/home/women/beach_access.jpg');"></a>
                       <a href="/shop/damklader-badmode" class="bg-image margin-1v hoverish col-xs" style="max-height:80vw;  background-position: center; background-image:url('/images/home/women/bikini.jpg');"></a>
                       <div style="" class="full-height col-xs">
                           <a href="/shop/accessoarer-dam-vaskor"><div  class="bg-image margin-1v hoverish half-height" style="  background-position: center; background-image:url('/images/home/women/beach_bag.jpg');"></div></a>
                           <a href="/shop/damskor-sandaler"><div  class="bg-image margin-1v hoverish half-height" style="  background-image:url('/images/home/women/beach_sandal.jpg');"></div></a>
                       </div>
                   </div>
               </div>
           </div>
           <!--<div>
               <h1 class="headerLined" >
                   <span >klä dig i blått</span>
               </h1>
               <div class=" row ">
                   <div  class="col-sm-6 col-xs-12">
                       <div class="row">
                           <a href="/shop/damklader-blusar-skjortor" class="bg-image margin-1v hoverish col-xs-5 h-long" style=" background-position: center; background-image:url('/images/home/women/blue_blouse.jpg');"></a>
                           <a href="/shop/premium-dam-vaskor" class="bg-image margin-1v hoverish col-xs-5 h-long" style=" background-position: center; background-image:url('/images/home/women/blue_bag.jpg');"></a>
                           <a href="/shop/damklader-byxor" class="bg-image margin-1v hoverish col-xs-5 h-long" style=" background-position: center; background-image:url('/images/home/women/blue_shorts.jpg');"></a>
                           <a href="/shop/lagskor" class="bg-image margin-1v hoverish col-xs-5 h-long" style="background-position: center; background-image:url('/images/home/women/blue_shoes.jpg');"></a>
                       </div>
                   </div>
                   <div class="col-xs">
                       <div class="bg-image full-width mainJumbtron" style="background-position: center; background-image:url('/images/home/women/main3.jpg');"></div>
                   </div>
               </div>
           </div>-->
           <div>
               <div id="sale">
                   <div class="row m-xs-r-30 m-xs-l-30" >
                       <a href="/shop/damklader-rea" class="bg-image margin-1v padding-05v hoverish col-sm-3 col-xs" style="background-image:url('/images/home/women/dress.jpg'); height: 40vw;  margin-right:auto;">
                           <div class="full-height full-width" style="border: 1px solid white; "></div>
                       </a>
                       <div class="margin-1v col-xs-5 hidden-xs">
                           <div style="display: flex; flex-direction: row;">
                               <a href="/shop/dam-accessoarer-rea" class="bg-image padding-05v hoverish" style="background-image:url('/images/home/women/bags.jpg'); flex: 0 0 45%; height: 18vw;">
                                   <div class="full-height full-width" style="border: 1px solid white; "></div>
                               </a>
                               <a href="/shop/damklader-rea" class="bg-image padding-05v hoverish" style="background-image:url('/images/home/women/jackets.jpg'); flex: 0 0 45%; height: 18vw; margin-left: auto;">
                                   <div class="full-height full-width" style="border: 1px solid white; "></div>
                               </a>
                           </div>

                           <div  class="bg-image full-width padding-05v hoverish" style="background-image:url('/images/home/women/shoes.jpg'); height: 20vw; margin-top:2.02vw; " >
                               <a href="/shop/premium-dam-skor"> <div class="full-height full-width" style="border: 1px solid white; "></div></a>
                           </div>
                       </div>
                       <a href="/shop/damklader-rea" class="bg-image margin-1v padding-05v hoverish col-sm-3 col-xs"  style="background-image:url('/images/home/women/jeans.jpg');height: 40vw; margin-left:auto;">
                           <div class="full-height full-width" style="border: 1px solid white; "></div>
                       </a>

                       <div class="padding-1v col-xs-12 visible-xs">
                           <div class="row">
                               <a href="/shop/dam-accessoarer-rea" class="bg-image margin-1v padding-05v hoverish col-xs" style="background-image:url('/images/home/women/bags.jpg');  height: 34vw;">
                                   <div class="full-height full-width" style="border: 1px solid white; "></div>
                               </a>
                               <a href="/shop/damklader-rea" class="bg-image margin-1v padding-05v hoverish col-xs" style="background-image:url('/images/home/women/jackets.jpg'); height: 34vw; margin-left: auto;">
                                   <div class="full-height full-width" style="border: 1px solid white; "></div>
                               </a>
                           </div>

                           <div  class="bg-image full-width padding-05v hoverish" style="background-image:url('/images/home/women/shoes.jpg'); height: 40vw; margin-top:2.02vw; " >
                               <a href="/shop/premium-dam-skor"> <div class="full-height full-width" style="border: 1px solid white; "></div></a>
                           </div>
                       </div>

                   </div>

               </div>
           </div>
       </div>
       <div class="content" >
            <div>
                <div class=" m-t-10">
                    <div style="margin-top: 5vw;">
                        <div style="margin-top: 5vw;">
                            <h1 class="text-center" style="text-align: center;border-bottom: 1px solid #333;line-height: 0;padding: 0; margin:50px 0vw;">
                                <span class="bg-white text-black bold padding-2v all-caps  text-spaced-medium">Style vs. Price Feed</span>
                            </h1>
                            <div class="feed" data-page="1">
                                {{> feed_Back}}
                            </div>
                            <div class="text-center p-t-20 p-b-20"><btn id="loadMoreFeed" class="btn btn-info">Load More</btn></div>
                        </div>
                    </div>

            </div>
        </div>
    </section>
    {{>loading}}
    {{>footer}}
</div>
<script type="text/javascript" src="/javascripts/home.js"> </script>
<script type="text/javascript" src="/javascripts/manage-feed.js"> </script>
