table.dataTable > tbody > tr > th:nth-child(1){
    width: 150px;
}
.header-nav-mobile .toggle-navigation{
    background: transparent;
    border: none;
}
.nav.submenu > li > a:hover, .nav.submenu > li > a:focus{
    background: transparent !important;
}
.title-borders{
    position: relative;
    margin-bottom: 15px;
    text-align: center;
}
.title-borders a, .title-borders span{
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 0 10px;
}
.title-borders:before {
    background: #000;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 49%;
    left: 0;
    width: 100%;
    z-index: 0;
}
.title-borders.gold span{
   color:#9E8130;
}
.title-borders.gold:before {
    background: #9E8130;
}
.section-title, .section-title--catalog {
    margin: 0 0 20px;
    padding: 0 0 5px;
    font-size: 1.1em;
    line-height: 1.2em;
    letter-spacing: .5px;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    text-transform: uppercase;
}
.no-background-image{
    background: none !important;
    background-image: none !important;
    transform: scale(1.1);
}
.searchMainPageOverlay div{
   z-index:200; top:0; bottom:0;  right: 0; left: 0; background: rgba(51,51,51,0.3);
}


/*****HOW IT WORKS*****/
.product-description .modal-body{
    height:400px;
}
.product-description .description{
    margin-top: 100px;;
}
.product-description .product-description-header{

}

.product-description svg path, .product-description svg circle{
    stroke: #9E8130;
}
/*FEEEEED*******/
.productFeedTemplate img{
    height: 20em; max-width:100%; object-fit: cover;
}
.productFeedTemplate img.small{
    height: 15em; max-width:100%; object-fit: cover;
}
.productFeedTemplate img.large{
    height: 30em; max-width:100%; object-fit: cover;
}
img.lazy {
    display: none;
}
.nav-margin{
    margin-right: 35px;
}
.nav-margin-small{
    margin-right: 15px;
}

.fixedPage{
    position: fixed;
    overflow: hidden;
}
.mainLogo{
    transition: all .24s cubic-bezier(.5,0,.1,1);
    background: url('/images/logo.svg') no-repeat top left;
    width:220px;
    height:44px;
    margin-top:15px;
    margin-left: 0px;
    display: block;
    text-align: left;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: auto;

}
input:-webkit-autofill {
    color: transparent !important;
    background: transparent !important;
   
}
#mainSection > .container, #searchSection > .container, #compareSection > .container{
    margin-top:100px;
}

#mainSection > .container.no-header, #searchSection > .container.no-header, #compareSection > .container.no-header{
    margin-top:0px;
}

.hoverish{
    border:2px solid white;
    transition: all .1s cubic-bezier(.5,0,.1,1);
    cursor: pointer;
}
.hoverish:hover{
    border:2px solid black;
    opacity: 0.2;
}




.no-overflow-text{
    white-space: nowrap;
    overflow: hidden;
    o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.submenu li{
    min-width:100px !important;
}
#mobileSubMenu a.active{
    background: #fff !important;
    color:#eed3d3 !important;

}
#mobileSubMenu a.active svg path{
    stroke: #eed3d3 !important;
    stroke-width: 2.4;
}
.glass{
    background: linear-gradient(to top, rgba(255,255,255,0.96) 30%, rgba(255,255,255,0.9), rgba(255,255,255,0.85), rgba(255,255,255,0.75));
    background: -webkit-linear-gradient(to top, rgba(255,255,255,0.96) 30%, rgba(255,255,255,0.9), rgba(255,255,255,0.85), rgba(255,255,255,0.75));
    background: -moz-linear-gradient(to top, rgba(255,255,255,0.96) 30%, rgba(255,255,255,0.9), rgba(255,255,255,0.85), rgba(255,255,255,0.75));
    background: -o-linear-gradient(to top, rgba(255,255,255,0.96) 30%, rgba(255,255,255,0.9), rgba(255,255,255,0.85), rgba(255,255,255,0.75));

}
.glassLight{

    background: linear-gradient(to top, rgba(255,255,255,0.8) 30%, rgba(255,255,255,0.7), rgba(255,255,255,0.7), rgba(255,255,255,0.6));
    background: -webkit-linear-gradient(to top, rgba(255,255,255,0.8) 30%, rgba(255,255,255,0.7), rgba(255,255,255,0.7), rgba(255,255,255,0.6));
    background: -moz-linear-gradient(to top, rgba(255,255,255,0.8) 30%, rgba(255,255,255,0.7), rgba(255,255,255,0.7), rgba(255,255,255,0.6));
    background: -o-linear-gradient(to top, rgba(255,255,255,0.8) 30%, rgba(255,255,255,0.7), rgba(255,255,255,0.7), rgba(255,255,255,0.6));

}
.glassViolet{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.96),  rgba(0, 0, 0, 0.96));
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.96), rgba(0, 0, 0, 0.96));
    background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.96),  rgba(0, 0, 0, 0.96));
    background: -o-linear-gradient(to top, rgba(0, 0, 0, 0.96),  rgba(0, 0, 0, 0.96));
}

.boxShadowed{
    box-shadow: 1px 1px 2px 2px rgba(51,51,51,0.1);
}
.bgBlurEffect{
    -webkit-backdrop-filter: blur(10px);
}
.bgBlurEffectLight{
    -webkit-backdrop-filter: blur(5px);
}
.bgBlurEffectLighter{
    -webkit-backdrop-filter: blur(2px);
}
/***navabr******/
#headerMain .navbar-nav > li > a {
    padding: 14px 0px;
}
.desktopNavColoumns{
    -moz-column-width: 15em; /* Firefox */
    -webkit-column-width: 15em; /* webkit, Safari, Chrome */
    column-width: 15em;
    max-height: 200px;
}
.desktopNavColoumns ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.desktopNavColoumns ul li:first-child
{
    margin-top:0px;
}

.scaleDown{
    -ms-transform: scale(0.75); /* IE 9 */
    -webkit-transform: scale(0.75); /* Safari */
    transform: scale(0.75);
}

.fakeMobileSearchButton{
    opacity:0;
    position:absolute;
    width:50px;
    height:50px;
    top:-10px;
    right:0;
    left: -20;
    bottom: 0;
    z-index: 10;
}
.fakeMobileSearchButton.bigSquare{
    width:200px;
    height:200px;

}
#containerHintAC{
    background: white;
    top:15px;
    width: 500px;
}
#mobileContainerHintAC{
    width:780px !important;
    left:-10%;
    background: white;
}


/**********ALGOLIA AUTO COMPLETE***/

.aa-dropdown-menu{
    background: linear-gradient(to bottom, #FFFFFF 80%, #f3f1f0 );
    border-top:2px solid #9E8130 !important;
    border-bottom:1px solid #9E8130 !important;
    flex-direction: row !important;
    width:100%!important;
}
.my-custom-menu{transition: all .4s cubic-bezier(.5,0,.1,1) !important;}

.productsAC .visible-hover{
    opacity: 0;
    transition: opacity .4s cubic-bezier(.5,0,.1,1);
}
.productsAC:hover .visible-hover{
    opacity: 1;
}

.productsAC, .brandsAC {
    display: flex;
    flex-direction: row;
}
.brandsAC{line-height: 50px;}
.brandsAC img{ position: absolute; bottom: 10px;}
.productsAC div:nth-child(1), .brandsAC div:nth-child(1){
    flex: 1 1 15%;
    position:relative;
}
.productsAC div:nth-child(2), .brandsAC div:nth-child(2){
    flex: 1 1 85%;
}
.aa-dataset-0{
   flex: 1 1 ;
}
.aa-dataset-1{
  flex: 1 1;
}
.styleTip{border-top: 1px solid #9E8130;  border-radius: 0;}
.aa-dropdown-menu:after, .styleTip:after{
    position: absolute;
    top: -7px;
    left: calc(50% - 232px);
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    content: '';
}
.aa-dropdown-menu:before, .styleTip:before{
    position: absolute;
    top: -9px;
    left: calc(50% - 233px);
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #9E8130;
    border-left: 9px solid transparent;
    content: '';
}
.submenu .expand, .submenu .expand a{
    transition: all 0.2s linear;
}
.submenu .expand:hover:after, .submenu .expand.active:after{
    transition: all 0.2s linear;
    position: absolute;
    top: 35px;
    left: 42%;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    border-left: 9px solid transparent;
    content: '';
}
.submenu .expand:hover:before, .submenu .expand.active:before{
    transition: all 0.2s linear;
    position: absolute;
    top: 34px;
    left: 42%;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #9E8130;
    border-left: 9px solid transparent;
    content: '';
}


.algolia-autocomplete {
    width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {

    width: 100%;
}
.algolia-autocomplete .aa-hint {

    color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;

}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
    color:#333;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #f1f2f2;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {

    font-weight: bold;
    font-style: normal;
}

 /* NAV BAR----------
 -----------------------------------*/

 #likedProducts{
     width: 20px; font-size:18px; padding-top: 12px;
 }

 #searchBarLoading{
     right:22%; padding-top:5px;
 }
#searchBarLoading img{
    width:22px; height: 20px;
}

.header .notification-list {
    display: inline-block;
    padding-top: 0px;
}

.header .notification-list a svg{
    transition: all .4s cubic-bezier(.5,0,.1,1);
}

.header .notification-list a:hover svg path, .header .notification-list a:hover svg circle {
    stroke: #ccc;
    stroke-width: 4px;
}

/* NAV Expand----------*/
#navbar-categories-expand{
	height: 0;
}
 #navbar-categories-expand.expand{
	 height:auto;
 }
.category-expand-container{
	display: inline-flex;
 }
.category-expand{
	margin-right:3vw;
}
.category-expand ul{
	list-style-type: none;
	padding:0;
}
.category-expand li{
	list-style-type: none;
	padding:0;
}




/* landing Page*/
.mainJumbtron{
    height:420px;
}
.mainJumbtron .text-section{
    margin-top:50px;
}
.mainJumbtron .gradient-grey{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,656565+44,656565+63,ffffff+100&0+0,0.28+44,0.34+60,0+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(101,101,101,0.28) 44%, rgba(101,101,101,0.14) 60%, rgba(101,101,101,0.14) 63%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(101,101,101,0.28) 44%,rgba(101,101,101,0.14) 60%,rgba(101,101,101,0.14) 63%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(101,101,101,0.28) 44%,rgba(101,101,101,0.14) 60%,rgba(101,101,101,0.14) 63%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
/* landing menue
------------------------------------*/
.brand-follow{
    position: absolute;
    bottom: 5px;
    left: 0;
    right:0;
    text-align: center;
    z-index: 20;
}
.select2-container-multi .select2-choices{
    background: #fff;
    border:0;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
    min-width: 15vw;
    height: 35px !important;
}

ul.circle{

    display: block; text-align:center;
}
ul.circle li{
    display: inline-block;
    list-style: none;
    position: relative;
    width:10vw;
    height: 10vw;
	border-radius: 50%;
    border:1px solid;
    border-color:#e5e6e9 #dfe0e4 #d0d1d5;
    background-repeat: no-repeat; background-position: top; background-size: 100% ;
    margin: 1vw;
    transition:all .2s cubic-bezier(.5,0,.1,1);
}
ul.circle.mini li{
    width:auto;
    height: auto;
    border:none;
    border-radius: 0;
}
ul.circle div {
    font-family: 'Sharp Sans';
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 1.5vw;
    top: 40%;
    right: 5%;
    left:5%;
    color:#333;
    background: rgba(255,255,255,0.6);

}
ul.circle.mini div{
    font-size: 0.8vw;
    line-height: 0.8vw;
    color:#888;
    border-radius: 40%;
    white-space: normal;
}
ul.circle li:hover div{
    color:#333;
}
.bg-Image{
	background-repeat: no-repeat; background-position: top; background-size: cover;
}


 /* Home Compare Carousel
------------------------------------*/
.carouselPreview .next-page, .carouselPreview .prev-page{
    z-index:10;
    font-size:80px;
    color:#ddd;
    cursor: pointer;
    top:34% !important;
    position: absolute;
    transition:all 240ms cubic-bezier(0.86, 0, 0.07, 1);
}
.carouselPreview .next-page:hover, .carouselPreview .prev-page:hover{
    color:#333;
}

.carouselPreview .next-page{
    right:0;

}
.carouselPreview .prev-page{
     left:0;
}
/********SWIPER******/
 .swiper-wrapper, .swiper-slide{
    height:auto !important;
}
.swiper-pagination-bullet-active{
    background:#000 !important;
}

 /* Categories
------------------------------------*/
.categories{margin:auto; display:block; text-align:center;}
.categories ul{
	text-decoration:none;
    padding:1vw 0.5vw;
}
.categories ul li{ display:inline-block; font-family:"Sharp Sans"; font-size:1.0vw; margin-right:1.5vw; text-transform:uppercase; margin:1vw 1vw; width:18vw; height:18vw; border:1px solid #ddd; position:relative; cursor:pointer;}
.categories ul li:hover{border:1px solid #333;}

.categories ul li span{position:absolute; bottom:0.5vw; right:0.5vw;}

.preference-list-with-recommendations{
	margin: 0 auto;
}
.thumbnail-wrapper{display:block !important; float:none !important; margin:auto !important;}



.welcome{
	position:relative;
	padding-top:30px;
    padding-bottom:30px;
}
.welcome h1,.welcome h2,.welcome h3,.welcome h4,.welcome h5{
    color: #000 !important;
}
.welcome .userDetails #sizes p{padding-right:1vw;}
/*** MAIN CAROUSEL***/


.resultContainer, .resultContainer.noFilter {
    display:flex;
	flex-direction: row;
    margin:0;
    padding:0;
    justify-content:flex-start;
    background: white;
    width: 100%;
}
.productPane{
	width:75%;
    min-height:1000px;
}
.noFilter .productPane{
    width:100%;
    display: inline-block;
}
.facetPane{
	width:25%;
    display: inline-block;
    position: relative;
}
.noFilter .facetPane{
    width:0%;
    display: none;
}


/******preference Card********/

/******CHANGEVIEW****/
.changeView{
	/*position:absolute; right:3vw; bottom:14%; */
	font-size:1.4vw;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ min-width: 6vw !important; max-width:9vw;   margin-left:1vw; margin-bottom:1vw}
.bootstrap-select .btn-default, .bootstrap-select .btn-default:focus{ color: #333; border: 1px solid #333; font-size:0.8vw; font-family:"GothamRounded-Bold"; text-transform:uppercase; padding:0.5vw;}
.bootstrap-select .dropdown-menu   li{padding:0.5vw;}
.bootstrap-select .dropdown-menu   li   a{font-size:0.8vw; line-height:0.8vw; padding:0;}

/***************************Items****************************************/
 .itemList, .itemListFav{
     padding-bottom: 20px;
     -ms-overflow-style: -ms-autohiding-scrollbar;
     position:relative;
     max-width:none;
     display:block;
     margin-top:1.5vw;
 }
 .productPreview{
     max-width: 100%;

 }
.itemList.horizontal, .itemListFav.horizontal{
    white-space:nowrap;
    overflow-y:hidden;
    overflow-x:scroll;
    border-bottom: 1px solid #000;
  }

.item{ position: relative; vertical-align: top;}
.item .itemContainer{
    position:relative;
    width:100%;
}
.item .discounted-percentage{width:2.8em;height: 2.8em; line-height: 2.8em;text-align: center; border-radius: 50%; border:1px solid #9E8130; font-weight: 900; font-family:"Sharp Sans";font-size:1.0em; color:#fff; background:#000; }

/***************************HORIZONTAL*******************/
.horizontal .item,   a.item{
	float:none;
	display: inline-block;
	margin: 0 1.5vw 0 0;
	vertical-align:top;
	position:relative;
	height:26vw; width:18vw;
	padding:0;

 }

.horizontal .item:hover img,
.horizontal a.item:hover img{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-color: #E5E5E5 #DBDBDB #D2D2D2;
    border-style: solid;
    border-width: 1px;
}



.horizontal .item .selected{border:3px solid #333 !important;}
.horizontal .item:hover .selected{border:3px solid #333 !important;}

.horizontal .item img{ height:22vw; width:auto;   margin: 0 auto; display:block; border:1px solid #ddd;}
.horizontal .item .item-name  { height:auto; width:auto; padding:0.25vw; line-height:0.75vw;   margin: 0 auto; text-align: center; display:block; font-family:"Sharp Sans"; font-size:0.75vw; color:#333; }
.horizontal .item .item-brand  {text-transform:uppercase; height:auto; width:auto; padding:0.15vw; line-height:0.75vw;   margin: 0 auto; text-align: center; display:block; font-family:"Sharp Sans"; font-size:0.75vw; color:#555; margin-top:0.3vw;}
.horizontal .item .original-price { height:auto; width:auto; padding:0.25vw; line-height:0.75vw;   margin: 0 auto; text-align: center; display:block; font-family:"Sharp Sans"; font-size:0.75vw; float:left; margin-left:3vw; color:#333;}
.horizontal .item .original-price.discounted{ text-decoration:line-through; color:#ddd;}
.horizontal .item .discounted-price { height:auto; width:auto; padding:0.25vw; line-height:0.75vw;   margin: 0 auto; text-align: center; display:block; font-family:"Sharp Sans"; font-size:0.75vw; float:right; margin-right:3vw; color:#E50914;}
.horizontal .item .discounted-percentage { padding:0.25vw;     position:absolute; top:0.2vw; left:1.4vw;  font-family:"Sharp Sans"; font-size:1vw;  color:#E50914; }

.horizontal .item .small-options { padding:0.25vw;    position:absolute; top:0.2vw; right:1.4vw;  font-family:"Sharp Sans"; font-size:1.2vw;  color:rgba(51,51,51,1);  z-index:10;  }
.horizontal .item .small-options .like, .item .small-options .delete, .item .small-options .cart{
    transition:all 240ms cubic-bezier(0.86, 0, 0.07, 1);
    opacity:0;

}
.horizontal .item:hover .small-options .like, .item:hover .small-options .delete, .item:hover .small-options .cart{opacity:1;}
.horizontal .item:hover .small-options .like{ transition-delay:100ms;}
.horizontal .item:hover .small-options .cart{ transition-delay:200ms;}
.horizontal .item:hover .small-options li{ opacity:0.8}
.horizontal .item:hover .small-options li:hover{ opacity:1}


.horizontal .item .main-options{text-align:center; position:absolute; bottom:0px; right:0; left:0;  background:rgba(255,255,255,0.9); height:0;
	transition:height .54s cubic-bezier(.5,0,.1,1) 0.3s;
}
.horizontal .item:hover .main-options{ height:6vw;}
.horizontal .item .main-options button{display:block; margin:0.65vw auto; opacity:0; font-size:0.8vw; padding-left: 0.6vw; padding-right: 0.6vw; line-height:1vw; border-width:0.2vw; text-transform:uppercase;
	transition:opacity.54s cubic-bezier(.5,0,.1,1) 0.3s;

}
.horizontal .item:hover .main-options button{ opacity:1; }

.horizontal.jbMode .item{margin: 0 1.5vw 0 0; height:10vw; width:8vw; border:0;}
.horizontal.jbMode .item img{height:9.5vw; }
.horizontal.jbMode .item .main-options, .jbMode .item:hover .main-options, .jbMode .item:hover .small-options, .jbMode .item .item-name, .jbMode .item .discounted-percentage {display:none;}
.horizontal.jbMode .item .item-brand {max-width:6vw; white-space: nowrap;overflow: hidden;o-text-overflow: ellipsis; text-overflow: ellipsis; }
.horizontal.jbMode .item .original-price,  .jbMode .item .discounted-price {line-height:0.15vw; margin:0; padding:0.1vw; font-size:0.5vw;}

/***************************Vertical*******************/

 .item, .vertical .item,
  a.item{
	display: inline-block;
	position:relative;
	 width:32%;
}

.vertical .item:hover img,
.vertical a.item:hover img{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-color: #E5E5E5 #DBDBDB #D2D2D2;
    border-style: solid;
    border-width: 1px;

}

 .item img.fadeOut{ opacity: 0 !important; }

.vertical .item img{ height:25em; width:auto; max-width: 100%; position:relative;   margin: 0 auto; display:block; border:1px solid #f8f8f8; opacity: 1; }
.vertical .item .item-name  { height:auto; width:auto; padding:0.25vw; line-height:1.2vw; text-transform:capitalize;  margin: 0 auto; text-align: center; display:block; font-family:"Sharp Sans"; font-size:1vw; color:#333; }
.vertical .item .item-brand  {text-transform:capitalize; height:auto; width:auto; padding:0.15vw; line-height:1.4vw;   margin: 0 auto; text-align: center; display:block; font-family:"Sharp Sans"; font-weight: bold; font-size:0.9vw; color:#555; margin-top:0.3vw;}
.vertical .item .original-price { line-height:1.4em;   margin: 0 auto; display:block;  font-size:1.2em; color:#333; font-weight: bold;}
.vertical .item .original-price.discounted{padding-left:20px; text-decoration:line-through; color:#999; font-weight: 400; display:inline;}
.vertical .item .discounted-price {padding-right:20px; line-height:1.4em;   margin: 0 auto; font-size:1.2em; float:right; font-weight: bold;}
.vertical .item .discounted-percentage {   position:absolute; top:10px; left:1em;    }

.vertical .item .small-options { padding:0.25em;    position:absolute; top:0.2em; right:1.4em;  font-family:"Sharp Sans"; font-size:1.2em;  color:rgba(51,51,51,1);  z-index:10;  }
.vertical .item .small-options.favouriteProducts { padding:0.25em;    position:absolute; top:0.2em; right:2.8em;  font-family:"Sharp Sans"; font-size:1.2em;  color:rgba(51,51,51,1);  z-index:10;  }
.vertical .item .small-options .like, .item .small-options .delete, .item .small-options .cart{  transition:all 300ms cubic-bezier(0.86, 0, 0.07, 1);  opacity:0;  }
.vertical .item:hover .small-options .like, .item:hover .small-options .delete, .item:hover .small-options .cart{opacity:1;}
.vertical .item:hover .small-options .like{ transition-delay:100ms;}
.vertical .item:hover .small-options .cart{ transition-delay:200ms;}
.vertical .item:hover .small-options li{ opacity:0.8}
.vertical .item:hover .small-options li:hover{ opacity:1}

.vertical .item .main-options{text-align:center; position: relative;  opacity:0;  }
.vertical .item:hover .main-options{ opacity:1;}


    /****HIDE WHEN OFFERS*******/
.vertical.jbMode .item{margin: 0 1.5vw 0 0; height:8vw; width:8vw; border:0; }
.vertical.jbMode .item img{height:7.5vw;}
.vertical.jbMode .item .main-options, .jbMode .item:hover .main-options, .jbMode .item:hover .small-options, .jbMode .item .item-name, .jbMode .item .discounted-percentage {display:none;}
.vertical.jbMode .item .item-brand {max-width:6vw; white-space: nowrap;overflow: hidden;o-text-overflow: ellipsis; text-overflow: ellipsis; transition-delay:0.2s;}
.vertical.jbMode .item .original-price,  .jbMode .item .discounted-price {line-height:0.15vw; margin:0; padding:0.1vw; font-size:0.5vw; transition-delay:0.2s;}


/***** jawbone*****/
.jawBoneContent{
	background-color:transparent;
	display: none;
}
.jawBoneContent.open{
    display:block;

}
.jawBoneContent.open .jawBoneOpenContainer{
	border-bottom:1px solid #ddd;

}
.jawBoneContent .jawBoneOpenContainer .jawBoneContainer{
	background-color:transparent;
	position:relative;
    padding-bottom: 50px;
}


.jawBoneContainer .jawBone{
    margin-top: 5px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#f5f5f5;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.16);
    position:relative;
    padding: 0%;
    height:auto;
    z-index:10 !important;

}



.jawBone .selectedItemImageWrapper{width:55%; padding:0; margin:0; display:inline-block;}
.jawBone .selectedItemImageColoumn{ vertical-align:top;}
.jawBone .jbImageContainer{ position: absolute; top: 0; right: 0; left: 0;}
.jawBone .selectedItemPictureContainer{
    vertical-align:top;
    position:relative;
}

.jawBone .selectedItemDescriptionContainer{
    height:auto;
    min-height:30vw;
    display:inline-block;
    vertical-align:top;
    background:#fff;
}

.jawBone .productDescription{
    height: 100px;
    text-overflow: ellipsis;
}
.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
}

 .similarProducts{
    width:100%;
    margin-top:50px;
    min-height:8vw;
    height:auto;
     background: #f5f5f5;
}

.box-elevated{
    box-shadow: 0 3px 3px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.16);
}
.similarProducts > div:nth-child(1),
.similarProducts > div:nth-child(2),
.similarProducts > div:nth-child(3)
{ margin-top: 50px;}

/*** Jawbone Content****/

.swiper-lazy-preloader-brantu {
    animation:none !important;
    width: 120px;
    height: 120px;
    left: 30%;
    top: 30%;
}
.swiper-lazy-preloader-brantu:after {
    background-image: url("/plugins/swiper/brantuajax.jpg");
}
  .pictureWrapper{
      max-height:50vw;
      padding:0;
      overflow-y:hidden;
  }
  .selectedItemImageColoumn ol{
      max-width:100%;
      padding: 0;
      margin: 0;
      list-style-type: none;
  }
  #mainJawBoneImageContainer{
      overflow: visible !important;
  }


    #mainJawBoneImageContainer   .swiper-slide{
        opacity: 0.5;
        transition: all 0.2s linear;
    }
    #mainJawBoneImageContainer   .swiper-slide.swiper-slide-active{
        opacity: 1;
    }
    .selectedItemImageColoumn ol li img{max-width:3vw; height:auto; margin: 0.2vw 0; border:0.1vw solid #ddd;}

    #selectedItemInformation{
        vertical-align: bottom;
        z-index:10;
    }
    #selectedItemInformation > .row{
        background: rgba(255,255,255, 1);
        min-height: 500px;
        border:2px solid #f1f2f2;
        margin-top: 80px;

    }
    .selectedItemZoomPicture img{
        max-width :100%;
        object-fit: cover;
        width:100%;
        transition: opacity 1s ease-in-out;
    }
    .jbImageContainer .owl-controls{
        width:33% !important;
    }
    .selectedItemZoomPicture img.transparent{opacity:0;}
    .selectedItemZoomPicture .owl-controls{
        display: none !important;
    }
    .jbImageContainer .option{
        width:390px;
    }



    .selectedItemZoomPicture .prev-item, .selectedItemZoomPicture .next-item,
    .similarProducts .next-item, .similarProducts .prev-item
    {
        position: absolute;
        opacity:1;
        width:2.5em;
        height:2.5em;
        background: #000;
        color: white;
        top: 45%;
        border-radius: 50%;
        cursor: pointer;
        z-index: 200;
        transition:0.2s opacity ease-in-out;
        -webkit-transition:0.2s opacity ease-in-out;
    }
    .similarProducts .next-item{
        top:30%;
        right:0.5em;
    }

    .similarProducts .prev-item{
        top:30%;
        left:0.5em;
    }

.swiper-button-disabled.prev-item,  .swiper-button-disabled.next-item{
    cursor: not-allowed;
    background: #eaeaea;
}
.similarProducts .prev-item:after{
    content: "\e629";
    font-family: 'pages-icon';
    padding-left: 0.15em;
    font-size:2em;
    line-height: 1.2em;
    text-align: center;
    color:white
}
.similarProducts .next-item:after {
    content: "\e631";
    font-family: 'pages-icon';
    padding-left: 0.25em;
    font-size: 2em;
    line-height: 1.2em;
    text-align: center;
    color:white
}

.selectedItemZoomPicture .prev-item:hover, .selectedItemZoomPicture .next-item:hover{
        opacity:1;
    }
    .selectedItemZoomPicture .next-item{
        left: 32%;
        top:45%;
        padding-left: 0.5vw;
    }

    .selectedItemZoomPicture .prev-item{
        left: -1.5%;
        top: 45%;
        padding-left: 0.2vw;
    }


  .selectedItemZoomPicture .next-item i, .selectedItemZoomPicture .prev-item i{
      font-size:2em;
      line-height: 1.2em;
      text-align: center;
  }
   .selectedItemDescriptionContainer{padding: 10px; position:relative;}
   /*.selectedItemDescriptionContainer button{margin-right:0.4vw;margin-top:0.8vw; float:left; vertical-align:top; display:block; text-transform: uppercase;}
   .selectedItemDescriptionContainer button.btn{font-size:0.9vw; line-height:1.5vw;  padding-left: 0.6vw; padding-right: 0.6vw;}*/
   .selectedItemDescriptionContainer  .panel{background:transparent !important;}
  .selectedItemDescriptionContainer  .nav-tabs   li   a{ font-family:"Sharp Sans"; font-weight:700; font-size:1vw; padding:1.2vw 1.2vw;}
  .selectedItemDescriptionContainer  .nav-tabs   li.active   a{font-family:"Sharp Sans";}
  .selectedItemDescriptionContainer .nav-tabs-simple   li:after{ background-color:black;}
  .selectedItemDescriptionContainer .selectedItemHeader{ border-bottom:1px solid #333; margin-top:1vw;}
  .selectedItemDescriptionContainer .selectedItemHeader .headerWrapper{ width:70%; display:inline-block;}
  .selectedItemDescriptionContainer .selectedItemHeader .headerWrapper  img{ width:6vw; height:auto; border:1px solid #ddd;}
  .selectedItemDescriptionContainer .selectedItemHeader .headerWrapper .selectedItemBrand {margin:0; font-size:1.2vw; line-height:1.8vw; text-transform:capitalize; font-weight: bold;  display:inline-block;}
  .selectedItemDescriptionContainer .selectedItemHeader .headerWrapper .selectedItemName{font-size:1vw; line-height:1vw; margin:0.5vw 0; }
  .priceLocation{  display:inline-block; font-weight: bold;  width:28%; font-size:1.4vw; text-align:right; vertical-align:bottom; z-index:10; }
  .selectedItemOriginalPrice.discounted{font-weight: 400;  font-size:1.2vw;  font-family:"Sharp Sans";  text-decoration:line-through;}
  .selectedItemDiscountedPrice{ color:#E50914; font-family:"Sharp Sans"; font-weight: bold;}
  .selectedItemDiscountedPercentage{font-size:1.2vw; color:#E50914; font-family:"Sharp Sans"; font-weight: bold;}
  .loader{height: auto; width: 100%; text-align: center; margin: 0 auto 0em; display: inline-block; vertical-align: top;}
  .loader  svg path,.loader svg rect{fill: #ddd;}
  .brand span{

  }
 .selectedItemDetail{display:inline-block;}
 .selectedItemDetail .selectedItemDetailHeader{ font-family:"Sharp Sans"; font-size:1.4vw; line-height:1.4vw; text-transform:Uppercase; margin-top:2vw;}
 .selectedItemDetail ol {list-style-type: none;  padding-bottom:0vw;}


 .selectedItemSave{ position: absolute;  top:9px; right:5px; font-size:1.4em; display:block; margin:auto; z-index:10; list-style-type: none}
 .selectedItemSave li{ font-size:20px; margin-top:3px;}
.selectedItemSave .delete{color: rgba(1, 1, 1, 0.96); opacity:0.8;  padding-left: 12px; padding-bottom: 3px;     margin-top: 2px;}
.selectedItemSave .like a{color: rgba(1, 1, 1, 0.96); opacity:0.8; }
.selectedItemSave .cart{color:#28ABE3 ; opacity:0.8; }
.selectedItemSave .delete:hover, .selectedItemSave .like a:hover, .selectedItemSave .cart:hover{color: #4e0b43;opacity:1;}
 .selectedItemActions{ position: absolute;  bottom:0.5vw; left:0.5vw; }


.JBColorList{margin-bottom: 2vw;}
.JBColorList img{
    margin:0.5vw;
    width:60px;
    height: 80px;
    text-align: center;
    border:3px solid transparent;
}
.JBColorList img span{
    display: block;
    font-size:10px;
    color: #bbbbbb;
    text-align: center;
    line-height:40px;
    overflow: hidden;
    font-weight: bold;
}
.JBColorList img.active{
    border:2px solid #333;
}
.JBSizeList li{
    border: 1px solid #ddd;
    margin-right: 20px;
    padding: 5px 5px;
    min-width:50px;
    max-width: 100px;
    text-align: center;
}

.similarProducts div img{
    width:auto; height:290px; margin-left:20px; margin: auto; max-width: 100%;
    object-fit: cover;
}
.similarProducts i img{
    height:25px;  margin: auto;
}
.similarProducts .flow{
    width:25%;
    margin: auto;}
.similarProducts .flow img{
    object-fit: cover;
    max-width:98%; height:28em;
    margin: auto;}

.carousel .CarouselOptions, .flow .CarouselOptions{
    opacity:0;
    transition:all 240ms cubic-bezier(0.86, 0, 0.07, 1);
}
.carousel:hover .CarouselOptions, .flow:hover .CarouselOptions{
    opacity:1;
}
.similarProducts div .discountedPrice{color:#E50914;}
.similarProducts div .originalPrice.discounted{ text-decoration:line-through; }


/***** Filters *****/
.facet{
    max-width:100%;
}

#brandList input.search, #sizeList input.search{
    width:100%;
    border-radius: 8px;
    margin-bottom: 1vw;
    padding-left: 10px;
    background: rgba(191,191,211,0.4);
    border:0;
    font-weight: 700;
}
#brandList input.search:focus, #sizeList input.search:focus{

    background: rgba(0,0,0,0.3);
    color:#fff;
}
.facets .list{
    padding:0;
    background: rgba(252,252,252,0.2);
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 160px;
    overflow: scroll;
}
.facets .refinement{
    padding-bottom:1vw;
}
.facets h5{
    border-bottom: 1px solid #ccc; text-align: center;line-height: 0;padding: 0; margin:1vw 0vw;
}
.categoryList li{
    padding:7px 0px;
}
.categoryList li a.active:before{
    content: "\e635";
    display: inline-block;
    margin-right: 8px;
    font-size: 12px;
    color: #333;
    font-family: 'pages-icon';
    -webkit-transition: all 0.12s linear;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.12s linear;
}
.categoryList li a:before{
    content: "\e60a";
    display: inline-block;
    margin-right: 8px;
    font-size: 12px;
    color: #333;
    font-family: 'pages-icon';
    -webkit-transition: all 0.12s linear;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.12s linear;
}
.facets .breadcrumb{
    font-size: 12px !important;
}
.list li{
    line-height: 12px !important;
}
.list input[type=checkbox], .colorList input[type=checkbox]{display: none !important;}
.list input[type=checkbox] + label{
    text-transform: capitalize;
    display: block;
    font-weight: 400;
    padding: 8px 5px;
    margin-bottom: 0;
    cursor: pointer;
    color:#000;
    background: transparent;
    text-align: left;

}
.list input[type=checkbox] + label span.name{
    font-size:12px ;
    text-align: left;
}
.list input[type=checkbox] + label span.count, .categoryList li a span{
    font-size:10px ;
    vertical-align: middle;
    color:#888;
    font-weight: normal;
    float: right;
}
.list input[type=checkbox]:checked + label{
    background: #333;
    color:white;
    font-weight: bold;
}

.horizontalFilters{
    margin-bottom: 20px;
}

.horizontalFilters .refinement{
    position: relative;
}

.horizontalFilters .refinement h5, .horizontalFilters .filters h5{
    border:2px solid black;
    margin-left: 5px;
    margin-right: 5px;
    padding-top:5px;
    padding-bottom:5px;
    cursor: pointer;
    font-size: 14px;
}
.horizontalFilters .refinement h5 span, .horizontalFilters .filters h5 span{
    color: #9E8130;
}

.horizontalFilters .refinement.disabled h5{
    border:2px solid #ddd!important;
    color: #ddd !important;
    cursor: not-allowed;
}
.horizontalFilters .refinement.disabled h5 span{
    color: #ddd;
}

.horizontalFilters .listContainer{
    opacity:0;
    display: none;
    position:absolute;
    z-index:200;
    min-width: 260px;
    background: white;
    box-shadow: 2px 3px 3px 2px rgba(41, 41, 41, .4);
    padding:10px;
    transition: all 0.4s linear;
}
.horizontalFilters .listContainer.active{
    opacity:1;
    display: block;
}
.horizontalFilters .name{
   vertical-align: text-top;
}
.horizontalFilters .count{
    padding-top: 1px;
}

.horizontalFilters .list{
    border: 1px solid white;
    border-radius: 4px;
    max-height: 180px;
    overflow: scroll;

}
.horizontalFilters input[type="text"], .searchFilters input[type="text"]{
    text-align: left;
    padding-left: 15px;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bolder;
}
.horizontalFilters input[type="text"]:focus, .searchFilters input[type="text"]:focus{
    background: #f1f2f2;
}
.horizontalFilters ul.list{
    padding:0;
    margin:0;
}
.horizontalFilters ul.list li{
    border-bottom: 1px solid #ddd;
}
.horizontalFilters ul.list li .name{
    font-weight: bolder;
}

.colorList{margin-bottom: 2vw;}
.colorList input[type=checkbox] + label{
    margin:0.5vw;
    width:2vw;
    height: 2vw;
    border-radius: 50%;
    text-align: center;
    border:1px solid #dddddd;
}
.colorList input[type=checkbox] + label span.name{
    display: block;
    font-size:10px;
    text-align: center;
    margin-top:1.5vw ;
    overflow: hidden;
    font-weight: bold;
}
.colorList input[type=checkbox]:checked + label{
    border:3px solid #333;
}


.fixed{
    height:auto;
    display: block;
    position: fixed !important;
    overflow-y: scroll;
    overflow-x: hidden;
    top:100px;
    bottom: 0;

}
.fixedBottom{
    position: fixed !important;
    bottom:50px;

}
.aBottom{
    position: absolute !important;
    bottom:50px;

}
.facetWrapper{
    width:20em;
    overflow-y: scroll;
    overflow-x: hidden;
}
/*****PRICE COMPARISON TABLE*****/
.dataTables_wrapper td  img{
    width:80px;
}
.similarProducts .owl-theme .owl-controls{
    margin-top: 0;
}

/***FLOATING ACTION BUTTON*****/
.popout {
      position: fixed;
      z-index:200;
      bottom: 3rem;
      right: 3rem;
  }
.popout .fab {
    display: inline-block;
    position: relative;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: none;
    font-size: 32px;
    z-index: 999;
    background: transparent;
    color: #eed3d3;
    border-radius: 50%;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    transition:0.2s opacity ease-in-out;
    -webkit-transition:0.2s opacity ease-in-out;
}
.popout .fab.active {
    visibility: hidden;
    opacity:0;
}
.popout .fab:after {
    display: block;
    position: absolute;
    top: 0;
    font-size:18px;
    content: "filter";
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #000;
    z-index: -2;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.1s, opacity 0.2s;
}
.popout .fab:active:after {
    background: white;
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    opacity: 0;
}
.popout .panel {
    margin:0;
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 700;
    width: 100%;
    text-align: left;
    background:rgba(255,255,255,0.95);
    overflow-y: scroll;
    visibility: hidden;
    transform: scale(0);
    transform-origin: 100% 100%;
    transition: transform 0.2s, visibility 0s 0.2s, opacity 0.2s;
    opacity: 0;
}
.popout .panel.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: transform 0.2s, visibility 0s 0s, opacity 0.2s;
}
.popout .panel-header {
    padding: 20px;
    font-size: 15px;
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 4px rgba(68,68,68,0.2);
}
.popout .panel .close {
    position:fixed !important;
    z-index:1000;
    top:20px;
    right:20px;
    padding:30px;
}
.popout .panel-body {

    padding: 10px 25vw;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;
    color: #aaa;
}

/******MOBILE MENU****/

/****SMALL DE***/

@media (min-width: 1400px) {
    .vertical .item .discounted-percentage.favouriteProducts {
        left:3.8em;
    }
    .vertical .item .small-options.favouriteProducts{
        right:3.0em;
    }
}
@media (max-width: 1370px){
  .nav-margin{
        margin-right:20px;
  }
    .nav-margin-small{
        margin-right: 0px;
    }
}
@media (max-width: 1200px) {
    .vertical .item .discounted-percentage.favouriteProducts {
        left:2.2em;
    }
    .vertical .item .small-options.favouriteProducts{
        right:1.9em;
    }
    .jbImageContainer .option{
        width:290px;
    }
}

@media (max-width: 1110px){
    .nav-margin{
        margin-right:20px;
    }
    .nav-margin-small{
        margin-right: 0px;
    }
}

@media (max-width: 1024px){

}
@media (max-width: 991px){
    #mainJawBoneImageContainer   .swiper-slide{
        opacity:1;
    }
    .selectedItemZoomPicture .next-item, .selectedItemZoomPicture .prev-item{
        display: none;
    }
    .jbImageContainer .option{
        display: none;
    }
    #selectedItemInformation > .row{
        margin-top:20px;
    }
    #priceTable tbody > tr > td  div .btn-tag{
        padding-top: 2px !important;
        padding-bottom:2px!important;
    }
    .mainJumbtron{
        height:28vw;
    }
    .mainJumbtron .text-section{
        margin-top:4vw;
    }

    .productFeedTemplate img{
        height: 54vw;
    }
    .productFeedTemplate img.small{
        height: 34vw;
    }
    .similarProducts .flow img{
       height:36vw;
     }
    .similarProducts .flow{width:32%;}
    .nav-margin{
        margin-right: 5px;
    }
    .mainLogo{
        width:200px;
    }
    .productPane{
        width:100%;
    }
    .facetPane{
        display:none;
    }
    /********VERTICAL IMAGES*******/
    .vertical .item img{ height:22em;}
    .vertical .item .item-name  { line-height:24px; text-transform:capitalize;   font-size:14px; color:#333; }
    .vertical .item .item-brand  {line-height:18px;  font-size:16px; margin-top:10px;}
    .vertical .item .original-price { line-height:18px;  font-size:16px;}
    .vertical .item .discounted-price {  line-height:18px;  font-size:16px; margin-right:5px;}
    .vertical .item .discounted-percentage { height:30px; width:30px; line-height:30px;top:10px; left:1em;  font-size:14px;   }
    .vertical .item .discounted-percentage.favouriteProducts {
        left:0.5em;
    }
    .vertical .item .small-options.favouriteProducts{
        right:0.5em;
    }
   /***FACERT***/
    .facets h5{
        margin:2.2vw;
    }
    .list input[type=checkbox] + label{
        padding: 8px 5px;
        margin-bottom: 0;
    }
    .list input[type=checkbox] + label span.name{
        max-width:150px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .irs-from, .irs-to, .irs-single{
        font-size: 12px !important;
    }
    #headerMain .navbar-nav > li > a {
        padding: 12px 0px;
    }
    .colorList{margin-bottom: 2vw; padding-bottom:30px;}
    .colorList input[type=checkbox] + label{
        margin:0.5vw;
        width:40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        border:3px solid transparent;

    }
    .colorList input[type=checkbox] + label span.name{
        margin:0;
        font-size:10px;
        line-height: 40px;
        max-width: 40px ;
    }
    .jawBone .jbImageContainer{position: relative; display: block;}
    .selectedItemZoomPicture img {
        max-height: 50vw;
    }
    .selectedItemImageColoumn ol li img{
        max-width: 10vw;
    }
    .horizontal.jbMode .item {
        margin: 0 1.5vw 0 0;
        height: 14vw;
        width: 10vw;
        border: 0;
    }
    .horizontal.jbMode .item img {
        height: 13vw;
    }
    .selectedItemSave {
        font-size: 4vw;
    }
    .selectedItemZoomPicture .next-item i, .selectedItemZoomPicture .prev-item i{
        font-size: 3.5vw;
    }


}
@media (max-width: 767px){
    .product-description .description{
        margin-top: 10px;
        margin-bottom: 50px;
    }
    #mainSection > .container, #searchSection > .container, #compareSection > .container{
        margin-top:0px;
    }
    .mainLogo{
        width:150px;
        position: absolute;
        top:0px;
        height: 39px;
        margin-top: 10px;
        background-size: 100% ;
    }
    #mainLogoContainter{
        width:140px;
        padding-right: 5px;
    }
    #CloseSearchMobile i{
        font-size:30px;
    }
    #menuBurgerIcon{z-index:20;}
    .mainJumbtron{
        height:35vw;
    }
    .mainJumbtron .text-section{
        margin-top:0vw;
    }
    .table-responsive th {font-size:12px;}
    .dataTables_wrapper td  img{
        width:70px;
    }
    .submenu li{
        min-width:30% !important;
    }
    .submenu li{
        display: block;
        margin: auto;
    }
    body.fixed-header .header {
        height:auto;
        box-shadow: 0 1px 4px rgba(68,68,68,0.2);
        transition: all 0.5s ease-out, background 1s ease-out;
        transition-delay: 0.2s;
    }

    #mainSection, #searchSection, #compareSection{  padding-top: 40px;  }
    .page-container .page-content-wrapper .content{  padding: 0;  }

    .vertical .item img{ height:40vw; max-width:100%; }
    .vertical .item .item-name  { line-height:12px; text-transform:capitalize;   font-size:10px; color:#333; }
    .vertical .item .item-brand  {line-height:16px;  font-size:10px; font-weight:500;margin-top:10px;}
    .vertical .item .original-price { line-height:16px;  font-size:11px;}
    .vertical .item .discounted-price {  line-height:16px;  font-size:11px; margin-right:5px;}
    .vertical .item .discounted-percentage { top:10px; left:1em;  }
}
@media (max-width: 480px){
    table.dataTable > tbody > tr > th:nth-child(1){
        width:120px;
    }
    #selectedItemInformation > .row{
        margin-top: 20px;
    }
    .next-item, .prev-item,  .jbImageContainer .option{
        display: none;
    }
    .welcome{
        padding-top:5px;
        padding-bottom:5px;
    }
    .product-description .modal-body{
        height:300px;
    }
    .horizontalFilters .listContainer{
        left:-20px;
        max-width: 200px;
        min-width: 200px;
    }
    .section-title, .section-title--catalog {
        padding: 0 0 5px 10px;
        text-align: center;
    }
    .product-description .description{
        margin-top: 10px;;
    }
    .mainJumbtron{
        height:75vw;
    }
    .mainJumbtron .text-section{
        margin-top:0vw;
    }
    .productFeedTemplate img{
        height: 300px;
    }
    .similarProducts .flow img{
        height:70vw;
        max-width:100%;
    }
    .similarProducts .flow{width:49%; }
    .jawBoneContent.open{
        padding: 0 0px;
    }
    .selectedItemSave {
        font-size: 32px;
        padding-top: 10px;

    }
    .selectedItemSave i { color: #cdcdcd;}
    #headerMainWrapper{
        background: #fff;
     }

    .carouselPreview .next-page, .carouselPreview .prev-page{
        top: 28% !important;
        font-size: 50px;
    }




    /********VERTICAL IMAGES*******/
    .vertical .item img{ height:240px; max-width:100%; }
    .vertical{padding-left: 0px; height: auto;}
     .vertical .item,
     a.item{
         width:49%;
         padding-bottom: 30px;
    }
    .vertical .item .discounted-percentage { top:10px; left:1em;}
    .selectedItemZoomPicture img {
        max-height: 100%;
        height: auto;
        max-width: 100%;
    }
    .similarProducts div img{
        height: 225px;
    }
    .similarProducts i img{
        height: 25px;
    }

    .selectedItemImageColoumn ol li img{
        max-width: 15vw;
    }

    .horizontal.jbMode .item {
        margin: 0 1.5vw 0 0;
        height: 22vw;
        width: 18vw;
        border: 0;
    }
    .horizontal.jbMode .item img {
        height: 22vw;
    }
    .pictureWrapper{
        max-height:100vw;
    }


}