
#AuthenticationPopUp{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:1000;

}
.authenticateLogo{
    width:120px;
}
/* Container */
.registerContainer {
    position: relative;
    max-width: 460px;
    width: 100%;
    margin: 0 auto 100px;
}
 input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: none !important;
}
.registerContainer.active .registerCard:nth-child(2) {
    background: #fff;
    margin: 0 10px;
}
.registerContainer.active .registerCard.alt {
    top: 3px;
    right: -10px;
    width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 30px 0 20px;
    overflow: hidden;
}
.registerContainer.active .registerCard.alt .toggle {
    position: absolute;
    cursor: none;
    top: 20px;
    right: 20px;
    box-shadow: none;
    -webkit-transform: scale(25);
    -moz-transform: scale(25);
    -ms-transform: scale(25);
    -o-transform: scale(25);
    transform: scale(25);
    transition: transform .3s ease;
}
.registerContainer.active .registerCard.alt .toggle:before {
    content: '';
}
.registerContainer.active .registerCard.alt .title,
.registerContainer.active .registerCard.alt .input-container,
.registerContainer.active .registerCard.alt .input-radio,
.registerContainer.active .registerCard.alt .button-container {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: .3s ease;
}
.registerContainer.active .registerCard.alt .title {
    transition-delay: .3s;
}
.registerContainer.active .registerCard.alt .input-container {
    transition-delay: .4s;
}
.registerContainer.active .registerCard.alt .input-container:nth-child(2) {
    transition-delay: .5s;
}
.registerContainer.active .registerCard.alt .input-container:nth-child(3) {
    transition-delay: .6s;
}
.registerContainer.active .registerCard.alt .button-container {
    transition-delay: .7s;
}

/* Card */
.registerCard {
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 60px 0 60px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: .3s ease;
    /* Title */
    /* Inputs */
    /* Button */
    /* Footer */
    /* Alt Card */
}

.registerCard .title {
    position: relative;
    z-index: 1;
    margin: 0 0 5px;
    padding: 10px 15px 10px 15px;
    color: #333;
    font-size: 28px;
    font-weight: 300;
    text-transform: capitalize;
}
.registerCard .input-container {
    position: relative;
    margin: 0 60px 35px;
}
.registerCard .input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 40px;
    border: 0;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
}
.registerCard .input-container input:focus ~ label {
    color: #9d9d9d;
    font-size:12px;
    transform: translate(-12%, -50%) scale(0.75);
}
.registerCard .input-container input:focus ~ .bar:before, .registerCard .input-container input:focus ~ .bar:after {
    width: 50%;
}
.registerCard .input-container input:valid ~ label {
    color: #9d9d9d;
    font-size:12px;
    transform: translate(-12%, -50%) scale(0.75);
}
.registerCard .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    transition: 0.1s ease;
}
.registerCard .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
}
.registerCard .input-container .bar:before, .registerCard .input-container .bar:after {
    content: '';
    position: absolute;
    background: #AA076B;
    width: 0;
    height: 2px;
    transition: .1s ease;
}
.registerCard .input-container .bar:before {
    left: 50%;
}
.registerCard .input-container .bar:after {
    right: 50%;
}
.registerCard .button-container {
    margin: 0 60px;
    text-align: center;
}
.registerCard .button-container button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 100%;

    border: 2px solid #888;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    transition: .1s cubic-bezier(.5,0,.1,1);
}
.registerCard .button-container button span {
    position: relative;
    z-index: 1;
    color: #AA076B;
    transition: .1s cubic-bezier(.5,0,.1,1);
}
.registerCard .button-container button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #AA076B;
    width: 50px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    transition: .1s cubic-bezier(.5,0,.1,1);
}
.registerCard .button-container button:hover, .registerCard .button-container button:active, .registerCard .button-container button:focus {
    border-color: #AA076B;
}
.registerCard .button-container button:hover span, .registerCard .button-container button:active span, .registerCard .button-container button:focus span {
    color: #ed2553;
}
.registerCard .button-container button:active span, .registerCard .button-container button:focus span {
    color: #000;
}
.registerCard .button-container button:active:before, .registerCard .button-container button:focus:before {
    opacity: 1;
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -ms-transform: scale(10);
    -o-transform: scale(10);
    transform: scale(10);
}
.registerCard .footer {
    margin: 40px 0 0;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.registerCard .footer a {
    color: inherit;
    text-decoration: none;
    transition: .1s cubic-bezier(.5,0,.1,1);
}
.registerCard .footer a:hover {
    color: #bababa;
}
.registerCard.alt {

    position: absolute;
    top: 455px;
    right: 150px;
    z-index: 10;
    width: 140px;
    height: 140px;
    background: none;
    border-radius: 100%;
    box-shadow: none;
    padding: 0;
    transition: .1s cubic-bezier(.5,0,.1,1);
    /* Toggle */
    /* Title */
    /* Input */
    /* Button */
}
.registerCard.alt .toggle {
    color:black;
    width: 140px;
    height: 35px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.23), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 12px;
    font-weight: 500;
    cursor:pointer;
    line-height: 35px;
    text-align: center;
}


.registerCard.alt .toggle:before {
    content: 'New Account';
}
.registerCard.alt .title,
.registerCard.alt .input-container,
.registerCard.alt .input-radio,
.registerCard.alt .button-container {
    left: 100px;
    opacity: 0;
    visibility: hidden;
}


.registerCard.alt .title {
    position: relative;
    border-color: transparent;
    color: #000;
}
.registerCard.alt .title .close, .registerCard .title .close {
    cursor: pointer;
    position: absolute;
    top: -6px;
    right: 20px;
    display: inline;

    font-size: 58px;
    font-weight: 400;
}
.registerCard.alt .title .close{color: #000;}
.registerCard .title .close{color: #333;}
.registerCard.alt .title .close:before, .registerCard .title .close:before {
    content: '\00d7';
}

.registerCard.alt .button-container button {
    width: 100%;
    background: #ffffff;
}
.registerCard.alt .button-container button span {
    color: #AA076B;
}

.registerCard.alt .button-container button:active:before, .registerCard.alt .button-container button:focus:before {
    display: none;
}

.rerun {
    margin: 0 0 30px;
    text-align: center;
}
.rerun a {
    cursor: pointer;
    display: inline-block;
    background: #ed2553;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    transition:.2s cubic-bezier(.5,0,.1,1);
}
.rerun a:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


@media (max-width: 480px){
    .authenticateLogo{
        width:140px;
    }
   .registerCard{
       padding: 20px 0 40px 0;
       overflow-y:scroll;
   }
    .registerContainer.active .registerCard.alt{
        padding: 20px 0 10px 0;
        overflow-y:scroll;
    }
    .registerCard .input-container {
        position: relative;
        margin: 0 20px 30px;
    }
    .registerCard.alt {
        top: 390px;
        right:90px ;
    }
    .registerCard.alt .toggle {
        box-shadow: none;
        font-weight: bold;
        text-decoration: underline;
        text-transform: uppercase;
        color:#000;
        background: transparent;
    }



}
