<a class="dark" href="/brand/\{{name}}?q=&hFR[products][0]=\{{DEPARTMENT}}"><div class="brandsAC text-left"> 
    <div>\{{#if logoUrl}}<img src="\{{logoUrl}}" width="40" height="auto"/>\{{/if}}</div>
    <div class="b-b b-grey p-l-10"><div class="name medium"><span class="">\{{{ _highlightResult.name.value }}}</span></div></div> 
    </div></a>