<div class="my-custom-menu scrollable">
    <div class="row padding-2v">
        <div class="col-xs-12 text-center" id="ddCol2"> 
            <div id="ddBrands">
                <div>
                    <h6 class="text-left b-b bold text-velvet text-spaced-medium" >Products</h6>
                    </div>
                <div class="aa-dataset-3"></div>
                <div>
                    <h6 class="text-left b-b bold text-velvet text-spaced-medium" >Brands</h6>
                    </div>
                <div class="aa-dataset-4"></div>
                </div>
            <div id="ddCategory">
                </div> 
            </div>
        </div>
    </div>