<div class="my-custom-menu scrollable">
    <div class="row padding-2v">
        <div class="col-xs-12 text-center" id="ddCol2"> 
            <div id="ddBrands">
                <div>
                    <h5 class="text-left b-b bold text-pink-darker" >Products</h5>
                    </div>
                <div class="aa-dataset-2"></div>
                <div>
                    <h5 class="text-left b-b bold text-pink-darker" >Brands</h5>
                    </div>
                <div class="aa-dataset-3"></div> 
                </div>
            <div id="ddCategory">
                </div> 
            </div>
        </div>
    </div>