<div class="my-custom-menu scrollable">
    <div class="row padding-2v">
        <div class=" auto-margin text-center bg-master-blue">
            <div class="radio radio-primary radio-search-selection">
                <input type="radio" value="none" name="optionSearchMobile" id="allSearchMobile" data-search="ALL">
                <label for="allSearchMobile" class="bold fs-16 all-caps"> Alla </label>
                <input type="radio" value="WOMEN" name="optionSearchMobile" id="womenSearchMobile" data-search="WOMEN">
                <label for="womenSearchMobile" class="bold fs-16 all-caps"> Kvinna </label>
                <input type="radio" value="MEN" name="optionSearchMobile" id="menSearchMobile" data-search="MEN">
                <label for="menSearchMobile" class="bold fs-16 all-caps"> Man</label>
            </div>
        </div>
        <div class="col-xs-12 text-center" id="ddCol2"> 
            <div id="ddBrands">
                <div>
                    <h6 class="text-left b-b bold text-velvet text-spaced-medium">Produktor</h6>
                    </div>
                <div class="aa-dataset-3"></div>
                <div>
                    <h6 class="text-left b-b bold text-velvet text-spaced-medium">Märken</h6>
                    </div>
                <div class="aa-dataset-4"></div>
                </div>
            <div id="ddCategory">
                </div> 
            </div>
        </div>
    </div>