<h1 class="text-spaced-medium no-padding b-b all-caps">Kontakta Oss</h1>
<div class="row">
    <div class=" col-xs-12 padding-2v m-b-1v " >
        <h2 class="text-left bold">Kontakta oss</h2>
        <div class="container-fixed-lg text-left">
            <h5>Du är varmt välkommen att kontakta oss via e-post.</h5>
            <div class="row">
                <div class="col-xs-12 col-md-12 text-left bg-master-lightest">
                    <h4 class="bold">info@brantu.com</h4>
                    <h5>Brantu AB</h5>
                    <h5>Scheelevägen 15 <br/>22730, Lund Sweden</h5>
                </div>
            </div>
        </div>
    </div>
</div>






