<div class="container">
    <div class="row no-margin" >
        <div class="col-md-4 bg-image no-margin no-padding" style="background-image:url('/images/join-shop/about.jpg'); background-position: center;">
            <div class="padding-30  full-height gradient-velvet-opacity" style="">
                <h6 class="text-center text-white medium b-t b-b b-grey p-t-5 p-b-5">Brantu är en modebaserad sökmotor med visionen att erbjuda det bästa priset genom att jämföra och hitta det bästa priset från över 100 000 produkter.</h6>
                <ul class="text-center text-white no-style p-t-20">
                    <li><a href="/about-us"><h3 class="text-white" >Om oss</h3></a></li>
                    <li><a href="/faq">     <h3 class="text-white">FAQ</h3></a></li>
                    <li><a href="/privacy-policy"><h3 class=" text-white">Integritetspolicy</h3></a></li>
                    <li><a href="/terms-and-conditions"><h3 class="text-white">Terms of Use</h3></a></li>
                    <li><a href="/cookie-policy"><h3 class="text-white">Cookie policy</h3></a></li>
                </ul>
                <div class=" text-center m-t-30 b-t b-b b-grey" >
                    <h2 class="all-caps text-white">Kom ihåg</h2>
                    <p class="text-white">BRANTU.com säljer inte kläderna som visas på sidan, alla frågor som rör produkter, leverans & betalning bör därför ställas direkt till butiken som säljer plagget.</p>
                </div>
            </div>
        </div>
        <div class="col-md col-xs-12 padding-30">
            <h1 class="text-spaced-medium no-padding b-b all-caps">Kontakta Oss</h1>
            <div class="row">
                <div class="col-md-6  col-xs-12 text-center">
                    <h4 class="bold">Mohamed Rizk</h4>
                    <h5>Brantu</h5>
                    <h5>Scheelevägen 15 <br/>22730, Lund Sweden</h5>
                    <h5> Rizk@Brantu.com</h5>
                </div>
                <div class="col-md col-xs-12 text-center ">
                    <h4 class="bold">Fredrik Granström</h4>
                    <h5>Brantu</h5>
                    <h5>Scheelevägen 15 <br/>22730, Lund Sweden</h5>
                    <h5>Granstrom@Brantu.com</h5>
                </div>
            </div>
        </div>
    </div>
</div>





