
    <div class="container " >
        <div class="row no-margin" >
            <div class="col-md-4  no-margin no-padding" >
                <div class="bg-image" style="background-image:url('/images/join-shop/about.jpg'); background-position: center;">
                    <div class="padding-30 p-b-100  gradient-velvet-opacity" >
                        <h6 class="text-center text-white medium b-t b-b b-grey p-t-5 p-b-5">Brantu är en modebaserad sökmotor med visionen att erbjuda det bästa priset genom att jämföra och hitta det bästa priset från tusentals produkter som våra modenätbutiker.</h6>
                        <ul class="text-center text-white no-style p-t-20">
                            <li><a href="/about-us"><h3  class="text-white">Om oss</h3></a></li>
                            <li><a href="/faq"><h3 class=" sbold text-pink-darker">FAQ</h3></a></li>
                            <li><a href="/privacy-policy"><h3 class="capitalize text-white">Integritetspolicy</h3></a></li>
                            <li><a href="/terms-and-conditions"><h3 class="capitalize  text-white">Medlemsvilkoren</h3></a></li>
                            <li><a href="/cookie-policy"><h3 class="text-white">Cookie policy</h3></a></li>
                        </ul>
                        <div class=" text-center m-t-30 b-t b-b b-grey hidden-xs" >
                            <h2 class="all-caps text-white ">Kom ihåg</h2>
                            <p class="text-white">BRANTU.com säljer inte kläderna som visas på sidan, alla frågor som rör produkter, leverans & betalning bör därför ställas direkt till butiken som säljer plagget.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md col-xs-12 faq padding-30">
                <h1 class="text-spaced-medium b-b bold">FAQ</h1>
                <p>Här har vi samlat svaren på de vanligaste frågorna om BRANTU.COM. Hittar du inte svaret på din fråga nedan så är du naturligtvis välkommen att kontakta oss vilket du enklast gör genom att skicka oss ett mail på info@brantu.com så svarar vi på din fråga så fort vi kan.</p>
                <h3 class="text-spaced">Butiker</h3>
                <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#1" aria-expanded="false" aria-controls="1" class="collapsed">
                                    Leverans, storlekar & produktfrågor
                                </a>
                            </h4>
                        </div>
                        <div id="1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">BRANTU.com säljer inte kläderna som visas på sidan, alla frågor som rör produkter, leverans & betalning bör därfär ställas direkt till butiken som säljer plagget.</div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion5" href="#5" aria-expanded="false" aria-controls="5" class="collapsed">
                                    Vilka nätbutiker samarbetar ni med?
                                </a>
                            </h4>
                        </div>
                        <div id="5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">BRANTU.COM samarbetar med  de största svenska och internationella modenätbutikerna. Exempelvis asos.com, NA-KD, Nelly, Boozt.com, STYLEPIT, Mr Porter och många fler. </div>
                        </div>
                    </div>
                </div>
                <h3 class="text-spaced">Medlem</h3>
                <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion2" href="#2" aria-expanded="false" aria-controls="2" class="collapsed">
                                    Kostar det något att vara medlem?
                                </a>
                            </h4>
                        </div>
                        <div id="2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">Nej. BRANTU.com är helt gratis att använda.</div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title text-spaced">
                                <a data-toggle="collapse" data-parent="#accordion3" href="#3" aria-expanded="false" aria-controls="3" class="collapsed">
                                    Kan jag ändra vilka varumärken jag följer ? (coming soon)
                                </a>
                            </h4>
                        </div>
                        <div id="3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">Ja, det går när som helst att lägga till och ta bort varumärken. Vi rekommenderar att följa minst tre varumärken men det går bra att ha så många och så få som passar just dig.(Coming soon)</div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion4" href="#4" aria-expanded="false" aria-controls="4" class="collapsed">
                                    Hur blir jag medlem hos BRANTU.COM?
                                </a>
                            </h4>
                        </div>
                        <div id="4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">Det är enkelt att bli medlem hos BRANTU.com och du kan vara igång och shoppa inom 1 minut. Vi erbjuder olika alternativ. Antingen kan du bli medlem genom att ange din e-postadress och önskat lösenord. Ännu enklare är det att bli medlem och sköta inloggningen med hjälp av Facebook.</div>
                        </div>
                    </div>
                </div>
                <h3 class="text-spaced">Platform</h3>
                <div class="panel-group" id="accordion6" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#6" aria-expanded="false" aria-controls="6" class="collapsed">
                                    Vilka plattformar stödjer ni?
                                </a>
                            </h4>
                        </div>
                        <div id="6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">BRANTU.com stödjer följande webbläsare:<br/>
                                <b>Windows:</b>Internet Explorer 10 eller senare, Chrome och Firefox<br/>
                                <b>Apple:</b> Safari, Chrome, Firefox<br/>
                                    <b>Mobiler och surfplattor:</b> iPhone och iPad med Safari, Android Browser samt Chrome for mobile. </div>
                        </div>
                    </div>
                </div>

                <p><b>Annonsblockerare:</b> Plugins och tredjepartsprogramvara som är avsedd att blockera annonser i din webbläsare kan störa shoppingupplevelsen. Om du har en sådan programvara installerad för din webbläsare, såsom Adblock eller Adblock Pro/Plus, så måste du lägga till https://www.brantu.com som undantag i programmets inställningar.
                </p>
                <p> <b>Hur gör jag om jag inte hittar svaret på min fråga här?</b><br/>
                    Skicka ett mail till oss på info@brantu.com så så hjälper vi dig så snart som möjligt.</p>
            </div>
        </div>


        <div class="row">
            <div class=" col-xs-12 padding-2v m-b-1v bg-master-light" >
                <h2 class="text-center bold">Kontakta oss</h2>
                <div class="container-fixed-lg text-center">
                    <h5>Du är varmt välkommen att kontakta oss via e-post.</h5>
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-md-offset-4 text-center bg-master-lightest">
                            <h4 class="bold">info@brantu.com</h4>
                            <h5>Brantu</h5>
                            <h5>Scheelevägen 15 <br/>22730, Lund Sweden</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



