<style>
    #feature-1 .banner,#feature-2 .banner, #feature-3 .banner, #feature-4 .banner{
        height: 400px;
    }

    #feature-1 .banner{
        background-image:url('/images/home/quick-search.jpg'); ;
    }
    #feature-2 .banner{
        background-image:url('/images/home/compare-products.jpg'); background-position: 50% 10%;
    }
    #feature-3 .banner {
        background-image: url('/images/home/compare-styles.jpg');
        background-position: 50% 90%;

    }
    #feature-4 .banner {
        background-image: url('/images/home/easy-filter.jpg');

    }

    @media (max-width: 480px)  {
        #feature-1 .banner,#feature-2 .banner, #feature-3 .banner, #feature-4 .banner{
            height: 300px;
        }
        #feature-1 .banner{
            background-image:url('/images/home/quick-search_mobile.jpg');
        }
        #feature-2 .banner{
            background-image:url('/images/home/compare-products_mobile.jpg'); background-position: 50% 10%;
        }
        #feature-3 .banner {
            background-image: url('/images/home/compare-styles_mobile.jpg');
            background-position: 50% 90%;

        }
        #feature-4 .banner {
            background-image: url('/images/home/easy-filter_mobile.jpg');

        }

    }


</style>

<div class="container" id="how-it-works">
<div class="b-grey p-t-20 p-b-20 product-description" >
    <div class="text-center row p-t-5 p-b-5" style="color:#aaa;">
        <div class="col-xs-12 col-sm-12 fs-16  medium inline" id="feature-1">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="product-description-header visible-xs">
                        <div class="inline v-align-middle">
                            <svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 65 63" enable-background="new 0 0 65 63" xml:space="preserve">
                                                <title>Zoom-out</title>
                                                <desc>Created with Sketch.</desc>
                                                <g id="Page-1" sketch:type="MSPage">
                                                    <g id="Zoom-out" transform="translate(1.000000, 1.000000)" sketch:type="MSLayerGroup">
                                                        <path id="Shape" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M41.39,32.486L62,53.08L55.081,60
                                                            L35.188,40.107"></path>
                                                        <circle id="Oval" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" cx="22.017" cy="22.017" r="22.017">
                                                        </circle>
                                                    </g>
                                                </g>
                                                </svg>
                        </div>
                        <h4 class="inline p-l-5 v-align-middle p-t-5 text-purple bold">Snabb sökning</h4>
                    </div>
                    <div class="modal-body ">
                        <div  class="full-width bg-image relative banner">

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 description">
                    <div class="product-description-header hidden-xs">
                        <div class="inline v-align-middle">
                            <svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 65 63" enable-background="new 0 0 65 63" xml:space="preserve">
                                                <title>Zoom-out</title>
                                                <desc>Created with Sketch.</desc>
                                                <g id="Page-1" sketch:type="MSPage">
                                                    <g id="Zoom-out" transform="translate(1.000000, 1.000000)" sketch:type="MSLayerGroup">
                                                        <path id="Shape" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M41.39,32.486L62,53.08L55.081,60
                                                            L35.188,40.107"></path>
                                                        <circle id="Oval" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" cx="22.017" cy="22.017" r="22.017">
                                                        </circle>
                                                    </g>
                                                </g>
                                                </svg>
                        </div>
                        <h4 class="inline p-l-5 v-align-middle p-t-5 text-purple bold">Snabb sökning</h4>
                    </div>
                    <div class="p-t-10 p-b-10" style="background: rgba(255,255,255,0.7);">
                        <p class="fs-16 text-center text-black bold p-l-10 p-r-10">
                            Vi vet att det kan vara svårt att gå igenom alla shoppingsajterna för att hitta rätt produkter till rätt pris. Vi hjälper dig därför att snabbt hitta och jämföra din stil från alla de stora shoppingsiterna till det bästa priset online.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 fs-16  medium inline m-t-40" id="feature-2">
            <div class="row">
                <div class="col-xs-12 col-sm-6 hidden-xs description">
                    <div class="product-description-header">
                        <div class="inline v-align-middle">
                            <svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 64 60" enable-background="new 0 0 64 60" xml:space="preserve">
                                        <title>Balance</title>
                                        <desc>Created with Sketch.</desc>
                                        <g id="Page-1" sketch:type="MSPage">
                                            <g id="Balance" transform="translate(1.000000, 1.000000)" sketch:type="MSLayerGroup">
                                                <path id="Shape" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M31,6v47"></path>
                                                <circle id="Oval" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" cx="31" cy="3" r="3">
                                                </circle>
                                                <path id="Shape_1_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M7,13h48"></path>
                                                <path id="Shape_2_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M11,54h40"></path>
                                                <path id="Shape_3_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M6,58h50"></path>
                                                <path id="Shape_4_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M0,37v3h14v-3"></path>
                                                <path id="Shape_5_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M48,37v3h14v-3"></path>
                                                <path id="Shape_6_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M1,35l6-22l6,22"></path>
                                                <path id="Shape_7_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M49,35l6-22l6,22"></path>
                                            </g>
                                        </g>
                                        </svg>
                        </div>
                        <h4 class="inline p-l-5 v-align-middle p-t-5 text-purple bold">Jämför priser för samma produkt</h4>
                    </div>
                    <div class=" p-t-10 p-b-10 hidden-xs">
                        <p class="fs-16 text-left text-black bold p-l-10 p-r-10">
                            Brantu erbjuder dig kläder, skor från alla de stora shoppingsiterna och hjälper dig jämföra och hitta ditt favoritplagg till rätt pris online.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="product-description-header visible-xs">
                        <div class="inline v-align-middle">
                            <svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 64 60" enable-background="new 0 0 64 60" xml:space="preserve">
                                        <title>Balance</title>
                                        <desc>Created with Sketch.</desc>
                                        <g id="Page-1" sketch:type="MSPage">
                                            <g id="Balance" transform="translate(1.000000, 1.000000)" sketch:type="MSLayerGroup">
                                                <path id="Shape" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M31,6v47"></path>
                                                <circle id="Oval" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" cx="31" cy="3" r="3">
                                                </circle>
                                                <path id="Shape_1_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M7,13h48"></path>
                                                <path id="Shape_2_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M11,54h40"></path>
                                                <path id="Shape_3_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M6,58h50"></path>
                                                <path id="Shape_4_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M0,37v3h14v-3"></path>
                                                <path id="Shape_5_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M48,37v3h14v-3"></path>
                                                <path id="Shape_6_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M1,35l6-22l6,22"></path>
                                                <path id="Shape_7_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M49,35l6-22l6,22"></path>
                                            </g>
                                        </g>
                                        </svg>
                        </div>
                        <h4 class="inline p-l-5 v-align-middle p-t-5 text-purple bold">Jämför priser för samma produkt</h4>
                    </div>
                    <div class="modal-body">
                        <div   class="full-width bg-image relative banner"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 visible-xs description">
                    <div class="product-description-header hidden-xs">
                        <div class="inline v-align-middle">
                            <svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 64 60" enable-background="new 0 0 64 60" xml:space="preserve">
                                        <title>Balance</title>
                                        <desc>Created with Sketch.</desc>
                                        <g id="Page-1" sketch:type="MSPage">
                                            <g id="Balance" transform="translate(1.000000, 1.000000)" sketch:type="MSLayerGroup">
                                                <path id="Shape" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M31,6v47"></path>
                                                <circle id="Oval" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" cx="31" cy="3" r="3">
                                                </circle>
                                                <path id="Shape_1_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M7,13h48"></path>
                                                <path id="Shape_2_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M11,54h40"></path>
                                                <path id="Shape_3_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M6,58h50"></path>
                                                <path id="Shape_4_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M0,37v3h14v-3"></path>
                                                <path id="Shape_5_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M48,37v3h14v-3"></path>
                                                <path id="Shape_6_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M1,35l6-22l6,22"></path>
                                                <path id="Shape_7_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M49,35l6-22l6,22"></path>
                                            </g>
                                        </g>
                                        </svg>
                        </div>
                        <h4 class="inline p-l-5 v-align-middle p-t-5 text-purple bold">Jämför priser för samma produkt</h4>
                    </div>
                    <div class=" p-t-10 p-b-10 ">
                        <p class="fs-16 text-center text-black bold p-l-10 p-r-10">
                            We know how hard it can be to go through all stores to find your style to your budget.
                            So now when you view a product and we will find you
                            similar styles from all over the stores at a lower price
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 fs-16  medium inline m-t-40" id="feature-3">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="product-description-header visible-xs">
                        <div class="inline v-align-middle">
                            <svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 64 56" enable-background="new 0 0 64 56" xml:space="preserve">
                                            <title>T-shirt</title>
                                            <desc>Created with Sketch.</desc>
                                            <g id="Page-1" sketch:type="MSPage">
                                                <g id="T-shirt" transform="translate(1.000000, 1.000000)" sketch:type="MSLayerGroup">
                                                    <path id="Shape_3_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M52,0H38.931
                                                        C38.438,3.945,35.078,7,31,7s-7.438-3.055-7.931-7H10H0v15h10v39h42V15h10V0H52L52,0z"></path>
                                                    <path id="Shape" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M11,50h32"></path>
                                                    <path id="Shape_1_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M4,1v11"></path>
                                                    <path id="Shape_2_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M58,1v11"></path>
                                                </g>
                                            </g>
                                            </svg>
                        </div>
                        <h4 class="inline p-l-5 v-align-middle p-t-5 text-purple bold">Jämför den stilen du gillar till bästa priset</h4>
                    </div>
                    <div class="modal-body">
                        <div  style="" class="full-width bg-image relative banner">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 description">
                    <div class="product-description-header hidden-xs">
                        <div class="inline v-align-middle">
                            <svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 64 56" enable-background="new 0 0 64 56" xml:space="preserve">
                                            <title>T-shirt</title>
                                            <desc>Created with Sketch.</desc>
                                            <g id="Page-1" sketch:type="MSPage">
                                                <g id="T-shirt" transform="translate(1.000000, 1.000000)" sketch:type="MSLayerGroup">
                                                    <path id="Shape_3_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M52,0H38.931
                                                        C38.438,3.945,35.078,7,31,7s-7.438-3.055-7.931-7H10H0v15h10v39h42V15h10V0H52L52,0z"></path>
                                                    <path id="Shape" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M11,50h32"></path>
                                                    <path id="Shape_1_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M4,1v11"></path>
                                                    <path id="Shape_2_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2" d="M58,1v11"></path>
                                                </g>
                                            </g>
                                            </svg>
                        </div>
                        <h4 class="inline p-l-5 v-align-middle p-t-5 text-purple bold">Jämför den stilen du gillar till bästa priset</h4>
                    </div>
                    <p class="fs-16 text-center text-black bold p-l-10 p-r-10">
                        Har du intresse kan du ta reda på vad du verkligen gillar, du kan köpa efter din egen smak och få produkten att passa just din kropp. Du kan ha en klar bild över vilka färg- och mönsterkombinationer du inspireras av oavsett om den är från ASOS eller PRADA. Det finns otaliga exempel där avsändaren och priset på kostymen eller de stentvättade jeansen varit viktigare än den faktiska estetiken.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 fs-16  medium inline m-t-40" id="feature-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 hidden-xs description">
                    <div class="product-description-header hidden-xs">
                        <div class="inline v-align-middle">
                            <svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 56 63" enable-background="new 0 0 56 63" xml:space="preserve">
                                        <title>Target</title>
                                        <desc>Created with Sketch.</desc>
                                        <g id="Page-1" sketch:type="MSPage">
                                            <g id="Target" transform="translate(1.000000, 0.000000)" sketch:type="MSLayerGroup">
                                                <circle id="Oval" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2.4091" cx="27" cy="31.5" r="26.5">
                                                </circle>

                                                    <circle id="Oval_1_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2.4091" cx="27" cy="31.5" r="19.273">
                                                </circle>

                                                    <circle id="Oval_2_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2.4091" cx="27" cy="31.5" r="10.841">
                                                </circle>

                                                    <circle id="Oval_3_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2.4091" cx="27" cy="31.5" r="3.614">
                                                </circle>
                                            </g>
                                        </g>
                                        </svg>
                        </div>
                        <h4 class="inline p-l-5 v-align-middle p-t-5 text-purple bold">Filtrera dina sökningar ner till minsta detalj.</h4>
                    </div>
                    <div class=" p-t-10 p-b-10 hidden-xs" style="background: rgba(255,255,255,0.7);">
                        <p class="fs-16 text-center text-black bold p-l-10 p-r-10">
                            Hos oss kan du filtrera dina sökningar ner till minsta detalj. Oavsett om det är märket, färgen, priset, materialet, storlek eller hur mycket rea produkten ska ha. Vad du än letar efter gör vi din sökning så smidig som möjligt.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="product-description-header visible-xs">
                        <div class="inline v-align-middle">
                            <svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 56 63" enable-background="new 0 0 56 63" xml:space="preserve">
                                        <title>Target</title>
                                        <desc>Created with Sketch.</desc>
                                        <g id="Page-1" sketch:type="MSPage">
                                            <g id="Target" transform="translate(1.000000, 0.000000)" sketch:type="MSLayerGroup">
                                                <circle id="Oval" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2.4091" cx="27" cy="31.5" r="26.5">
                                                </circle>

                                                    <circle id="Oval_1_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2.4091" cx="27" cy="31.5" r="19.273">
                                                </circle>

                                                    <circle id="Oval_2_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2.4091" cx="27" cy="31.5" r="10.841">
                                                </circle>

                                                    <circle id="Oval_3_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2.4091" cx="27" cy="31.5" r="3.614">
                                                </circle>
                                            </g>
                                        </g>
                                        </svg>
                        </div>
                        <h4 class="inline p-l-5 v-align-middle p-t-5 text-purple bold">Filtrera dina sökningar ner till minsta detalj.</h4>
                    </div>
                    <div class="modal-body">
                        <div   class="full-width bg-image relative banner"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 visible-xs description">
                    <div class="product-description-header hidden-xs">
                        <div class="inline v-align-middle">
                            <svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 56 63" enable-background="new 0 0 56 63" xml:space="preserve">
                                        <title>Target</title>
                                        <desc>Created with Sketch.</desc>
                                        <g id="Page-1" sketch:type="MSPage">
                                            <g id="Target" transform="translate(1.000000, 0.000000)" sketch:type="MSLayerGroup">
                                                <circle id="Oval" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2.4091" cx="27" cy="31.5" r="26.5">
                                                </circle>

                                                    <circle id="Oval_1_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2.4091" cx="27" cy="31.5" r="19.273">
                                                </circle>

                                                    <circle id="Oval_2_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2.4091" cx="27" cy="31.5" r="10.841">
                                                </circle>

                                                    <circle id="Oval_3_" sketch:type="MSShapeGroup" fill="none" stroke="#aaaaaa" stroke-width="2.4091" cx="27" cy="31.5" r="3.614">
                                                </circle>
                                            </g>
                                        </g>
                                        </svg>
                        </div>
                        <h4 class="inline p-l-5 v-align-middle p-t-5 text-purple bold">Filtrera dina sökningar ner till minsta detalj.</h4>
                    </div>
                    <div class=" p-t-10 p-b-10" style="background: rgba(255,255,255,0.7);">
                        <p class="fs-16 text-center text-black bold p-l-10 p-r-10">
                            We know how hard it can be to go through all stores to find your style to your budget.
                            So now when you view a product and we will find you
                            similar styles from all over the stores at a lower price
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>