
    <div class="container " >
        <div class="row no-margin" >
            <div class="col-md-4  no-margin no-padding" >
                <div class="bg-image" style="background-image:url('/dist/images/join-shop/about.jpg'); background-position: center;">
                    <div class="padding-30 p-b-100  gradient-velvet-opacity" >
                        <h6 class="text-center text-white medium b-t b-b b-grey p-t-5 p-b-5">Brantu är en modebaserad sökmotor med visionen att erbjuda det bästa priset genom att jämföra och hitta det bästa priset från tusentals produkter som våra modenätbutiker.</h6>
                        <ul class="text-center text-white no-style p-t-20">
                            <li><a href="/about-us"><h3  class="text-white">Om oss</h3></a></li>
                            <li><a href="/faq"><h3 class="text-white ">FAQ</h3></a></li>
                            <li><a href="/privacy-policy"><h3 class="capitalize  sbold text-pink-darker">Integritetspolicy</h3></a></li>
                            <li><a href="/terms-and-conditions"><h3 class="capitalize  text-white">Medlemsvilkoren</h3></a></li>
                            <li><a href="/cookie-policy"><h3 class="text-white">Cookie policy</h3></a></li>
                        </ul>
                        <div class=" text-center m-t-30 b-t b-b b-grey hidden-xs" >
                            <h2 class="all-caps text-white ">Kom ihåg</h2>
                            <p class="text-white">BRANTU.com säljer inte kläderna som visas på sidan, alla frågor som rör produkter, leverans & betalning bör därför ställas direkt till butiken som säljer plagget.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md col-xs-12 faq padding-30">
                <h1 class="text-spaced-medium b-b  all-caps">Integritetspolicy</h1>
                <p class="p-t-20" >Denna integritetspolicy reglerar Brantu HB:s org.nr. 969778-2861, (”Brantu”) behandling av personuppgifter. Brantu arbetar kontinuerligt för att säkerställa att användares integritet skyddas vid nyttjandet av Brantus tjänster.
                </p>

                <p>Denna integritetspolicy gäller alla användare av Brantus onlinetjänster (”Användare”). Policyn beskriver hur Brantu behandlar och skyddar Användares personuppgifter. Genom att använda Brantus tjänster och tillhandahålla Brantu personuppgifter, samtycker Användare till Brantus behandling av personuppgifterna i enlighet med denna policy. Vissa av Brantus tjänster kan utnyttjas utan att personuppgifter uppges.</p>
                <p>Om Användare inte samtycker till behandling av sina personuppgifter i enlighet med denna policy, bör Användare inte förse Brantu med några personuppgifter. Om Användare försett Brantu med personuppgifter och vill återkalla medgivande till behandling, ska detta meddelas Brantu skriftligen till info@brantu.com. Notera att viss behandling enligt lag får ske utan Användarens medgivande, t.ex. om det krävs för att uppfylla Brantus åtaganden mot Medlemskap i Brantu.</p>

                <h5 class="bold">Vem ansvarar för personuppgifterna?</h5>
                <p>
                    <b>Brantu HB, org.nr. 969778-2861,</b><br/>
                    info@brantu.com<br/>
                    +46762684591<br/>
                    SCHEELEVÄGEN 15D<br/>
                    223 63 LUND<br/>
                    SKÅNE LÄN<br/>
                    SVERIGE<br/><br/>
                    är personuppgiftsansvarig och ansvarar för att personuppgifterna behandlas i enlighet med gällande svensk lagstiftning.  I den mån Brantu använder sig av personuppgiftsbiträden har Brantu ingått nödvändiga avtal med dessa för att säkra att de behandlar personuppgifterna i enlighet med gällande lagstiftning och Brantus instruktioner.
                </p>

                <h5 class="bold p-t-10">Var lagras personuppgifter? </h5>
                <p>Personuppgifter behandlas inom EU, men kan komma att behandlas i andra områden både inom och utanför Europeiska unionen och det europeiska ekonomiska samarbetsområdet (EU/EES). All överföring av personuppgifter sker i enlighet med gällande lag.  </p>

                <h5 class="bold p-t-10">Vilka personuppgifter behandlas? </h5>
                <p>De personuppgifter som kan komma att behandlas avser Användares: </p>
                <ul>
                    <li>Beställningar/bokningar, </li>
                    <li>Medlemskap,  </li>
                    <li>Geografisk Plats (Genom Användarens IP-Adress),</li>
                    <li>Kontaktinformation, </li>
                    <li>Födelsedatum, </li>
                    <li>Klädstorlek,</li>
                    <li>Kön,</li>
                    <li>varumärken, butiker, leverantörer och tjänster som Användaren ofta besöker/klickar på, och</li>
                </ul>
                <p>
                    För att Brantu ska kunna fullgöra sina åtaganden gentemot Användare, såsom att ge god service, kan personuppgifterna även komma att samköras med andra register. Detta kan exempelvis innefatta uppdatering av adresser med hjälp av adressregister eller inhämtning av information från sociala medier. </p>

                <h5 class="bold p-t-10">För vilka ändamål behandlas personuppgifterna? </h5>
                <p>Personuppgifterna behandlas för att underlätta Användares nyttjande av Brantus tjänster. Brantu samlar in personuppgifter för följande ändamål:</p>
                <ul>
                    <li>Skapa och hantera medlemskap i Brantu, </li>
                    <li>Dela information om köp med partners, </li>
                    <li>Besvara frågor och informera om nya eller ändrade tjänster,</li>
                    <li>Utskick av marknadsföringserbjudanden, nyhetsbrev och kataloger,</li>
                    <li>Profilering för individualiserad marknadsföring, erbjudanden och nyhetsbrev,   </li>
                    <li>Beräkning av Hjärtan,</li>
                    <li>Verifiera att minimiåldern för medlemskap i Brantu är uppfylld,</li>
                    <li>Skicka enkäter,</li>
                    <li>Testa och förbättra tjänsterna samt system som tillhandahåller Brantus tjänster,</li>
                    <li>Förhindra missbruk eller olämplig användning, och</li>
                    <li>skapa avidentifierad statistik,</li>
                </ul>
                <p>När ändamålen, till vilka de samlades in för, är uppfyllda raderas personuppgifterna utan onödigt dröjsmål. </p>

                <h5 class="bold p-t-10">Vem har tillgång till personuppgifterna?   </h5>
                <p>Användares personuppgifter lagras hos Brantu och kan komma att delas inom Brantus verksamhet. Uppgifter kan även delas med partners i syfte att bl.a. underlätta vid köp och genomföra statistiska sammanställningar. Delning av personuppgifter görs endast i enlighet med Användarens samtycke och för ovan nämnda ändamål, såvida Brantu inte är tvungen att lämna ut personuppgifter för att uppfylla ett åtagande mot Användaren eller på grund av domstols- eller myndighetsbeslut.</p>
                <h5 class="bold p-t-10">Cookies </h5>
                <p>Brantu och vissa partners använder sig av cookies. Användning av cookies sker i enlighet med Brantus <a class="bold text-velvet" href="/cookie-policy">Cookie Policy</a>.  </p>

                <h5 class="bold p-t-10">Vilka rättigheter har Användare?</h5>
                <p>Användare har rätt att få felaktiga, ofullständiga eller irrelevanta personuppgifter rättade eller raderade förutsatt att det inte finns ett lagstadgat krav att Brantu ska lagra personuppgifterna eller Brantu har rätt och behov av att behålla dem för att utföra ett åtagande mot Användaren. Användare har även rätt att årligen, efter skriftlig begäran till Brantu till info@brantu.com, få information om vilka personuppgifter om Användaren som Brantu behandlar.
                    <br/><br/> Användare kan när som helst återkalla sitt samtycke till behandlingen av personuppgifter. Detta görs genom att skriva till info@brantu.com eller ringa till +46762684591. Återkallas ett samtycke kommer personuppgifterna raderas utan onödigt dröjsmål. Notera att Brantu, som framgår ovan, enligt lag har rätt att utföra viss behandling utan Användarens samtycke.</p>
                <h5 class="bold p-t-10">Hur skyddar Brantu Användares personuppgifter? </h5>
                <p>Behandlingen kan aldrig vara 100 % säker men Brantu vidtager tekniska och organisatoriska åtgärder för att skydda personuppgifterna från förlust, manipulation och obehörig åtkomst. Brantu anpassar fortlöpande säkerhetsåtgärderna vartefter förutsättningarna förändras.
                    <br/><br/>Brantu ansvarar inte för partners integritetsskydd, ändamål och behandling av personuppgifter eller innehållet på de webbsidor som Brantus webbplats länkar till. Dessa länkar tillhandahålls endast för att förenkla för Användare att finna mer information om specifika varor och tjänster, samt genomföra köp. </p>
                <h5 class="bold p-t-10">Övrigt </h5>
                <p>Brantu förbehåller sig rätt att utan varsel ändra denna integritetspolicy. Fortsatt användning av Brantus webbplats ses som ett samtycke till sådana förändringar. För att hållas uppdaterad om eventuella förändringar av denna integritetspolicy, vänligen kontrollera innehållet i denna integritetspolicy vid varje besök av Brantus webbplats.  </p>
            </div>
        </div>


        <div class="row">
            <div class=" col-xs-12 padding-2v m-b-1v bg-master-light" >
                <h2 class="text-center bold">Kontakta oss</h2>
                <div class="container-fixed-lg text-center">
                    <h5>Du är varmt välkommen att kontakta oss via e-post.</h5>
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-md-offset-4 text-center bg-master-lightest">
                            <h4 class="bold">info@brantu.com</h4>
                            <h5>Brantu</h5>
                            <h5>Scheelevägen 15 <br/>22730, Lund Sweden</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
