
            <div class="col-md col-xs-12 faq padding-30">
                <h1 class="text-spaced-medium b-b all-caps">Medlemsvilkoren</h1>
                <h4><b>Medlemsvillkor för Brantu HB, org. nr. 969778-2861, (”Brantu”) medlemsprogram ”Brantu”.</b></h4>
                <p>Brantu erbjuder ett naturligt sätt att njuta av online shopping. Brantu har en enkel och personifierad webbsida som ger användare möjligheten att upptäcka varor och tjänster på ett strukturerat och smidigt sätt. Genom medlemskap i Brantus medlemsprogram kan användaren fynda vid varje köp. </p>
                <h4 class="p-t-10 bold">INTRODUKTION </h4>
                <p>Medlemskapet i Brantu är öppet för fysiska personer som fyllt 13 år <b>(”Medlemmar”)</b>. Medlemmar kan, genom köp av varor och tjänster från Brantus samarbetspartners <b>(”Partners”)</b>.</p>
                <p>Medlemskapet är gratis. Brantu möjliggör att medlemmen kan söka och få produktinformation från våra Partners och  interagera med sådana produkter genom att dela, skicka, kommentera och läggas till i en favoritlista. Brantu erbjuder en tjänst med inspiration av handplockade produktförslag till användare som relaterar till deras demografi, sociala nätverksprofil, intressen och beteenden. </p>

                <h4 class="p-t-10 bold">MEDLEMSKAPET </h4>
                <ol type="1">
                    <li><p>Medlemskapet i Brantu är personligt, endast tillgängligt för fysiska personer som fyllt 13 år och gäller tills vidare. Juridiska personer kan inte bli Medlemmar. Medlemsvillkoren är ett avtal mellan Brantu och Medlemmen personligen. </p></li>
                    <li><p>Genom att gå med i Brantu accepterar och godkänner Medlemmen vid var tid gällande medlemsvillkor. Var gång Medlemmen använder sin profil accepterar Medlemmen eventuella förändringar i medlemsvillkoren.</p></li>
                    <li><p>Två eller flera personer kan inte registreras på samma profil. Medlemskapet registreras med Medlemmens namn, e-postadress och kön. Medlemmen kan även koppla medlemskap till sin Facebookprofil eller andra sociala medier till vilka Brantu erbjuder förbindelse. Om namnbyte sker ska anmälan om detta göras skriftligt och personbevis bifogas anmälan till info@brantu.com</p></li>

                    <h5 class="p-t-10 bold"><u>Upphörande</u> </h5>
                    <li><p>Medlemmen kan avsluta sitt medlemskap när som helst genom att skriftligen meddela info@brantu.com. Detta hindrar inte senare registrering av nytt medlemskap.</p></li>
                    <li><p>Brantu har rätt att avsluta medlemskap och utesluta Medlem ur Brantu om Brantu anser att medlemskapet missbrukas eller Medlem på annat vis bryter mot medlemsvillkoren. Missbruk kan leda till polisanmälan och/eller ersättningsansvar. Brantu förbehåller sig rätt att vägra utesluten Medlem nytt medlemskap. </p></li>
                    <li><p>Om Brantu väljer att inte utesluta en Medlem enligt punkt 5, har Brantu rätt att istället temporärt spärra Medlemmens profil. Spärren hindrar inte senare uteslutning enligt punkt 5.</p></li>
                    <li><p>Vid Medlemmens bortgång avslutas medlemskapet.</p></li>

                    <h5 class="p-t-10 bold"><u>BEHANDLING AV PERSONUPPGIFTER</u> </h5>
                    <li><p>Brantu HB, org. nr 969778-2861, info@brantu.com, +46762684591, SCHEELEVÄGEN 15D 22363 Lund, Sverige är personuppgiftsansvarig. Personuppgifter Medlemmen i samband med registeringen och därefter lämnar eller på annat vis kommer Brantu tillhanda, inom ramen för medlemskapet i Brantu, kommer att behandlas av Brantu eller dess rättsefterträdare i syfte att informera om och administrera medlemskapet samt intjänande och användning av Hjärtan. Personuppgifterna Medlemmen lämnar används för att Brantu ska kunna fullgöra sina åtaganden gentemot Medlemmen. Uppgifterna används i övrigt för att kunna lämna god service, profilering, marknadsföringsändamål, erbjudanden och utskick av nyhetsbrev. För att uppnå detta kan uppgifterna komma att lämnas till Brantus Partners. Uppgifterna kan även komma att användas för direkt marknadsföring avseende Brantus, Partners och andras varor och tjänster. De Partners som omfattas framgår vid var tid av Brantus webbplats. Uppgifterna kan komma att överföras till land såväl inom som utom Europeiska unionen och Europeiska ekonomiska samarbetsområdet (EU/EES). Utöver samtycke till ovan nämnda behandling, samtycker Medlemmen även till att mottaga information och marknadsföringsmaterial per post, e-post, MMS, SMS eller andra elektroniska kanaler, förutsatt att Medlemmen vid registreringen uppgivit nödvändig kontaktinformation.</p></li>
                    <li><p>När du ansöker om att bli Medlem godkänner du behandling av personuppgifter enligt ovan. Samtycke till behandlingen kan återkallas i enlighet med <a class="text-velvet" href="/privacy-policy">Brantus Integritetspolicy</a>. </p></li>
                    <li><p>Brantu kan komma att spara Medlemmens beställningsinformation avseende köp av varor och tjänster så länge medlemskapet gäller eller kortare om lagen kräver det.</p></li>
                    <li><p>Av säkerhetsskäl bör Medlemmen skriftligen informera Brantu om namnbyte och adressändringar eller registrera detta på angiven webbsida. Brantu ansvarar inte för konsekvenserna av felaktiga uppgifter i Brantu om Medlemmen underlåtit att informera Brantu om förändringar därav.</p></li>

                    <h5 class="p-t-10 bold">MEDLEMSKAPET</h5>
                    <li><p>Medlemmen är medveten om att köp av varor och tjänster inte sker på Brantus webbsida utan att Medlemmen vid köp länkas vidare till en av Brantus Partners. Brantu är inte involverad i och ansvarar inte för köp, betalning, leverans, reklamation eller annat som är kopplat till köp.  Medlemmen förstår att Brantu endast agerar som en länk mellan Medlemmen och Partnern och att Brantu erhåller betalning från Partners för de varor och tjänster Medlemmen köper.  </p></li>
                    <li><p>Då Medlemmen fullgör ett köp av varor/tjänster ingår Medlemmen ett avtal med Partnern i enlighet med Partnerns allmänna villkor. Brantu är på intet vis involverad i eller del av köpet.  </p></li>
                    <li><p>Reklamation samt retur sker direkt till respektive Partner. </p></li>

                    <h5 class="p-t-10 bold">TVISTER </h5>
                    <li><p>Vid tvist rörande medlemsvillkoren tillämpas svensk lag utan tillämpning av lagvalsregler. Tvist avgörs i svensk domstol.</p></li>
                    <h5 class="p-t-10 bold">ANSVAR </h5>
                    <li><p>Vad beträffar varor och tjänster som Medlemmen köper av Partners, ansvarar Partnern gentemot Medlemmen i enlighet med Partnerns allmänna villkor. Brantu har inget ansvar gentemot Medlemmen för köp, betalning, leverans, reklamation eller annat för varor och tjänster Medlemmen köper av Partner. </p></li>
                    <h5 class="p-t-10 bold">ÖVRIGT</h5>
                    <li><p>Om någon bestämmelse i medlemsvillkoren visar sig vara ogiltig, overkställbar eller ofullständig ska Brantu ersätta det ogiltiga, overkställbara eller ofullständiga villkoret med giltigt, verkställbart eller fullständigt villkor som så långt möjligt motsvarar det ursprungliga villkorets syfte.</p></li>
                    <li><p>Brantu äger rätt att överlåta Brantu till tredje man eller låta Brantu fusioneras med annat medlemsprogram.</p></li>
                    <li><p>Brantu äger rätt att avsluta Brantu.</p></li>
                    <li><p>Brantu reserverar sig för eventuella ändringar och tryckfel i medlemsvillkoren. Ändringar av föreliggande villkor kan ske utan föregående avisering.</p></li>


                </ol>
            </div>
