<div id="sizes">
    <div class="col-sm-12">
        <h4><u>Women's Sizes </u></h4>

        <ol>
            <li>
                <div class="row row-same-height">
                    <div class="col-md-12">
                        <form id="form-work" class="form-horizontal" role="form" autocomplete="off" novalidate="novalidate">
                            <div class="form-group">
                                <label for="fname" class="col-sm-3 control-label">Dresses</label>
                                <div class="col-sm-9">
                                    <ul class="size-subcategory-preferences-container" data-size-chart-group="1915">
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10268" name="women" value="10268"/>
                                            <label for="1915-10268">00</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10174" name="women" value="10174"/>
                                            <label for="1915-10174">0</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10175" name="women" value="10175"/>
                                            <label for="1915-10175">2</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10176" name="women" value="10176"/>
                                            <label for="1915-10176">4</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10177" name="women" value="10177"/>
                                            <label for="1915-10177">6</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10178" name="women" value="10178"/>
                                            <label for="1915-10178">8</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10179" name="women" value="10179" />
                                            <label for="1915-10179">10</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10180" name="women" value="10180"/>
                                            <label for="1915-10180">12</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10181" name="women" value="10181"/>
                                            <label for="1915-10181">14</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10182" name="women" value="10182"/>
                                            <label for="1915-10182">16</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-12515" name="women" value="12515"/>
                                            <label for="1915-12515">18</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-13230" name="women" value="13230"/>
                                            <label for="1915-13230">20</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-13231" name="women" value="13231"/>
                                            <label for="1915-13231">22</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-13232" name="women" value="13232"/>
                                            <label for="1915-13232">24</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-17040" name="women" value="17040"/>
                                            <label for="1915-17040">26</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-17041" name="women" value="17041"/>
                                            <label for="1915-17041">28</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </li>

            <li>
                <div class="row row-same-height">
                    <div class="col-md-12">
                        <form id="form-work" class="form-horizontal" role="form" autocomplete="off" novalidate="novalidate">
                            <div class="form-group">
                                <label for="fname" class="col-sm-3 control-label">Tops</label>
                                <div class="col-sm-9">

                                    <ul class="size-subcategory-preferences-container" data-size-chart-group="1916">
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1916-10167" name="women" value="10167"/>
                                            <label for="1916-10167">XXS</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1916-10168" name="women" value="10168"/>
                                            <label for="1916-10168">XS</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1916-10169" name="women" value="10169"/>
                                            <label for="1916-10169">S</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1916-10170" name="women" value="10170"/>
                                            <label for="1916-10170">M</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1916-10171" name="women" value="10171"/>
                                            <label for="1916-10171">L</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1916-10172" name="women" value="10172"/>
                                            <label for="1916-10172">XL</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1916-10173" name="women" value="10173"/>
                                            <label for="1916-10173">XXL</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1916-13930" name="women" value="13930"/>
                                            <label for="1916-13930">XXXL</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1916-24553" name="women" value="24553"/>
                                            <label for="1916-24553">XXXXL</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>


            <li>
                <div class="row row-same-height">
                    <div class="col-md-12">
                        <form id="form-work" class="form-horizontal" role="form" autocomplete="off" novalidate="novalidate">
                            <div class="form-group">
                                <label for="fname" class="col-sm-3 control-label">bottoms</label>
                                <div class="col-sm-9">
                                    <ul class="size-subcategory-preferences-container" data-size-chart-group="1915">
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10268" name="women" value="10268"/>
                                            <label for="1915-10268">00</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10174" name="women" value="10174"/>
                                            <label for="1915-10174">0</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10175" name="women" value="10175"/>
                                            <label for="1915-10175">2</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10176" name="women" value="10176"/>
                                            <label for="1915-10176">4</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10177" name="women" value="10177"/>
                                            <label for="1915-10177">6</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10178" name="women" value="10178"/>
                                            <label for="1915-10178">8</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10179" name="women" value="10179" />
                                            <label for="1915-10179">10</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10180" name="women" value="10180"/>
                                            <label for="1915-10180">12</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10181" name="women" value="10181"/>
                                            <label for="1915-10181">14</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10182" name="women" value="10182"/>
                                            <label for="1915-10182">16</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-12515" name="women" value="12515"/>
                                            <label for="1915-12515">18</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-13230" name="women" value="13230"/>
                                            <label for="1915-13230">20</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-13231" name="women" value="13231"/>
                                            <label for="1915-13231">22</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-13232" name="women" value="13232"/>
                                            <label for="1915-13232">24</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-17040" name="women" value="17040"/>
                                            <label for="1915-17040">26</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-17041" name="women" value="17041"/>
                                            <label for="1915-17041">28</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </li>
            <li>
                <div class="row row-same-height">
                    <div class="col-md-12">
                        <form id="form-work" class="form-horizontal" role="form" autocomplete="off" novalidate="novalidate">
                            <div class="form-group">
                                <label for="fname" class="col-sm-3 control-label">Outware <br/> Size Guide</label>
                                <div class="col-sm-9">

                                    <ul class="size-subcategory-preferences-container" data-size-chart-group="1915">
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10268" name="women" value="10268"/>
                                            <label for="1915-10268">00</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10174" name="women" value="10174"/>
                                            <label for="1915-10174">0</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10175" name="women" value="10175"/>
                                            <label for="1915-10175">2</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10176" name="women" value="10176"/>
                                            <label for="1915-10176">4</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10177" name="women" value="10177"/>
                                            <label for="1915-10177">6</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10178" name="women" value="10178"/>
                                            <label for="1915-10178">8</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10179" name="women" value="10179" />
                                            <label for="1915-10179">10</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10180" name="women" value="10180"/>
                                            <label for="1915-10180">12</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10181" name="women" value="10181"/>
                                            <label for="1915-10181">14</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10182" name="women" value="10182"/>
                                            <label for="1915-10182">16</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-12515" name="women" value="12515"/>
                                            <label for="1915-12515">18</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-13230" name="women" value="13230"/>
                                            <label for="1915-13230">20</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-13231" name="women" value="13231"/>
                                            <label for="1915-13231">22</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-13232" name="women" value="13232"/>
                                            <label for="1915-13232">24</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-17040" name="women" value="17040"/>
                                            <label for="1915-17040">26</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-17041" name="women" value="17041"/>
                                            <label for="1915-17041">28</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </li>
            <li>
                <div class="row row-same-height">
                    <div class="col-md-12">
                        <form id="form-work" class="form-horizontal" role="form" autocomplete="off" novalidate="novalidate">
                            <div class="form-group">
                                <label for="fname" class="col-sm-3 control-label">Shoes</label>
                                <div class="col-sm-9">

                                    <ul class="size-subcategory-preferences-container" data-size-chart-group="1915">
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10268" name="women" value="10268"/>
                                            <label for="1915-10268">00</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10174" name="women" value="10174"/>
                                            <label for="1915-10174">0</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10175" name="women" value="10175"/>
                                            <label for="1915-10175">2</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10176" name="women" value="10176"/>
                                            <label for="1915-10176">4</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10177" name="women" value="10177"/>
                                            <label for="1915-10177">6</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10178" name="women" value="10178"/>
                                            <label for="1915-10178">8</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10179" name="women" value="10179" />
                                            <label for="1915-10179">10</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10180" name="women" value="10180"/>
                                            <label for="1915-10180">12</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10181" name="women" value="10181"/>
                                            <label for="1915-10181">14</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-10182" name="women" value="10182"/>
                                            <label for="1915-10182">16</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-12515" name="women" value="12515"/>
                                            <label for="1915-12515">18</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-13230" name="women" value="13230"/>
                                            <label for="1915-13230">20</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-13231" name="women" value="13231"/>
                                            <label for="1915-13231">22</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-13232" name="women" value="13232"/>
                                            <label for="1915-13232">24</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-17040" name="women" value="17040"/>
                                            <label for="1915-17040">26</label>
                                        </li>
                                        <li class="size-item">
                                            <input class="size-input" type="checkbox" id="1915-17041" name="women" value="17041"/>
                                            <label for="1915-17041">28</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </li>

        </ol>
    </div>


</div>
